@charset "utf-8";
// Footer 21/02/2020
footer {
    position: relative;
    background-color: $footer-bg-color;
    .navbar.navbar-footer {
        .menu {
            a {
                position: relative;
                padding: 30px;
                @media (min-width: $media-sp) and (max-width: $sreen-pc) {
                    padding: 15px 30px;
                }
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    width: 1px;
                    height: 30%;
                    background-color: $footer-bg-line;
                    top: 50%;
                    transform: translateY(-50%);
                }
                span {
                    &:first-child {
                        height: 20px;
                    }
                }
            }
            li {
                &:last-child {
                        // background-color: $menu-bg-hover;
                        // color: $white;
                        align-items: center;
                        &:hover {
                            a {
                              color: #FACB3A;
                            }
                          }
                        a {
                        // color: $white;
                        // &:after {
                        //     content: "";
                        //     position: absolute;
                        //     right: 0;
                        //     width: 1px;
                        //     height: 30%;
                        //     background-color: $footer-bg-line;
                        //     top: 50%;
                        //     transform: translateY(-50%);
                        // }
                        @media (min-width: $media-sp) and (max-width: $sreen-pc) {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
        .logo {
            display: flex;
            padding-left: 8.33333333%;
            @media (min-width: $media-sp) and (max-width: $sreen-pc) {
                padding-left: 0;
            }
        }
    }

    @media (max-width:  $media-sp) { 
        .navbar.navbar-footer {
            height: auto;
            flex-direction: column;
            padding-right: 0;
            .logo {
                padding: 2.1% 0;
            }
            .menu {
                width: 100%;
                margin-left: 0;
                a {
                    padding: 2.9% 15px;
                    align-items: flex-start;
                    &::before {
                        content: none;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        right: 15px;
                        width: 8px;
                        height: 14px;
                        background: url(../images/icon01.png) no-repeat;
                    }
                    span {
                        &:first-child {
                            display: none;
                        }
                    }
                }
                li {
                    &:hover {
                        a {
                            &::after {
                                background: none;
                            }
                        }
                    }
                    &:last-child {
                        &:hover {
                            background: none;
                        }
                        a {
                            // margin: 15px;
                            &::after {
                                content: none;
                            }
                        }
                        
                    }
                }
            }
        }
    }
    
    // Footer coppyRight
    .copyright {
        background-color: $footer-color;
        color: $white;
        padding: 33.3px 0;
        text-align: center;
        font-size: 12px;
        @media (max-width: 640px) {
            font-size: get-vw(22px);
        }
        @media (min-width: 641px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        span {
            @media (min-width: 641px) {
                font-size: 7px;
                margin: 0 3px;
            }
        }
    }

    @media (max-width:  $media-sp) { 
        .copyright {
            padding: 4% 0;
        }
    }
}
.footer__br {
    @media (max-width: $media-sp) {
        display: none;
    }
    @media (min-width: $sreen-pc) {
        display: none;
    }
}

#pageTop {
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 998;
    padding: 0;
    opacity: 0;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
    a {
        img {
            width: 100%;
            height: auto;
        }
    }
}
#pageTop.show {
    opacity: 1;
}