@charset "utf-8";
.navbar {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  min-height: 51px;
  // Menu logo
  .logo {
    padding-left: calc(100 / 1200 * 100%);
    img {
      @include image(100%, auto);
    }
  }
  @media (max-width: $media-sp) {
    .logo {
      padding: 8px 3px 7px 15px;
    }
  }

  .navbar-colspan {
    margin-right: calc(84 / 1200 * 100%);
  }
  @media (max-width: $media-sp) {
    .navbar-colspan {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      display: none;
      background-color: $white;
      z-index: 9;
      margin-right: 0;
    }
  }

  .menu {
    display: flex;
    li {
      &:hover {
        background-color: $menu-bg-hover;
        a {
          color: $white;
          
        }
      }
    }
    a {
      padding: 24.5px 21px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: $footer-color;
      font-size: 13px;
    }
    p {
      font-family: $font-helvetica;
    }
  }
  
  
  @media (max-width: $media-sp) {
    .menu {
      flex-direction: column;
      li {
        border-top: 1px solid $footer-bg-line;
        &:last-child {
          border-bottom: 1px solid $footer-bg-line;
        }
      }
      a {
        padding: 14px 21px;
      }
    }
  }
  // Menu mobile
  .navbar-togger {
    display: none;
    .bar1, .bar2, .bar3 {
      width: 38px;
      height: 3px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s;
    }
    span {
      font-size: 13px;
    }
  }

  // menu bar
  .change {
    .bar1 {
      -webkit-transform: rotate(-45deg) translate(-8px, 7px);
      transform: rotate(-45deg) translate(-8px, 7px);
    }
    .bar2 {opacity: 0;}
    .bar3 {
      -webkit-transform: rotate(45deg) translate(-5px, -5px);
      transform: rotate(45deg) translate(-5px, -5px);
    }
    span {
      display: none;
    }
  }
 
  @media (max-width: $media-sp) { 
    .navbar-togger {
      display: block;
      margin-right: 15px;
    }
  }

  .active {
    background-color: $menu-bg-hover;
    color: $white!important;
  }
}
