
@charset "utf-8";
/* Header
----------------------------------------------------------------- */
header {
  background: url(../images/bg-top.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding-bottom: 49.83333%;
  @media (max-width: $sreen-sp) {
    background: url(../images/bg-top-sp.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 158.41%;
    justify-content: center;
  }
  @media (max-width: 1200px) {
    position: relative;
    display: flex;
    align-items: center;
  }
  p {
    font-family: Helvetica;
    color: $white;
    &:nth-child(1),
    &:nth-child(4) {
      font-weight: bold;
      @media (min-width: 1200px) {
        font-size: 114px;
        line-height: 124px;
        padding-top: 18%;
      }
      @media (min-width: $sreen-tb) and (max-width: 1199px) {
        font-size: get-vw-tb(114px);
      }
      @media (max-width: $sreen-sp) {
        font-size: get-vw(177px);
      }
    }
    &:nth-child(4) {
      padding-top: 0 !important;
    }
    &:nth-child(2) {
      font-weight: bold;
      @media (min-width: 1200px) {
        font-size: 43px;
      }
      @media (min-width: $sreen-tb) and (max-width: 1199px) {
        font-size: get-vw-tb(43px);
      }
      @media (max-width: $sreen-sp) {
        font-size: get-vw(58px);
      }
    }
    &:nth-child(5),
    &:nth-child(6) {
      @media (min-width: 1200px) {
        font-size: 27px;
        line-height: 30px;
      }
      @media (min-width: $sreen-tb) and (max-width: 1199px) {
        font-size: get-vw-tb(27px);
      }
      @media (max-width: $sreen-sp) {
        font-size: get-vw(33px);
      }
    }
  }
}
.header__text {
  position: absolute;
  padding-left: 5.33333333%;
  @media (max-width: 1200px) {
    top: 50%;
    transform: translateY(-50%);
  }
}
.header__img {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 1200px) {
    margin-right: 25px;
  }
  @media (max-width: $sreen-sp) {
    margin-top: 10px;
  }
  img {
    width: 40px;
    height: 40px;
  }
}