
@charset "utf-8";
/* Header
----------------------------------------------------------------- */
header {
  position: relative;
  background: url(../images/bg-top.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding-bottom: 49.83333%;
  @media (max-width: $sreen-sp) {
    position: relative;
    background: url(../images/bg-top-sp.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 158.41%;
    justify-content: center;
  }
  p {
    position: absolute;
    left: 8.33333%;
    font-family: Helvetica;
    color: $white;
    @media (max-width: $sreen-sp) {
      left: 10%;
    }
    &:nth-child(1),
    &:nth-child(4) {
      font-weight: bold;
      font-size: 114px;
      @media (min-width: $sreen-tb) and (max-width: 1199px) {
        font-size: get-vw-tb(114px);
      }
      @media (max-width: $sreen-sp) {
        font-size: get-vw(177px);
      }
    }
    &:nth-child(1) {
      top: 8%;
    }
    &:nth-child(4) {
      top: 42%;
      @media (max-width: $sreen-sp) {
        top: 46%;
      }
    }
    &:nth-child(2) {
      top: 28.8%;
      font-weight: bold;
      font-size: 43px;
      @media (min-width: $sreen-tb) and (max-width: 1199px) {
        font-size: get-vw-tb(43px);
      }
      @media (max-width: $sreen-sp) {
        font-size: get-vw(58px);
        top: 26%;
      }
    }
    &:nth-child(5) {
      top: 66%;
      @media (max-width: $sreen-sp) {
        top: 65%;
      }
    }
    &:nth-child(6) {
      top: 72%;
      @media (max-width: $sreen-sp) {
        top: 69%;
      }
    }
    &:nth-child(5),
    &:nth-child(6) {
      font-size: 27px;
      font-weight: bold;
      @media (min-width: $sreen-tb) and (max-width: 1199px) {
        font-size: get-vw-tb(27px);
      }
      @media (max-width: $sreen-sp) {
        font-size: get-vw(33px);
      }
    }
  }
}
.header__img {
  position: absolute;
  top: 40.5%;
  left: 22.5%;
  @media (min-width: 641PX) and (max-width: 990px) {
    top: 39.5%;
  }
  @media (max-width: $sreen-sp) {
    top: 38.5%;
    left: 45.5%;
  }
  img {
    width: 100%;
    height: auto;
    @media (min-width: 641PX) and (max-width: 990px) {
      width: 28px;
      height: 28px;
    }
    // @media (max-width: $sreen-sp) {
    //   width: 200%;
    // }
  }
}