.group__main {
  background: url(../images/group-bg.png);
  .group__inner {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 56px 20px 80px 20px;
    @media (max-width: $sreen-sp) {
      flex-direction: column;
      padding: 0 0 40px 0;
    }
  }
}
.group__left {
  width: 29%;
  background: $green-base;
  background-image: url(../images/icon02.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  font-family: Helvetica;
  @media (max-width: $sreen-sp) {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
}
.group__title {
  @media (max-width: $sreen-sp) {
    margin-left: 10px;
  }
  p {
    color: $white;
    &:nth-child(1) {
      font-size: $font-size-22;
      font-weight: bold;
      text-align: center;
      padding-top: 70px;
      @media (max-width: $sreen-pc) {
        padding-top: 35px;
      }
    }
    &:nth-child(2) {
    font-size: $font-size-13;
      padding: 15px 0 40px 0;
      text-align: center;
      @media (max-width: $sreen-sp) {
        padding: 2px 0 40px 0;
      }
      @media (min-width: $sreen-tb) and (max-width: $sreen-pc) {
        padding: 7.5px 0 20px 0;
      }
    }
  }
}
.text__left {
  color: $white;
  padding: 42px 30px 0 30px;
  font-family: hirakakupro;
  @media (max-width: $sreen-sp) {
    display: none;
  }
  @media (min-width: $sreen-tb) and (max-width: $sreen-pc) {
    padding: 0 15px 15px 15px;
    margin-top: 21px;
  }
  @media (min-width: $sreen-tb) and (max-width: 770.98px) {
    height: 100px;
    overflow-x: auto;
  }
}
.group__right {
  width: calc(100% - 29% - 20px);
  font-family: hirakakupro;
  @media (max-width: $sreen-sp) {
    width: 100%;
  }
  img {
    width: 100%;
    height: 100%;
  }
  p {
    position: absolute;
    bottom: 0px;
    background-color: rgba(51, 51, 51, 0.7);
    color: #ffffff;
    width: calc(100% - 40px);
    font-size: $font-size-20;
    padding: 20px;
    background-image: url(../images/icon02.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    @media (max-width: $sreen-sp) {
      width: calc(100% - 50px);
      padding: 10px;
      bottom: 6px;
      font-size: 16px;
    }
    @media (min-width: $sreen-tb) and (max-width: $sreen-pc) {
      padding: 15px 20px 15px 20px;
    }
  }
}
.group__item__1 {
  display: flex;
  @media (max-width: $sreen-sp) {
    flex-direction: column;
  }
}
.item__1 {
  position: relative;
  width: 48.55%;
  @media (max-width: $sreen-sp) {
    width: calc(100% - 30px);
    padding: 25px 15px 0 15px;
  }
}
.item__2 {
  position: relative;
  width: calc(100% - 48.55% - 20px);
  margin-left: 20px;
  @media (max-width: $sreen-sp) {
    width: calc(100% - 30px);
    padding: 10px 15px 0 15px;
    margin-left: 0;
  }
}
.group__item__2 {
  position: relative;
  margin-top: 16px;
  @media (max-width: $sreen-sp) {
    padding: 0 15px 0 15px;
    margin-top: 10px;
  }
}
.icon__title {
  display: flex;
  justify-content: center;
}
.item__pc {
  @media (max-width: $sreen-sp) {
    display: none;
  }
}
.item__sp {
  @media (min-width: $sreen-tb) {
    display: none;
  }
}
.banner {
  &__content1 {
    @extend %banner__content;
    background: url(../images/img06.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  &__content2 {
    @extend %banner__content;
    background: url(../images/img14.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
.banner__text {
  cursor: pointer;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  p {
    font-size: $font-size-25;
    color: $white;
    font-weight: bold;
    text-align: center;
    @media (min-width: $sreen-tb) and (max-width: $sreen-pc) {
      font-size: $font-size-22;
    }
  }
}
.group__entry {
  @media (max-width: $sreen-sp) {
    display: none;
  }
  p {
    text-align: center;
    font-size: $font-size-13;
    &:nth-child(1) {
      font-size: $font-size-22 !important;
      color: $pink-base;
      font-weight: bold;
      padding-top: 72px;
    }
    &:nth-child(2) {
      color: $pink-base;
      padding: 20px 0 48px 0;
    }
    &:nth-child(4) {
      padding-top: 50px;
    }
    &:nth-child(5) {
      padding-bottom: 50px;
    }
  }
  .img__entry {
    display: flex;
    justify-content: center;
  }
}
.group__work {
  flex-direction: row-reverse;
  .group__left {
    background-color: $blue;
  }
}
.group__interview {
  @media (min-width: $sreen-tb) and (max-width: $sreen-pc) {
    flex-direction: column;
  }
  .group__left {
    background-color: $yellow-base;
    @media (min-width: $sreen-tb) and (max-width: $sreen-pc) {
      width: 100%;
    }
  }
  .group__right {
    @media (min-width: $sreen-tb) and (max-width: $sreen-pc) {
      width: 100%;
      margin-left: 0 !important;
      margin-top: 20px;;
    }
  }
}