.group__main {
  background: url(../images/group-bg.png);
  max-width: 1200px;
}
.group__inner {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.inner__content {
  display: flex;
  padding: 56px 0 80px 0;
  justify-content: space-between;
  @media (max-width: $sreen-sp) {
    flex-direction: column;
    padding: 0 0 40px 0;
  }
  @media (min-width: $sreen-tb) and (max-width: $sreen-pc) {
    padding: 28px 0 40px 0;
  }
}
.group__left {
  width: 29%;
  background: $green-base;
  background-image: url(../images/penbg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  font-family: Helvetica;
  @media (max-width: $sreen-sp) {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
}
.group__title {
  @media (max-width: $sreen-sp) {
    margin-left: 10px;
  }
  p {
    color: $white;
    &:nth-child(1) {
      font-weight: bold;
      text-align: center;
      padding-top: 26.3%;
      @media (min-width: 1200px) {
        font-size: $font-size-30;
      }
      @media (min-width: $sreen-tb) and (max-width: 1199px) {
        font-size: get-vw-tb(34px);
      }
      @media (max-width: $sreen-sp) {
        padding-top: 35px;
        font-size: get-vw(40px);
      }
    }
    &:nth-child(2) {
      font-size: $font-size-13;
      padding-top: 3.55%;
      padding-bottom: 16%;
      text-align: center;
      @media (max-width: $sreen-sp) {
        padding: 2px 0 40px 0;
        font-size: get-vw(20px);
      }
      @media (min-width: $sreen-tb) and (max-width: 1199px) {
        font-size: get-vw-tb(16px);
      }
      @media (min-width: $sreen-tb) and (max-width: $sreen-pc) {
        padding: 7.5px 0 20px 0;
      }
    }
  }
}
.group__text {
  color: $white;
  padding-left: 11%;
  padding-right: 11%;
  padding-top: 15%;
  font-size: 15px;
  @media (max-width: $sreen-sp) {
    display: none;
  }
  @media (min-width: $sreen-tb) and (max-width: 1199px) {
    font-size: get-vw-tb(18px);
  }
  @media (min-width: $sreen-tb) and (max-width: $sreen-pc) {
    padding: 0 15px 15px 15px;
    margin-top: 21px;
  }
}
.group__right {
  width: calc(100% - 29% - 20px);
  @media (max-width: $sreen-sp) {
    width: 100%;
  }
  img {
    width: 100%;
    height: 100%;
  }
  p {
    position: absolute;
    bottom: 0px;
    background-color: rgba(51, 51, 51, 0.7);
    color: #ffffff;
    width: calc(100% - 40px);
    font-size: 18px;
    padding: 20px;
    background-image: url(../images/penbg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    @media (min-width: $sreen-tb) and (max-width: 1199px) {
      font-size: get-vw-tb(18px);
    }
    @media (max-width: $sreen-sp) {
      width: calc(100% - 50px);
      padding: 10px;
      font-size: get-vw(26px);
    }
    @media (min-width: $sreen-tb) and (max-width: $sreen-pc) {
      padding: 15px 20px 15px 20px;
    }
  }
  .item__sp {
    @media (max-width: $sreen-sp) {
        display: block;
    }
  }
  .item__pc {
      @media (min-width: $sreen-tb) {
          display: block;
      }
  }
}
.item__top {
  display: flex;
  justify-content: space-between;
  @media (max-width: $sreen-sp) {
    flex-direction: column;
  }
}
.item__topl {
  position: relative;
  width: 48.55%;
  @media (max-width: $sreen-sp) {
    width: calc(100% - 30px);
    padding: 25px 15px 0 15px;
  }
}
.item__topr {
  position: relative;
  width: calc(100% - 48.55% - 20px);
  @media (max-width: $sreen-sp) {
    width: calc(100% - 30px);
    padding: 10px 15px 0 15px;
  }
}
.item__bot {
  position: relative;
  margin-top: 20px;
  @media (max-width: $sreen-sp) {
    padding: 0 15px 0 15px;
    margin-top: 10px;
  }
}
.group__icon {
  display: flex;
  justify-content: center;
}
.item__pc {
  @media (max-width: $sreen-sp) {
    display: none;
  }
}
.item__sp {
  @media (min-width: $sreen-tb) {
    display: none;
  }
}
.banner {
  &__first {
    @extend %banner__content;
    background: url(../images/img06.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  &__second {
    @extend %banner__content;
    background: url(../images/img14.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
.banner__text {
  cursor: pointer;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 26px;
  color: $white;
  font-weight: bold;
  text-align: center;
  @media (min-width: $sreen-tb) and (max-width: 1199px) {
    font-size: get-vw-tb(26px);
  }
}
.group__entry {
  @media (max-width: $sreen-sp) {
    display: none;
  }
  p {
    text-align: center;
    font-size: $font-size-13;
    @media (min-width: $sreen-tb) and (max-width: 1199px) {
      font-size: get-vw-tb(20px);
    }
    &:nth-child(1) {
      font-size: 28px;
      color: $pink-base;
      font-weight: bold;
      padding-top: 72px;
      @media (min-width: $sreen-tb) and (max-width: 1199px) {
        font-size: get-vw-tb(34px);
        padding-top: 50px;
      }
    }
    &:nth-child(2) {
      color: $pink-base;
      padding: 8px 0 43px 0;
      @media (min-width: $sreen-tb) and (max-width: 1199px) {
        padding-bottom: 30px;
      }
    }
    &:nth-child(4) {
      padding-top: 47px;
      @media (min-width: $sreen-tb) and (max-width: 1199px) {
        padding-top: 30px;
      }
    }
    &:nth-child(5) {
      padding-bottom: 50px;
      @media (min-width: $sreen-tb) and (max-width: 1199px) {
        padding-bottom: 30px;
      }
    }
  }
  .img__entry {
    display: flex;
    justify-content: center;
  }
}
.group__work {
  padding-top: 23px;
  background: none !important;
  .group__inner {
    @media (min-width: $sreen-tb) {
      flex-direction: row-reverse;
    }
    .group__left {
      background-color: $blue;
      .group__icon {
        .item__pc {
          @media (min-width: 1200px) {
            width: 74px !important;
            height: 99px !important;
          }
        }
      }
    }
  }
}
.group__interview {
  padding-top: 23px;
  .group__inner {
    @media (min-width: $sreen-tb) and (max-width: $sreen-pc) {
      flex-direction: column;
    }
    .group__left {
      background-color: $yellow-base;
      @media (min-width: $sreen-tb) and (max-width: $sreen-pc) {
        width: 100%;
      }
      .group__title {
        p {
          &:nth-child(1) {
            @media (min-width: $sreen-tb) and (max-width: 1199px) {
              padding-top: 20px !important;
            }
          }
        }
      }
      .group__icon {
        .item__pc {
          @media (min-width: 1200px) {
            width: 100px !important;
            height: 94px !important;
          }
        }
      }
    }
    .group__right {
      @media (min-width: $sreen-tb) and (max-width: $sreen-pc) {
        width: 100%;
        margin-left: 0 !important;
        margin-top: 20px;;
      }
      p {
        font-size: 13px;
        line-height: 22px;
        padding: 11px 20px;
        @media (max-width: $sreen-sp) {
          font-size: get-vw(18px);
          width: calc(100% - 70px);
        }
      }
      span {
        font-size: 22px;
        @media (max-width: $sreen-sp) {
          font-size: get-vw(26px);
        }
      }
    }
  }
  .img-pc {
    @media (min-width: 992px) {
        display: block;
    }
  }
  .img-tb {
    @media (max-width: 991px) {
        display: block;
    }
  }
}