.navbar {
  margin-top: 74px;
  background: #e1e1e1; }
  .navbar ul.nav__menu {
    text-align: center;
    position: relative; }
    @media (min-width: 320px) and (max-width: 839.98px) {
      .navbar ul.nav__menu {
        position: fixed;
        right: -68%;
        text-align: left;
        width: 68%;
        top: 54px;
        z-index: 999; } }
    @media (min-width: 840px) {
      .navbar ul.nav__menu {
        right: 0 !important;
        z-index: 2; } }
    .navbar ul.nav__menu li.nav__item.active {
      background: #000000; }
      .navbar ul.nav__menu li.nav__item.active a {
        color: #ffffff; }
      @media (min-width: 320px) and (max-width: 839.98px) {
        .navbar ul.nav__menu li.nav__item.active {
          background-color: #333333;
          border-bottom: 1px solid #454545; } }
    .navbar ul.nav__menu li.nav__item {
      background-image: url("../images/bg_menu_border.png") no-repeat right center;
      margin-left: -6px;
      cursor: pointer;
      position: relative;
      display: inline-block; }
      @media (min-width: 320px) and (max-width: 839.98px) {
        .navbar ul.nav__menu li.nav__item {
          display: block;
          background-color: #333333;
          margin-left: 0;
          border-bottom: 1px solid #454545; }
          .navbar ul.nav__menu li.nav__item a {
            color: #ffffff !important; }
          .navbar ul.nav__menu li.nav__item:last-child {
            background-image: none;
            background-color: #000000;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 14.5px; } }
      .navbar ul.nav__menu li.nav__item:last-child .close .bar1 {
        width: 25px;
        height: 1px;
        background: white;
        transform: rotate(45deg); }
      .navbar ul.nav__menu li.nav__item:last-child .close .bar2 {
        width: 25px;
        height: 1px;
        background: white;
        transform: rotate(-45deg); }
      .navbar ul.nav__menu li.nav__item:last-child span {
        color: #ffffff;
        text-transform: uppercase; }
      .navbar ul.nav__menu li.nav__item:hover {
        background: #000000; }
        .navbar ul.nav__menu li.nav__item:hover a {
          color: #ffffff; }
        .navbar ul.nav__menu li.nav__item:hover ul.sub__menu {
          display: block; }
      .navbar ul.nav__menu li.nav__item a {
        display: block;
        padding: 19px 15px;
        color: #000000;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px; }
        @media (min-width: 320px) and (max-width: 1023.98px) {
          .navbar ul.nav__menu li.nav__item a {
            font-size: 12px; } }
      .navbar ul.nav__menu li.nav__item ul.sub__menu {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #333333; }
        @media (min-width: 320px) and (max-width: 839.98px) {
          .navbar ul.nav__menu li.nav__item ul.sub__menu {
            position: static;
            display: block;
            top: auto;
            left: auto; } }
        .navbar ul.nav__menu li.nav__item ul.sub__menu li {
          list-style-type: none; }
          @media (min-width: 320px) and (max-width: 839.98px) {
            .navbar ul.nav__menu li.nav__item ul.sub__menu li {
              width: 32%;
              display: inline-block;
              border-right: 1px solid #ffffff;
              margin-bottom: 20px;
              margin-left: 25px; }
              .navbar ul.nav__menu li.nav__item ul.sub__menu li a {
                padding: 0px; }
              .navbar ul.nav__menu li.nav__item ul.sub__menu li:nth-child(2), .navbar ul.nav__menu li.nav__item ul.sub__menu li:nth-child(4) {
                border-right: none; } }
    @media (min-width: 840px) {
      .navbar ul.nav__menu li.nav__item.js__close {
        display: none; } }
    .navbar ul.nav__menu li.nav__item.social {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%); }
      @media (min-width: 320px) and (max-width: 839.98px) {
        .navbar ul.nav__menu li.nav__item.social {
          padding: 9px;
          position: static;
          transform: none; }
          .navbar ul.nav__menu li.nav__item.social a:nth-child(1) {
            margin-left: 6px; } }
      @media (min-width: 320px) and (max-width: 1023.98px) {
        .navbar ul.nav__menu li.nav__item.social {
          right: 20px; } }
      @media only screen and (max-width: 1900px) and (min-width: 1700px) {
        .navbar ul.nav__menu li.nav__item.social {
          right: 120px; } }
      .navbar ul.nav__menu li.nav__item.social:hover {
        background: none; }
      .navbar ul.nav__menu li.nav__item.social a {
        border-radius: 50%;
        display: inline-block; }
        .navbar ul.nav__menu li.nav__item.social a i {
          color: #ffffff;
          font-size: 15px; }
        .navbar ul.nav__menu li.nav__item.social a:nth-child(1) {
          background: #5dabed;
          padding: 5px 8px; }
          @media (min-width: 320px) and (max-width: 1023.98px) {
            .navbar ul.nav__menu li.nav__item.social a:nth-child(1) {
              padding: 5px 6.5px; } }
        .navbar ul.nav__menu li.nav__item.social a:nth-child(2) {
          background: #324d96;
          padding: 5px 12px; }
          @media (min-width: 320px) and (max-width: 1023.98px) {
            .navbar ul.nav__menu li.nav__item.social a:nth-child(2) {
              padding: 5px 9px; } }
        .navbar ul.nav__menu li.nav__item.social a:nth-child(3) {
          background: #e63d5c;
          padding: 5px 8px; }
          @media (min-width: 320px) and (max-width: 1023.98px) {
            .navbar ul.nav__menu li.nav__item.social a:nth-child(3) {
              padding: 5px 6.5px; } }

p.menu__btn {
  display: none;
  z-index: 999;
  background: #000000;
  color: white;
  padding: 20px;
  position: fixed;
  right: 0;
  font-weight: bold;
  font-size: -tablet(30px);
  bottom: 15px;
  cursor: pointer; }
  @media (min-width: 320px) and (max-width: 839.98px) {
    p.menu__btn {
      display: block; } }

/*# sourceMappingURL=navbar.css.map */
