.navbar {
    margin-top: 74px;
    background: #e1e1e1;
    ul.nav__menu {
        @media (min-width: 320px) and (max-width: 839.98px) {
            position: fixed;
            right: -68%;
            text-align: left;
            width: 68%;
            top: 54px;
            z-index: 999;
        }
        @media (min-width: 840px)  {
            right: 0!important;
            z-index: 2;
        }
        text-align: center;
        position: relative;
        li.nav__item.active {
            background: #000000;
            a {
                color: #ffffff;
            }
            @media (min-width: 320px) and (max-width: 839.98px) {
                background-color: #333333;
                border-bottom: 1px solid #454545;
            }
        }
        li.nav__item {
            @media (min-width: 320px) and (max-width: 839.98px) {
                display: block;
                background-color: #333333;
                margin-left: 0;
                border-bottom: 1px solid #454545;
                a {
                    color: #ffffff!important;
                }
                &:last-child {
                    background-image: none;
                    background-color: #000000;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 14.5px;
                }
            }
            &:last-child {
                .close {
                    .bar1 {
                        width: 25px;
                        height: 1px;
                        background: white;
                        transform: rotate(45deg);
                    }
                    .bar2 {
                        width: 25px;
                        height: 1px;
                        background: white;
                        transform: rotate(-45deg);
                    }
                }
                span {
                    color: #ffffff;
                    text-transform: uppercase;
                }
            }
            background-image: url("../images/bg_menu_border.png") no-repeat right center;
            margin-left: -6px;
            cursor: pointer;
            position: relative;
            &:hover {
                background: #000000;
                a {
                    color: #ffffff;
                }
                ul.sub__menu {
                    display: block;
                }
            }
            display: inline-block;
            a {
                @media (min-width: 320px) and (max-width: 1023.98px){
                    font-size: 12px;
                }
                display: block;
                padding: 19px 15px;
                color: #000000;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 14px;
            }
            ul.sub__menu {
                @media (min-width: 320px) and (max-width: 839.98px) {
                    position: static;
                    display: block;
                    top: auto;
                    left: auto;
                }
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                background: #333333;
                li {
                    list-style-type: none;
                    @media (min-width: 320px) and (max-width: 839.98px) {
                        width: 32%;
                        display: inline-block;
                        border-right: 1px solid #ffffff;
                        margin-bottom: 20px;
                        margin-left: 25px;
                        a {
                            padding: 0px;
                        }
                        &:nth-child(2),
                        &:nth-child(4) {
                            border-right: none;
                        }

                    }
                }
            }
        }
        li.nav__item.js__close {
            @media (min-width: 840px)  {
                display: none;
            }
        }
        li.nav__item.social {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            @media (min-width: 320px) and (max-width: 839.98px) {
                padding: 9px;
                position: static;
                transform: none;
                a {
                    &:nth-child(1) {
                        margin-left: 6px;
                    }
                }
            }
            @media (min-width: 320px) and (max-width: 1023.98px) {
                right: 20px;
            }
            @media only screen and (max-width: 1900px)  and (min-width: 1700px){
                right: 120px;
            }
            &:hover {
                background: none;
            }
            a {
                border-radius: 50%;
                display: inline-block;
                i {
                    color: #ffffff;
                    font-size: 15px;
                }
                &:nth-child(1) {
                    background: #5dabed;
                    padding: 5px 8px;
                    @media (min-width: 320px) and (max-width: 1023.98px) {
                        padding: 5px 6.5px;
                    }
                }
                &:nth-child(2) {
                    background: #324d96;
                    padding: 5px 12px;
                    @media (min-width: 320px) and (max-width: 1023.98px) {
                        padding: 5px 9px;
                    }
                }
                &:nth-child(3) {
                    background: #e63d5c;
                    padding: 5px 8px;
                    @media (min-width: 320px) and (max-width: 1023.98px) {
                        padding: 5px 6.5px;
                    }
                }
            }
        }
    }
}
p.menu__btn {
    display: none;
    z-index: 999;
    background: #000000;
    color: white;
    padding: 20px;
    position: fixed;
    right: 0;
    font-weight: bold;
    font-size: -tablet(30px);
    bottom: 15px;
    cursor: pointer;
    @media (min-width: 320px) and (max-width: 839.98px) {
        display: block;
    }
}