$color_1: #ff6666;
$color_2: #ffffff;
$color_3: #000000;
$color_4: #fffefe;
$color_5: #cc0000;
$background_color_1: black;
$background_color_2: #ffffff;
$background_color_3: #fefbd2;
$background_color_4: #fff1f1;