.content__2 {
    background: url("../images/section_bg.png") repeat-y;
  }
  
  .section__container {
    width: 95.56%;
    margin: 0 auto;
  }
  
  .content__border__red {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #ffffff;
    border: 2px solid #ff3333;
    margin-top: 27px;
  }
  
  .content__border__red p {
    font-size: 16px;
    line-height: 25px;
    color: #cc0000;
    font-weight: 500;
  }
  
  .section__content {
    display: flex;
    align-items: center;
  }
  
  .section__content--1 {
      margin-top: 23px;
  }
  
  .section__content--2 {
      margin-top: 10px;
  }
  
  .section__content--3 {
      margin-top: 15px;
  }
  
  .section__content__left {
    width: 33.72%;
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #fefbd2;
  }
  
  .section__content__left p {
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    font-weight: bold;
    margin-left: 23px;
  }
  
  .section__content__left span {
    color: #ff6666;
    margin-left: 23px;
  }
  
  .section__content__right {
    margin-left: 20px;
    width: 66.28%;
  }
  
  .section__content__right input {
    width: 310px;
    height: 40px;
    background-color: #fff1f1;
    border: 1px solid #ff3333;
  }
  
  .list__input {
    display: flex;
  }
  
  .list__input__item {
    display: flex;
  }
  
  .list__input input {
    background-color: #fff1f1;
    border: 1px solid #ff3333;
    width: 137px;
  }
  
  .list__input p {
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    font-weight: bold;
    margin: 17px 18px 0px 7px;
  }
  
  .section__content__left--edit {
    width: 33.72%;
    height: 320px;
    display: flex;
    align-items: center;
    background: url("../images/content_left_bg_2.png") no-repeat center center;
  }
  
  .section__content__right--edit {
    background: url("../images/content_right_bg.png") no-repeat center center;
    width: 66.28%;
    height: 320px;
    display: flex;
    align-items: center;
    overflow: auto;
  }
  
  .section__content__text {
    width: 512px;
    height: 272px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    margin: 0 auto;
  }
  
  .section__content--4 {
    text-align: center;
    margin-top: 14px;
  }
  
  .text__above__button {
    display: flex;
    justify-content: center;
    margin-top: 4px;
  }
  
  .text__above__button p {
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 500;
  }
  
  .text__above__button input {
    background: url("../images/checkbox_bg.png") no-repeat center center;
    width: 11px;
    height: 12px;
    background-color: #fff1f1;
    border: 1px solid #ff3333;
    margin-top: 4.8px;
    margin-right: 15px;
  }
  
  .main__button {
    position: relative;
    display: flex;
    margin-top: 21px;
    justify-content: center;
    align-items: center;
    height: 48px;
    background: url("../images/button.png") no-repeat center center;
  }
  
  .main__button p {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 34px;
    color: #ffffff;
    font-weight: bold;
  }
  
  .main__button img {
    top: -1px;
    position: absolute;
    left: 333px;
  }
  
 