@import "common";

.nav {
	position: relative;
	background: url("../images/nav_bg.png") no-repeat;
	height: 76px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	li.menu {
		position: relative;
		list-style-type: none;
		width: 167px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-right: 1px solid #ccb73d;
		border-left: 1px solid #fae477;
		&:last-child {
			border-right: 1px solid #ccb73d;
		}
		&:hover {
			background: url("../images/button_hover.png");
			a.menu__text {
				color: $color_2;
				&:before {
					background: url("../images/nav_before_2.svg") no-repeat;
				}
			}
		}
		a.menu__text {
			position: absolute;
			text-decoration: none;
			color: $color_3;
			font-size: 18px;
			font-weight: 700;
			padding-left: 15px;
			line-height: 26px;
			&:before {
				position: absolute;
				content: "";
				background: url("../images/nav_before.svg") no-repeat;
				width: 12px;
				height: 12px;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}
	}
	.menu__sub {
		ul.subNav {
			width: 169px;
			position: absolute;
			top: 76px;
			opacity: 0;
		}
		&:hover {
			.subNav {
				opacity: 1;
			}
		}
		ul {
			li.subNav {
				background-color: $background_color_5;
				height: 48px;
				border-bottom: 0.1px solid #ccb73d;
				display: flex;
				align-items: center;
				&:hover {
					background-color: $background_color_6;
				}
				a.subNav {
					text-decoration: none;
					color: $color_2;
					font-size: 18px;
					font-weight: 700;
					line-height: 26px;
					margin-left: 20px;
					&::after {
						position: absolute;
						content: "";
						background: url(../images/button_before.png) no-repeat;
						width: 23px;
						height: 22px;
						right: 10px;
					}
				}
			}
		}
	}
}