@media (min-width: 1039px) {
    .footer__background {
        padding-bottom: 70px;
    }
}

@media (min-width: 860px) and (max-width: 1038.9px) {
    /* .header {
        height: 160px;
    } */

    .header__img--2 img {
        width: 100%;
        padding: 0px !important;
    }

    .footer__list__img {
        flex-direction: column;
        width: 100%;
    }

    .footer__list__img img {
        flex-direction: column;
        width: 100%;
    }
}

@media (min-width: 680px) and (max-width: 859.9px) {
    .header__img--2 img {
        width: 100%;
        padding: 0px !important;
    }

    .footer__list__img {
        flex-direction: column;
        width: 100%;
    }

    .footer__list__img img {
        flex-direction: column;
        width: 100%;
    }
}