/*-------   Common    --------*/
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
}

ul {
  list-style: none;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-6 {
    margin-top: 6px;
}

.pt-9 {
  padding-top: 9px;
}
/*-------   Header    --------*/
.header {
    position: relative;
    width: 100%;
    height: 183px;
    display: flex;
    justify-content: center;
    background-image: url("../images/header_bg.png");
}

.header__img--1 {
    position: absolute;
    float: left;
    left: 0;
    padding: 15px;
}

.header__img--2 {
    padding-top: 13px;
}

.header__img--3 {
    position: absolute;
    float: right;
    right: 0;
    padding: 15px;
}

/*-------   Navbar    --------*/
.nav {
  position: relative;
  background: url("../images/nav_bg.png") no-repeat;
  height: 76px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.nav li {
  position: relative;
  list-style-type: none;
  width: 167px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav li {
  border-right: 1px solid #ccb73d;
  border-left: 1px solid #fae477;
}
.nav li:last-child {
  border-right: 1px solid #ccb73d;
}
.nav li:hover {
  background: url("../images/button_hover.png");
}
.nav li:hover a {
  color: #ffffff;
}
.nav li:hover a:before {
  background: url("../images/nav_before_2.svg") no-repeat;
}
.nav li a {
  position: absolute;
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  padding-left: 15px;
  line-height: 26px;
}
.nav li a:before {
  position: absolute;
  content: "";
  background: url("../images/nav_before.svg") no-repeat;
  width: 12px;
  height: 12px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* Wrapper */
.wrapper {
  background-color: black;
}

.wrapper__container {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 35px;
}

.wrapper__container__title {
  background: url("../images/title_bg.png") no-repeat center center;
  display: flex;
  align-items: center;
  height: 72px;
}

.wrapper__container__title h2 {
  font-size: 36px;
  letter-spacing: 5px;
  color: #ffffff;
  font-weight: bold;
  margin-left: 14px;
}

.breadcrumb {
  display: flex;
  list-style-type: none;
  padding-left: 3px;
}
.breadcrumb__item a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
}
.breadcrumb__item--edit {
  padding-left: 10px;
}
.breadcrumb__item--edit:before {
  display: inline-block;
  padding-right: 4px;
  color: #ffffff;
  content: ">";
}

/* Main content container  */
.border__container {
  position: relative;
}

.border__container__img {
  width: 100%;
  height: 1442px;
}

.border__container img {
  padding-top: 10px;
}

.border__container__bg {
  position: absolute;
  top: 16.5px;
  left: 50%;
  transform: translateX(-50%);
  width: 97%;
}

.border__container__bg img {
  width: 100%;
  height: 1348px;
}

.content__container {
  width: 90%;
  position: absolute;
  top: 37px;
  left: 50%;
  transform: translateX(-50%);
}

.content__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 46px;
  background: url("../images/title_bg_2.png") no-repeat center center;
  margin-top: 24px;
}

.content-title h2 {
  font-size: 22px;
  line-height: 15px;
  color: #fffefe;
  font-weight: bold;
}

.content__1 {
  width: 100%;
  height: 348px;
  background: url("../images/gray_bg.png") no-repeat center center;
  color: #ffffff;
}

.content__highlight {
  display: grid;
  grid-template-columns: 50% 50%;
}

.content__highlight__1__bg {
  padding-top: 68px;
  float: right;
  position: relative;
}

.content__highlight__1__text {
  position: absolute;
  top: 168px;
  left: 199px;
}

.content__highlight__2__bg {
  position: relative;
  padding-top: 68px;
  padding-left: 15px;
}

.content__highlight__2__text {
  position: absolute;
  top: 168px;
  right: 200px;
}

.content__1__text {
  width: 834px;
  height: 79px;
  margin: 0 auto;
  padding-top: 18px;
}

.text__style--1 {
  font-size: 19px;
  font-weight: bold;
}

.text__style--2 {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
}

.text__style--3 {
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
}

.text__style--4 {
  font-size: 16px;
  line-height: 25px;
  color: #ff6666;
  font-weight: 500;
}

.text__style--5 {
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 500;
}

/* Section 2 */
.content__2 {
  background: url("../images/section_bg.png") repeat-y;
}

.section__container {
  width: 860px;
  margin: 0 auto;
}

.content__border__red {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background: url("../images/bg_border_red.png") no-repeat center center;
  margin-top: 27px;
}

.content__border__red p {
  font-size: 16px;
  line-height: 25px;
  color: #cc0000;
  font-weight: 500;
}

.section__content {
  display: flex;
  align-items: center;
}

.section__content--1 {
    margin-top: 23px;
}

.section__content--2 {
    margin-top: 10px;
}

.section__content--3 {
    margin-top: 15px;
}

.section__content__left {
  width: 290px;
  display: flex;
  align-items: center;
  height: 39px;
  background: url("../images/content_left_bg.png") no-repeat center center;
}

.section__content__left p {
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  font-weight: bold;
  margin-left: 23px;
}

.section__content__left span {
  color: #ff6666;
  margin-left: 23px;
}

.section__content__right {
  margin-left: 20px;
}

.section__content__right input {
  background: url("../images/input_bg_1.png") no-repeat center center;
  width: 310px;
  height: 37px;
  background-color: #fff1f1;
  border: 1px solid #ff3333;
}

.list__input {
  display: flex;
}

.list__input__item {
  display: flex;
}

.list__input input {
  background: url("../images/list_input_bg.png") no-repeat center center;
  width: 137px;
}

.list__input p {
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  font-weight: bold;
  margin: 17px 18px 0px 7px;
}

.section__content__left--edit {
  width: 290px;
  height: 320px;
  display: flex;
  align-items: center;
  background: url("../images/content_left_bg_2.png") no-repeat center center;
}

.section__content__right--edit {
  background: url("../images/content_right_bg.png") no-repeat center center;
  width: 570px;
  height: 320px;
  display: flex;
  align-items: center;
  overflow: auto;
}

.section__content__text {
  width: 512px;
  height: 272px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  margin: 0 auto;
}

.section__content--4 {
  text-align: center;
  margin-top: 14px;
}

.text__above__button {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

.text__above__button p {
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 500;
}

.text__above__button input {
  background: url("../images/checkbox_bg.png") no-repeat center center;
  width: 11px;
  height: 12px;
  background-color: #fff1f1;
  border: 1px solid #ff3333;
  margin-top: 4.8px;
  margin-right: 15px;
}

.main__button {
  position: relative;
  display: flex;
  margin-top: 21px;
  justify-content: center;
  align-items: center;
  height: 48px;
  background: url("../images/button.png") no-repeat center center;
}

.main__button p {
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #ffffff;
  font-weight: bold;
}

.main__button img {
  top: -1px;
  position: absolute;
  left: 333px;
}

.pb-12 {
  padding-bottom: 12px;
}

/*--------- Footer ----------*/
.footer {
  position: relative;
  height: 200px;
  text-align: center;
}
.footer__background {
  padding-bottom: 50px;
  transform: rotate(180deg);
  width: calc(97.7%);
}
.footer__list__img {
  width: 998px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.footer__link {
  position: absolute;
  top: 76px;
  display: flex;
  width: 1000px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-size: 12px;
  align-items: center;
  font-weight: 500;
}
.footer__link ul {
  display: flex;
  width: 62%;
  justify-content: flex-end;
  font-size: 10px;
}
.footer__link ul li {
  list-style-type: none;
  padding-left: 34px;
}
.footer__link ul li a {
  text-decoration: none;
  color: #ffffff;
  position: relative;
}
.footer__link ul li a:before {
  position: absolute;
  content: "";
  background: url("../images/nav_before_2.svg");
  width: 12px;
  height: 12px;
  top: 50%;
  left: -16px;
  transform: translateY(-50%);
}

.footer__link p {
  margin-left: 7px;
}
