/*-------   Common    --------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
}

body {
	/* font-family: 'Raleway', sans-serif; */
	margin: 0 auto;
}

ul {
    list-style: none;
}

.w-100 {
    width: 100%;
}

.pt-9 {
    padding-top: 9px;
}
/*-------   Header    --------*/
.header {
    width: 100%;
    height: 183px;
    display: flex;
    justify-content: center;
    background-image: url("../images/header_bg.png");
}

.header-img-1 {
    position: absolute;
    float: left;
    left: 0;
    padding: 15px;
}

.header-img-2 {
    padding-top: 13px;
}

.header-img-3 {
    position: absolute;
    float: right;
    right: 0;
    padding: 15px;
}

/*-------   Navbar    --------*/
.nav {
    height: 76px;
    position: relative;
    background-image: url(../images/nav_bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu {
    height: auto;
    margin: 0 auto;
    width: 100%;
    display: block;
    min-width: 1000px;
    max-width: 1000px;
}

.menu ul {
    width: 100%;
    display: flex;
    height: 76px;
}

.menu ul li {
    float: left;
    width: 166.6px;
    /* padding: 0px 3px; */
    position: relative;
    border-right: 1px solid #ccb73d;
    border-left: 1px solid #fae477;
}

/* .menu ul li:first-child {
    border-left: none;
}

.menu ul li:last-child {
    border-right: 2px solid #fae477;
} */

.menu ul li a {
    width: 100%;
    text-align: center;
    display: block;
    position: absolute;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 34px;
    font-weight: bold;
    text-decoration: none;
    top: 50%;
    color: black;
    transform: translateY(-50%);
}

.menu ul li:hover {
    background: url("../images/button_hover.png");
}

/* Wrapper */
.wrapper {
    background-color: black;
    width: 100%;
}

.wrapper-container {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 35px;
}

.main-title {
    width: 100%;
    height: 72px;
    background: url("../images/title_bg.png") no-repeat center center;
    display: flex;
    align-items: center;
}

.main-title h2 {
    font-size: 36px;
    letter-spacing: 5px;
    line-height: 26px;
    color: #ffffff;
    font-weight: bold;
    margin-left: 14px;
}

.title-link-container {
    margin-left: 6px;
}

.title-link-container ol {
    display: flex;
}
.title-link-container a {
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.title-link:before {
	content: "＞" !important;
    color: white !important;
    padding: 0px 5px 0px 10px;
}

/* Main content container  */
.border-container {
    position: relative;
}

.border-container img {
    padding-top: 10px;
}

.white-bg {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 97%;
}

.white-bg img {
    height: 1212px;
}

.main-content-container {
    width: 90%;
    position: absolute;
    top: 37px;
    left: 50%;
    transform: translateX(-50%);
}

.title-1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    background: url("../images/title_bg_2.png") no-repeat center center;
    margin-top: 24px;
}

.title-1 h2 {
    font-size: 22px;
    line-height: 15px;
    color: #fffefe;
    font-weight: bold;
}

.content-1 {
    width: 100%;
    height: 348px;
    background: url("../images/gray_bg.png") no-repeat center center;
    color: white;
}

.text-edit-1 {
    font-size: 19px;
    letter-spacing: 0px;
    font-weight: bold;
}

.text-edit-2 {
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 21px;
    font-weight: 500;
}

.text-edit-3 {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
}

.content-highlight {
    display: grid;
    grid-template-columns: 50% 50%;
}

.content-text {
    width: 834px;
    height: 79px;
    margin: 0 auto;
    padding-top: 18px;
}

.content-yellow-bg {
    padding-top: 68px;
    float: right;
    position: relative;
}

.content-yellow-text {
    position: absolute;
    top: 174px;
    left: 199px;
}

.content-red-bg {
    position: relative;
    padding-top: 68px;
    padding-left: 15px;
}

.content-red-text {
    position: absolute;
    top: 174px;
    right: 200px;
}

/* Section container */
.section {
    background: url("../images/section_bg.png");
}

.section-container {
    width: 860px;
    margin: 0 auto;
}

.title-border-red {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background: url("../images/bg_border_red.png") no-repeat center center;
    margin-top: 27px;
}

.title-border-red p {
    font-size: 16px;
    line-height: 25px;
    color: #cc0000;
    font-weight: 500;
}

.section-content {
    display: flex;
    align-items: center;
    margin-top: 23px;
}

.content-left {
    width: 290px;
    display: flex;
    align-items: center;
    height: 39px;
    background: url("../images/content_left_bg.png") no-repeat center center;
}

.content-left p {
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    font-weight: bold;
    margin-left: 23px;
}

.content-left span {
    color: #ff6666;
    margin-left: 23px;
}

.content-right {
    margin-left: 20px;
}

.content-right-edit-1 {
    font-size: 16px;
    line-height: 25px;
    color: #ff6666;
    font-weight: 500;
}

.content-right-edit-2 {
    font-size: 14px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 500;
}

.content-right input {
    background: url("../images/input_bg_1.png") no-repeat center center;
    width: 310px;
    height: 35px;
    background-color: #fff1f1;
    border: 1px solid #ff3333;
}

.list-input {
    display: flex;
}

.list-input-item {
    display: flex;
}

.list-input input {
    background: url("../images/list_input_bg.png") no-repeat center center;
    width: 137px;
}

.list-input p {
    font-size: 18px;
    line-height: 27px;
    color: #ffffff;
    font-weight: bold;
    margin: 17px 18px 0px 7px;
}

.content-left-edit {
    width: 290px;
    height: 320px;
    display: flex;
    align-items: center;
    background: url("../images/content_left_bg_2.png") no-repeat center center;
}

.content-right-edit-3 {
    background: url("../images/content_right_bg.png") no-repeat center center;
    width: 570px;
    height: 320px;
    display: flex;
    align-items: center;
    overflow: auto;
}

.main-text {
    width: 512px;
    height: 272px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    margin: 0 auto;
}