* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    background: #121212;
    color: #505959;
}

/* Header */
.header {
    background: url(../images/header-bg1.jpg);
    height: 254px;
    position: relative;
    margin-bottom: auto;
}

.title {
    background: url(../images/logo.jpg);
    width: 353px;
    height: 116px;
    position: absolute;
    top: 53px;
    left: 50px;
}

.title h2 {
    color: black;
    font-size: 40px;
    margin-top: 35px;
    margin-left: 100px;
}

.navbar {
    position: absolute;
    bottom: -57px;
    left: 68px;
}

.navbar ul {
    list-style: none;
}

.navbar li {
    display: inline-block;
}

.navbar span {
    display: block;
}

.navbar a {
    color: white;
    font-size: 22px;
    text-align: center;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
}
/* End of header */

/* Main */
.main {
    font-size: 14px;
    margin-top: 114px;
    margin-left: 70px;
    width: 670px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    border-bottom: 1px dotted #323232;
}

.sidebar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background: #1f1f1f;
    padding: 50px 35px;
    height: 60%;
}

.box-1 {
    border-top: 1px solid #7e7e7e;
    padding-top: 30px;
    padding-bottom: 70px;
}

.box-2 {
    border-top: 1px solid #2c2c2c;
    padding-top: 30px;
}

.box-2 ul {
    list-style-type: none;
}

.box-2 li {
    margin-left: 26px;
}

/* Create > graphic */
.box-2 li:before {
    content: "";
    border-color: transparent #707070;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.55em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
}

.box-2 li a {
    color: #707070;
    font-size: 12px;
}
/* End of main */

/* Content */
.content {
    margin: 50px 0 0 50px;
}

.content-box {
    margin-bottom: 50px;
}

.content-box input[type="text"] {
    background: #2c2c2c;
    border: none;
    padding: 6px;
    margin: 15px 20px;
}

.content-box p {
    margin-left: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted #323232;
}

.content-box a:before {
    content: url(../images/launch-website.gif);
    padding: 5px;
}

.content-box a {
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
    color: white;
    display: block;
    margin: 15px 20px;
}
/* End of content */

.footer {
    font-size: 14px;
    margin-left: 57px;
    padding: 20px;
}

.footer a {
    color: #505959;
}

.footer-1 {
    margin-bottom: 40px;
}
