* {
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    width: 500px;
    margin: auto;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img {
    width: 100%;;
}

#prev,
#next {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
    transform: translate(0,350%);
}

#next {
    right: 0;
}

#prev:hover,
#next:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.column {
    float: left;
    width: 16.66%;
    margin-right: 5px;
    list-style-type: none;
}

.cursor {
    opacity: 0.6;
    cursor: pointer;
}

.active,
.cursor:hover {
    opacity: 1;
}

.fade {
    animation: fade 2s;
    -webkit-animation: fade 2s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

.mySlides {
    display: none;
}

.active {
    display: block;
}
