$color_1: white;
$color_2: red;
$color_3: #000000;
$color_4: #cc0000;
$color_5: #ff3326;
$color_6: #ff6666;
$color_7: #c49d1a;
$font_family_1: 'Yu Gothic', sans-serif;
$font_family_2: "Yu Gothic";
$background_color_1: #352700;
$background_color_2: #F18800;
$background_color_3: #DB403A;
$background_color_4: #fff1f1;
$background_color_5: white;
$background_color_6: #278305;