.mt__40 {
  margin-top: 40px; }

.mt__30 {
  margin-top: 30px; }

.mt__7 {
  margin-top: 7px; }

.text__style--1 {
  font-size: 16px;
  line-height: 25px;
  color: #000000;
  font-weight: 500; }

.text__style--2 {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: 500; }

.wrapper__container {
  width: 1000px;
  margin: 0 auto; }

.yellow__border {
  width: 100%;
  height: 3784px; }

.white__bg {
  width: 100%;
  height: 3697px; }

.title {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  color: white;
  font-size: 36px;
  background: url(../images/main_title_bg.png);
  margin-top: 32px;
  height: 72px; }
  .title p {
    position: absolute;
    font-family: 'Yu Mincho', sans-serif;
    font-weight: 700;
    padding-left: 25px;
    top: 50%;
    transform: translateY(-50%); }

.breadcrumb__item {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px; }
  .breadcrumb__item + li.breadcrumb__item {
    padding-left: 10px; }
    .breadcrumb__item + li.breadcrumb__item:before {
      display: inline-block;
      padding-right: 4px;
      color: white;
      content: ">"; }

.breadcrumb {
  display: flex;
  list-style-type: none;
  padding-left: 3px;
  margin-top: 5px; }

.breadcrumb__item a {
  text-decoration: none;
  color: #ffffff; }

.main {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 9px; }

.box {
  top: 15px;
  width: 97%;
  position: absolute; }

.section__container {
  position: absolute;
  top: 0;
  width: 100%; }

.section__first {
  width: 92.9%; }

.section__first p:nth-child(1) {
  margin-top: 30px;
  width: 100%;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  font-weight: bold; }

.section__first p:nth-child(2) {
  margin-top: 7px;
  width: 100%;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
  font-weight: 500; }

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.section__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  color: white;
  width: 92.81%;
  height: 46px;
  margin-top: 24px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
  background-image: linear-gradient(0deg, #a2712e 0%, #d6b32d 50%, #a2712e 100%); }

.title__after {
  position: absolute;
  right: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border: 1.5px solid #ffffff; }

.title__after div {
  width: 15px;
  height: 1.5px;
  background-color: #ffffff; }

.section__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 92.81%;
  background: url("../images/image_5.png"); }

.step {
  width: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center; }

.step__title {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  font-weight: bold;
  height: 50px;
  background-color: #fefbd2; }

.step__title p {
  margin-left: 30px; }

.step__content {
  width: calc(100% - 6px);
  background-color: #ffffff;
  border: 3px solid #c49d1a;
  border-top: 1.5px solid #c49d1a; }

.step__content--1 p:first-child {
  margin: 14px 0px 0px 27px; }

.step__content--1 p:nth-child(2) {
  margin: 14px 0px 0px 27px; }

.step__content--1 p:nth-child(3) {
  margin: 0px 0px 15px 27px; }

img.scroll {
  margin: 15px 0px; }

.step__content--2 p {
  margin: 21px 0px 21px 27px; }

.step__content--3 {
  width: calc(100% - 4px);
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center; }

.step__content--3 p:first-child {
  margin: 15px 0px 0px 27px; }

.black__square {
  width: calc(100% - 34px);
  height: 290px;
  background-color: #000000;
  border: 2px solid #333333;
  margin: 20px 0px 20px 5px; }

.step__content--4 {
  width: calc(100% - 4px);
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center; }

.step__4__left p:first-child {
  margin: 15px 0px 0px 27px; }

.step__4__left p:nth-child(2) {
  margin: 15px 0px 15px 27px; }

.step__4__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
  color: white;
  width: calc(100% - 34px);
  height: 30px;
  margin-top: 20px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
  background-image: linear-gradient(0deg, #a2712e 0%, #d6b32d 50%, #a2712e 100%);
  border: 2px solid #333333;
  border-bottom: none;
  margin: 20px 0px 0px 5px; }

.step__4__p {
  width: calc(100% - 34px);
  border: 2px solid #333333;
  margin: 0px 0px 0px 5px;
  background: url(../images/image_5.png); }

.step__4__item {
  width: 100%;
  display: flex; }

.span__left {
  width: 60%;
  font-size: 12px;
  height: 23px;
  border: 1px solid #a38c41;
  background-color: #fefbd2;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin: 0px 13px 0px 30px; }

.span__left span {
  color: #ff3326;
  margin-left: 10px; }

.step__4__p div div input {
  height: 23px;
  border: 1px solid #a38c41; }

.step__4__p div div p {
  font-size: 12px;
  color: #ffffff;
  margin-top: 3px; }

.step__4__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  width: calc(100% - 245px);
  color: white;
  height: 30px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  background-image: linear-gradient(180deg, #35b556 0%, #259e44 49%, #21882f 50%, #0b710d 100%);
  font-size: 12px;
  margin: 17px 0px 38px 180px; }

.step__4__btn p::before {
  position: absolute;
  content: "";
  left: 19px;
  width: 12px;
  height: 12px;
  background: url("../images/nav_before_white.svg");
  top: 50%;
  transform: translateY(-50%); }

.step__content--5 p:first-child {
  margin: 15px 0px 0px 27px; }

.step__content--5 p:nth-child(2) {
  margin: 15px 0px 17px 27px; }

.step--last {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.step--last div:first-child {
  font-size: 16px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 500;
  margin: 15px 0px 0px 0px; }

.step--last div:nth-child(2) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: calc(100% - 553px);
  height: 65px;
  border-radius: 5px;
  background-image: linear-gradient(0deg, #f0bf40 0%, #f0bf40 22%, #f0bf40 48%, #feedaa 50%, #feedaa 75%, #feedaa 100%);
  font-size: 26px;
  line-height: 19px;
  color: #000000;
  font-weight: bold;
  margin: 16px 0px 19px 0px; }

.step--last div:nth-child(2) p::before {
  position: absolute;
  content: "";
  left: 13px;
  width: 17px;
  height: 17px;
  background: url("../images/button_before.png");
  top: 50%;
  transform: translateY(-50%); }

.section__2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 22px;
  width: 100%; }

.step__content--3 p:nth-child(2) {
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: 500;
  margin: 0px 0px 0px 27px; }

/*# sourceMappingURL=content.css.map */
