@import "common.scss";

@media (min-width: 992px) and (max-width: 1199.98px) {
	.header__mobile {
		display: none;
	}
	.footer__bg {
		margin-top: 170px;
		margin-bottom: 10px;
	}
	.footer__link {
		flex-direction: column;
		ul {
			order: 1;
			width: 100%;
			justify-content: center;
			li {
				margin-left: 20px;
				a {
					font-size: 14px;
					margin-right: 10px;
				}
			}
		}
		img {
			order: 2;
		}
		p {
			order: 3;
			font-size: 14px;
		}
	}
	.footer__jra {
		display: none;
	}
	.copyright {
		margin-top: 20px;
	}
}
@media (min-width: 1200px) {
	.header__mobile {
		display: none;
	}
	.footer__bg {
		margin-top: 201px;
		margin-bottom: 17px;
	}
	.footer__link {
		font-size: 12px;
		ul {
			font-size: 10px;
		}
	}
}