@media screen and (max-width:644px) {
div.header {
  float: none;
  height: auto;
  padding: 14px 0 10px 0;
}

div.inner {
  height: auto;
  margin: 0 auto;
  padding: 0 1%;
  text-align: center;
  width: 98%;
  min-width: 50%;
}

div.float,
img.float,
a.float,
.float {
  float: none !important;
  text-align: center;
  margin: 7px auto;
  display: inline-block;
}

div.aside {
  float: none;
  width: 98%;
  margin: 5px auto;
}

div.content {
  width: 98%;
  margin: 6px auto;
}



div.blog-3 ul {
  padding: 15px 5px;
}

div.blog-3 ul li {
  width: 100%;
  background: none;
  border: 1px solid #d9cbb2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin: 5px 0;
}

p.txt_line_1 {
  line-height: 1.6;
}

div#page-top {
  top: -50px;
}

.footer-left ul {
  margin: 0px auto;
}

.footer-left ul a {
  line-height: 1.3;
}

a.btn_1 {
  text-align: center !important;
  width: 100%;
}

.footer {
  float: none !important;
  padding: 0px !important;
  height: 253px !important;
}

.footer-right {
  width: 97%;
  left: 0px;
  top: 150px;
  margin: 5px auto;
}

img.content_2 {
  height: auto;
  display: block;
  margin: 10px auto;
}

div.blog-1 h2 {
  padding: 10px 0 10px 3px;
}

img.content_1 {
  height: auto;
}

div.banner {
  height: auto;
  margin: 0;
  padding: 0;
}

.banner img {
  height: auto !important;
}

div.inner {
  height: auto;
  margin: 0 auto;
  padding: 0 1%;
  text-align: center;
  width: 98%;
  min-width: 50%;
}

a.footer_btn img,
img.footer_phone {
  height: auto;
}
}