@import "common.scss";

footer {
	position: relative;
	height: 200px;
	text-align: center;
}
.footer__bg {
	display: flex;
	justify-content: space-between;
	position: absolute;
	margin-top: 80px;
	width: calc(100% - 28px);
	left: 50%;
	transform: translateX(-50%);
}
.footer__text {
	display: flex;
	justify-content: center;
	width: 1000px;
	position: absolute;
	// top: 50px;
	color: $color_1;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}
.footer__list__img {
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 1000px;
	top: 91px;
	left: 50%;
	transform: translateX(-50%);
}
.footer__link {
	display: flex;
	width: 1000px;
	color: $color_1;
	align-items: center;
	font-weight: 500;
	position: absolute;
	top: 168px;
	left: 50%;
	transform: translateX(-50%);
	ul {
		display: flex;
		width: 62%;
		justify-content: flex-end;
		li {
			display: flex;
			align-items: center;
			list-style-type: none;
			padding-left: 10px;
			cursor: pointer;
			a {
				margin-left: 10px;
				text-decoration: none;
				color: $color_1;
			}
		}
	}
}