@import "common.scss";

.nav {
	position: relative;
	display: flex;
	justify-content: center;
    background: url("../images/nav_bg.png");
    height: 76px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
    li.nav__item {
		display: flex;
        justify-content: center;
        align-items: center;
        width: 165px;
        cursor: pointer;
        border-left: 1px solid #ccb73d;
        margin: 1px 0;
        &:last-child {
            border-right: 1px solid #ccb73d;
        }
        ul.sub__nav {
            position: absolute;
            top: 100%;
            display: none;
            div {
                width: 1000px;
                padding: 13px 0;
            }
            li.sub__nav {
                list-style-type: none;
                display: flex;
                justify-content: center;
                align-items: center;
                a.sub__nav {
                    position: absolute;
                    text-decoration: none;
                    color: $color_1;
                    padding-left: 17px;
                    &:before {
                        position: absolute;
                        content: "";
                        background: url("../images/nav_before_2.svg") no-repeat;
                        width: 12px;
                        height: 12px;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                    }
                }
            }
        }
        &:hover {
            background-color: #352700;
            a.nav__link {
				color: $color_1;
				&:before {
					background: url("../images/nav_before_2.svg") no-repeat;
				}
            }
            ul.sub__nav {
                display: flex;
				justify-content: center;
                visibility: visible;
                background-color: #352700;
                width: 100%;
                left: 0;
                opacity: 1;
                div {
                    display: flex;
					justify-content: space-between;
                    align-items: center;
                    li.sub__nav {
                        list-style-type: none;
                        padding: 20px 0px; 
                        &:hover {
                            a.sub__nav {
                                color: #e4ba35;
                                &:before {
                                    background: url("../images/nav_before_3.svg") no-repeat;
                                }
                            }
                        }
                    }
                }
            }
        }
		a.nav__link {
			position: absolute;
			text-decoration: none;
			color: $color_3;
			font-size: 18px;
			font-weight: 700;
			padding-left: 15px;
			line-height: 26px;
			&:before {
				position: absolute;
				content: "";
				background: url("../images/nav_before.svg") no-repeat;
				width: 12px;
				height: 12px;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}
    }
}