@import "common";

.nav {
	position: relative;
	display: flex;
	justify-content: center;
	background: url("../images/nav_bg.png") no-repeat;
	height: 76px;
	background-position: center;
	background-size: cover;
	li.menu {
		position: relative;
		list-style-type: none;
		width: 164px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-right: 1px solid #ccb73d;
		border-left: 1px solid #fae477;
		&:last-child {
			border-right: 1px solid #ccb73d;
		}
		&:hover {
			background: url("../images/button_hover.png");
			a.menu__text {
				color: $color_1;
				&:before {
					background: url("../images/nav_before_2.svg") no-repeat;
				}
			}
		}
		a.menu__text {
			position: absolute;
			text-decoration: none;
			color: $color_3;
			font-size: 18px;
			font-weight: 700;
			padding-left: 15px;
			line-height: 26px;
			&:before {
				position: absolute;
				content: "";
				background: url("../images/nav_before.svg") no-repeat;
				width: 12px;
				height: 12px;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}
	}
}

ul.sub__nav {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #352700;
	height: 76px;
	background-position: center;
	background-size: cover;
	// display: none;
	li.sub__nav {
		position: relative;
		list-style-type: none;
		width: 248px;
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover {
			a.sub__nav {
				color: #e3b935;
				&:before {
					background: url("../images/nav_before_3.svg") no-repeat;
				}
			}
		}
		a.sub__nav {
			position: absolute;
			text-decoration: none;
			color: $color_1;
			font-size: 18px;
			font-weight: 700;
			padding-left: 15px;
			line-height: 26px;
			&:before {
				position: absolute;
				content: "";
				background: url("../images/nav_before_2.svg") no-repeat;
				width: 12px;
				height: 12px;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}
	}
}
.menu__sub {
	&:hover {
		.nav__sub {
			display: block;
		}
	}
}