* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}
#container {
  width: 300px;
  margin: auto;
  background-color: #e6f3fb;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
}
h3.title {
  font-size: 12px;
}
.inner-content {
  border-top: 2px solid #ffa500;
  padding-top: 8px;
  background: #fff;
}
.box-left {
  width: 55%;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.box-left img {
  width: 100%;
  border: 1px solid #cccccc;
  padding: 1px;
}
.box-right {
  float: right;
  width: calc(100% - 55% - 25px);
}
.box-right p {
  line-height: 1.4;
}
h4 {
  color: #0a6395;
  padding-bottom: 3px;
}
a {
  color: #0a6395;
  text-decoration: none;
}
a:hover {
  text-decoration: underline !important;
}
.clear-both {
  clear: both;
}
.list-blogroll {
  color: #0a6395;
}
.list-blogroll li {
  list-style-type: none;
  background-color: #faf0bf;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 2px;
}
span {
  color: #808080;
}
.content-horo .box-left {
  width: 32%;
}
.content-horo .box-left img {
  border: none;
}
.content-horo .box-right {
  width: 60%;
  float: left;
}
.content-horo .box-right > h4 {
  color: unset;
}
.content-horo a {
  color: #0a6395;
}
.content-horo .inner-content,
.content-horo .box-right p {
  padding-top: 15px;
}
.content-news {
  margin-top: 15px;
}
.content-horo .box-content {
  margin-top: 5px;
  background-color: #f4f4ec;
  padding-left: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-image: url(../images/img3.gif);
  background-repeat: no-repeat;
  background-size: 64px;
  background-position: 238px -2px;
}
.content-horo .box-content h4 {
    padding-top: 2px;
}
.content-horo .box-right a {
  text-decoration: underline;
}
.content-news .box-text {
  width: 125px;
  line-height: 1.3;
}
.hr {
  width: 100%;
  background-color: #cccccc;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 1px;
}
.content-news .inner-content {
  background-image: url(../images/img4.png);
  background-position: 206px 0px;
  background-repeat: no-repeat;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  background-size: 98px 95px;
}
.content-compe .inner-content {
  border-top: unset;
  border: 1px solid #dadada;
  padding-top: 10px;
  padding-bottom: 10px;
}
.content-compe li {
  list-style-type: none;
  padding-left: 10px;
  line-height: 1.3;
}
.content-compe li a {
  color: #0a6395;
  text-decoration: none;
}
