* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.main-container {
    position: relative;
    width: 950px;
    height: 600px;
    margin: auto;
    background: url("../images/bg_itm_lineup.jpg");
}

.slide-container {
    width: 648px;
    height: 440px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 100px;
}

.slide {
    width: 648*5px;
    height: auto;
    position: absolute;
}

ul {
    list-style: none;
}

img {
    width: 100%;;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 0;
    width: auto;
    padding: 16px;
    margin-top: -130px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
    transform: translate(0,350%);
}

.prev:hover, .next:hover {
    background: rgba(0, 0, 0, 0.57);
}

.next {
    right: 0;
}

.slide li {
    position: relative;
    float: left;
}

.slide img {
    width: 648px;
    height: 335px;
}

.thumbnail {
    position: relative;
    width: 648px;
    margin: 0 auto;
    padding-top: 25px;
    height: auto;
    padding-left: 65px;
}

.thumbnail li {
    float: left;
    width: 16.66%;
    margin-right: 5px;
    list-style-type: none;
    opacity: 0.5;
    cursor: pointer;
}

.thumbnail li.active {
    opacity: 1;
}

