header {
    .logo {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 9;
        box-shadow: -5px 5px 30px -10px rgba(0, 0, 0, 0.75);
        background: $textWhite;
        @media only screen and (max-width: 1024px) {
            width: 100%;
            height: 54px;
        }
        img {
            width: 100%;
            height: 68px;
            @media only screen and (max-width: 1024px) {
                    display: none;
            }
        }
        img + a {
            position: absolute;
            left: 0;
            top: 0;
            padding: 10px;
            @media (min-width: 1100px) {
                left: 4%;
            }
            img {
                height: 100px!important;
                width: 100px!important;
                @media only screen and (max-width: 1024px) {
                    display: block;
                    max-width: 80px;
                    max-height: 80px!important;
                }
            }
        }
        .button-menu {
            display: none;
            @media only screen and (max-width: 1024px) {
                display: block;
                border: none;
                background: no-repeat;
                position: fixed;
                right: 0;
                padding: 5px 15px;
                cursor: pointer;
                .bar1, .bar2, .bar3 {
                    background-color: #737373;
                    border-radius: 9px;
                    margin: 5px;
                    padding: 4px 20px;
                }
            }
        }          
    }
    // .navbar-toggler {
    //     display: none;
    // }
    p.header-menu-btn {
        z-index: 9;
        display: none;
        background: #000000;
        color: white;
        padding: 33px 20px;
        position: fixed;
        right: 0;
        font-weight: $weightBold;
        font-size: -tablet(30px);
        bottom: 20px;
        cursor: pointer;
        font-family: BebasNeue;
        @media only screen and (max-width: 1024px) {
            display: block;
        }
        @media (max-width: 767px) {
            padding: 26px 15px;
            font-size: 18px;
        }
    }
    .pageTop {
        font-family: BebasNeue;
            position: fixed;
            height: 65px;
            width: 65px;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: -21px;
            right: 10px;
            background: $bgBlack;
            color: $textWhite;
            font-weight: bold;
            text-align: center;
            font-size: 14px;
            cursor: pointer;
            z-index: 9;
            line-height: 1;
            font-size: 13px;
            border-radius: 50%;
    }
    nav.navbar {
        margin-top: 72px;
        background: $bgLightGray;
        @media only screen and (max-width: 1024px) {
            margin-top: 54px;
        }
        ul.navbar-nav {
            @media only screen and (max-width: 1024.98px) {
                position: fixed;
                right: -68%;
                text-align: left;
                width: 68%;
                top: 54px;
                z-index: 4;
            }
            @media only screen and (min-width: 1024.98px) {
                right: 0!important;
            }
            // @media only screen and (max-width: 767px) {
            //     height: 90vw;
            //     bottom: 0;
            //     overflow-y: auto;
            // }
            text-align: center;
            position: relative;
            li.nav-item.active {
                background: $bgBlack;
                a {
                    color: $textWhite;
                }
                @media only screen and (max-width: 1024px) {
                    background-color: $bgGrayBlack;
                    border-bottom: 1px solid $bgBorderLightGray;
                }
            }
            li.nav-item {
                @media only screen and (max-width: 1024px) {
                    background-image: none;
                    display: block;
                    background-color: $bgGrayBlack;
                    margin-left: 0;
                    border-bottom: 1px solid $bgBorderLightGray;
                    a {
                        color: $textWhite!important;
                    }
                    &:last-child {
                        background-image: none;
                        background-color: $bgBlack;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 14.5px;
                    }
                }
                background: url("../images/img16.png") no-repeat right center;
                margin-left: -6px;
                cursor: pointer;
                position: relative;
                &:nth-child(5) {
                    background-image: none;
                }
                &:last-child {
                    .close {
                        .bar1 {
                            width: 25px;
                            height: 1px;
                            background: white;
                            transform: rotate(45deg);
                            margin-bottom: -1px;
                        }
                        .bar2 {
                            width: 25px;
                            height: 1px;
                            background: white;
                            transform: rotate(-45deg);
                        }
                    }
                    span {
                        color: $textWhite;
                        text-transform: uppercase;
                        font-family: BebasNeue;
                    }
                }
                @media only screen and (min-width: 1024.98px) {
                    &:hover {
                        background: $bgBlack;
                        a {
                            color: $textWhite;
                        }
                        ul.submenu {
                            display: block;
                        }
                    }
                }
                display: inline-block;
                a {
                    @media only screen and (max-width: 1290px){
                        font-size: $size-19;
                    }
                    @media only screen and (max-width: 1024px){
                        font-size: $size-16;
                    }
                    display: block;
                    padding: 14px 15px;
                    font-family: BebasNeue;
                    color: $bgBlack;
                    text-decoration: none;
                    text-transform: uppercase;
                    // font-weight: $weightBold;
                    font-size: $size-20;
                }
                ul.submenu {
                    @media only screen and (max-width: 1024px) {
                        position: static;
                        display: block;
                        top: auto;
                        left: auto;
                    }
                    z-index: 999;
                    display: none;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    background: $bgGrayBlack;
                    li {
                        list-style-type: none;
                        @media only screen and (max-width: 1024px) {
                            width: 32%;
                            display: inline-block;
                            border-right: 1px solid $textWhite;
                            margin-bottom: 20px;
                            margin-left: 25px;
                            a {
                                padding: 0px;
                            }
                            &:nth-child(2),
                            &:nth-child(4) {
                                border-right: none;
                            }

                        }
                    }
                }
            }
            li.nav-item.close-menu {
                @media only screen and (min-width: 1024.98px) {
                    display: none;
                }
            }
            li.nav-item.social {
                position: absolute;
                right: 80px;
                top: 50%;
                transform: translateY(-50%);
                background-image: none;
                @media only screen and (max-width: 1024px) {
                    padding: 9px;
                    position: static;
                    transform: none;
                    a {
                        &:nth-child(1) {
                            margin-left: 6px;
                        }
                    }
                }
                @media only screen and (max-width: 1024px) {
                    right: 20px;
                }
                @media only screen and (max-width: 1900px)  and (min-width: 1700px){
                    right: 120px;
                }
                @media only screen and (min-width: 1024.98px) {
                    &:hover {
                        background: none;
                    }
                }
                a {
                        border-radius: 50%;
                        display: inline-block;
                    i {
                        color: $textWhite;
                        font-size: 15px;
                    }
                    @media only screen and (max-width: 1024px) {
                        &:nth-child(1),
                        &:nth-child(3) {
                            padding: 5px 8px;
                        }
                        &:nth-child(2) {
                            padding: 5px 11px;
                        }
                    }
                    &:nth-child(1) {
                        background: $bgsSkyBlue;
                        padding: 5px 11px;
                        @media only screen and (max-width: 1024px) {
                            padding: 8px 11px;
                        }
                    }
                    &:nth-child(2) {
                        background: $bgBlueFacebook;
                        padding: 5px 13px;
                        @media only screen and (max-width: 1024px) {
                            padding: 8px 14px;
                        }
                    }
                    &:nth-child(3) {
                        background: $bgPink;
                        padding: 5px 11px;
                        @media only screen and (max-width: 1024px) {
                            padding: 8px 11px;
                        }
                    }
                }
            }
        }
    }
    .color-bar {
        background: url("../images/img19.png") repeat-x left bottom 5px;
        padding-bottom: 16px;
    }
}