select {
    font-size: 18px;
}

.calendar-container button {
    border: none;
    background: none;
}

.calendar-container button:hover {
    color: red;
    cursor: pointer;
    font-weight:bold;
}

#show-calendar {
    background: url(../images/calendar.png) no-repeat right;
    background-size: contain;
}

table, tr, td {
    border: 2px solid black;
    border-collapse: collapse;
    margin-top: 8px;
}

td {
    width: 70px;
    height: 40px;
    text-align: center;
}

td.days:hover {
    background: rgba(136, 243, 243, 0.83);
    cursor: pointer;
}

td.week {
    font-weight: bold;
    color: red;
}

td:hover {
    background: aqua;
}

.title {
    color: white;
}

span {
    display: block;
    font-size: 16px;
    background-color: bisque;
    color: red;
    font-weight: bold;
    margin-top: 15px;
}
