nav {
  position: relative;
  background: url("../images/nav.png");
  height: 76px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center; }
  nav li.nav-item {
    position: relative;
    list-style-type: none;
    width: 167px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-duration: 0.5s; }
    nav li.nav-item:nth-child(2) div {
      width: 120px;
      display: flex;
      justify-content: center;
      align-items: center; }
      nav li.nav-item:nth-child(2) div svg.svg.navbar--plus {
        display: none; }
      nav li.nav-item:nth-child(2) div svg {
        width: 22px;
        height: 15px; }
    nav li.nav-item:nth-child(3) div svg.svg.navbar--plus {
      display: none; }
    nav li.nav-item:nth-child(4) div svg.svg.navbar--plus {
      display: none; }
    nav li.nav-item ul.sub__menu {
      visibility: hidden;
      z-index: 2;
      position: absolute;
      top: 100%;
      opacity: 0;
      border: 0.5px solid #ccb73d;
      transform: translateY(-3px);
      transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s; }
      nav li.nav-item ul.sub__menu li {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        nav li.nav-item ul.sub__menu li a {
          color: white;
          order: 1; }
        nav li.nav-item ul.sub__menu li svg {
          order: 2;
          color: white;
          opacity: 0; }
          nav li.nav-item ul.sub__menu li svg path {
            color: white; }
    nav li.nav-item svg path {
      fill: #000000; }
    nav li.nav-item:before {
      border-left: 1px solid #ccb73d;
      position: absolute;
      content: "";
      left: 0;
      top: 1px;
      height: 97%; }
    nav li.nav-item:last-child {
      top: 1px;
      height: 97%;
      border-right: 1px solid #ccb73d; }
    nav li.nav-item:hover {
      background-color: #352700; }
      nav li.nav-item:hover a {
        color: white; }
      nav li.nav-item:hover svg path {
        fill: white; }
      nav li.nav-item:hover ul.sub__menu {
        visibility: visible;
        background-color: #352700;
        width: 200%;
        z-index: 2;
        left: 0;
        box-shadow: 0px 2px 4px 1px gray;
        opacity: 1;
        transform: translateY(0%);
        transition-delay: 0s, 0s, 0.3s; }
        nav li.nav-item:hover ul.sub__menu li {
          list-style-type: none;
          border-top: 0.5px solid #ccb73d;
          padding: 10px 10px;
          transition-duration: 0.5s; }
          nav li.nav-item:hover ul.sub__menu li:last-child {
            border-bottom: 0.5px solid #ccb73d; }
          nav li.nav-item:hover ul.sub__menu li a {
            margin-left: 0;
            order: 1; }
          nav li.nav-item:hover ul.sub__menu li svg {
            opacity: 1;
            order: 2; }
          nav li.nav-item:hover ul.sub__menu li:hover svg {
            -webkit-animation-name: example;
            -webkit-animation-duration: 1s;
            animation-name: example;
            animation-duration: 1s; }
            nav li.nav-item:hover ul.sub__menu li:hover svg path {
              fill: red; }
          nav li.nav-item:hover ul.sub__menu li:hover a {
            color: red; }
    nav li.nav-item a {
      text-decoration: none;
      color: #000000;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      margin-left: 10px; }

/*# sourceMappingURL=navbar.css.map */
