@import "common.scss";

nav {
	position: relative;
	background: url("../images/nav.png");
	height: 76px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	li.nav-item {
		position: relative;
		list-style-type: none;
		width: 167px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		transition-duration: 0.5s;
		&:nth-child(2) {
			div {
				svg.svg.navbar--plus {
					display: none;
				}
				width: 120px;
				display: flex;
				justify-content: center;
				align-items: center;
				svg {
					width: 22px;
					height: 15px;
				}
			}
		}
		&:nth-child(3) {
			div {
				svg.svg.navbar--plus {
					display: none;
				}
			}
		}
		&:nth-child(4) {
			div {
				svg.svg.navbar--plus {
					display: none;
				}
			}
		}
		ul.sub__menu {
			visibility: hidden;
			z-index: 2;
			position: absolute;
			top: 100%;
			opacity: 0;
			border: 0.5px solid #ccb73d;
			transform: translateY(-3px);
			transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
			li {
				list-style-type: none;
				display: flex;
				justify-content: space-between;
				align-items: center;
				a {
					color: $color_1;
					order: 1;
				}
				svg {
					order: 2;
					color: $color_1;
					opacity: 0;
					path {
						color: $color_1;
					}
				}
			}
		}
		svg {
			path {
				fill: #000000;
			}
		}
		&:before {
			border-left: 1px solid #ccb73d;
			position: absolute;
			content: "";
			left: 0;
			top: 1px;
			height: 97%;
		}
		&:last-child {
			top: 1px;
			height: 97%;
			border-right: 1px solid #ccb73d;
		}
		&:hover {
			background-color: $background_color_1;
			a {
				color: $color_1;
			}
			svg {
				path {
					fill: white;
				}
			}
			ul.sub__menu {
				visibility: visible;
				background-color: $background_color_1;
				width: 200%;
				z-index: 2;
				left: 0;
				box-shadow: 0px 2px 4px 1px gray;
				opacity: 1;
				transform: translateY(0%);
				transition-delay: 0s, 0s, 0.3s;
				li {
					list-style-type: none;
					border-top: 0.5px solid #ccb73d;
					padding: 10px 10px;
					transition-duration: 0.5s;
					&:last-child {
						border-bottom: 0.5px solid #ccb73d;
					}
					a {
						margin-left: 0;
						order: 1;
					}
					svg {
						opacity: 1;
						order: 2;
					}
					&:hover {
						svg {
							-webkit-animation-name: example;
							-webkit-animation-duration: 1s;
							animation-name: example;
							animation-duration: 1s;
							path {
								fill: red;
							}
						}
						a {
							color: $color_2;
						}
					}
				}
			}
		}
		a {
			text-decoration: none;
			color: $color_3;
			font-size: 18px;
			font-weight: 700;
			line-height: 26px;
			margin-left: 10px;
		}
	}
}