/*------------------ Header top --------------------*/
.header__top {
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list__button__top {
    display: flex;
    align-items: center;
}
.button__top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 68px;
    margin-right: 12px;
    border-radius: 5px;
    box-shadow: 0.5px 0.866px 3px rgba(0,0,0,0.5);
    background-image: linear-gradient(0deg, #ff6810 0%, #ff6810 22%, #ff6810 48%, #ff9024 50%, #ff9024 75%, #ff9024 100%);
}
.button__top a {
    cursor: pointer;
    font-size: 26px;
    line-height: 56px;
    color: #ffffff;
    font-weight: bold;
}
.menu {
    cursor: pointer;
    width: 100px;
    height: 99px;
    background-color: #278305;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.menu div {
    width: 50px;
    height: 7px;
    background-color: #ffffff;
}
.menu div:nth-child(2),
.menu div:nth-child(3) {
    margin-top: 10px;
}
.header__img {
    width: 100%;
}
nav.nav,
div.content__border__red,
.section__content__right p:first-child,
.section__content--4 div:first-child,
.footer__link img {
    display: none;
}

/*------------------ Content --------------------*/
.content__highlight {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.section__content {
    flex-direction: column;
}
div.section__content__left {
    background: none;
    color: #c49d1a;
    font-weight: bold;
}
.section__content--4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*------------------ Footer --------------------*/
.footer__text--1 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 48px);
    border: 1.5px solid #ffffff;
}
.footer__text--2 {
    display: inline-flex;
    justify-content: center;
    width: calc(100% - 48px);
    margin-top: 13px;        
}
.footer__list__img {
    width: calc(100% - 48px);
    display: grid;
    grid-template-columns: 49% 49%;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.footer__list__img img {
    width: 100%;
}
.footer__link {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: left;
    text-align: left;
    width: 100%;
}
.footer__link ul li {
    width: 100%;
    background: url("../images/footer_link_bg.png") no-repeat center center;
    display: flex;
    align-items: center;
    border-top: 2px solid #444444;
}
.footer__link ul li:last-child {
    border-bottom: 2px solid #444444;
}
.footer__link ul li a {
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 1px;
    color: #ffffff;
}
.footer__link ul li a::after {
    position: absolute;
    content: "";
    background: url("../images/footer_link_after.png") no-repeat;
    width: 20px;
    height: 20px;
}
.copyright {
    width: 100%;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.footer__background img {
    width: 100%;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (min-width: 425px) and (max-width: 575.98px) {

}