@media (min-width: 768px) and (max-width: 991.98px) {
  .header__mobile {
    display: none !important; }

  header {
    background: url("../images/banner_mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: calc((100 / 320) * 100%);
    height: auto; }
    header img {
      display: none; }

  ol.breadcrumb li a {
    font-size: 13px !important; }

  .wrapper__container {
    width: 100%; }

  .title {
    height: 54px;
    margin-top: 0; }
    .title p {
      font-size: 27px;
      padding-left: 20px; }

  .main img {
    height: 1312px; }
  .main .box {
    top: 13px; }

  .box img {
    height: 1225px;
    margin-top: 3px; }

  .section {
    width: calc(100% - (40px / 2));
    margin: auto; }

  .section__title {
    width: calc(100% - 50px);
    margin-top: 15px;
    height: 40px;
    font-size: 17px; }

  .section__content {
    width: calc(100% - 50px); }

  .section__text {
    font-size: 16px;
    margin-top: 26px;
    margin-bottom: 42px; }

  .section__2 {
    margin-top: 20px; }

  .section__title--2 {
    font-size: 17px;
    height: 40px; }

  .section__2__content {
    margin-bottom: 0; }

  .title__border__red {
    display: none; }

  .box__content {
    width: 100%;
    margin-top: 0; }

  .box__content__item {
    flex-direction: column;
    align-items: flex-start; }
    .box__content__item:nth-child(1) .content__right p {
      font-size: 15px;
      color: white; }
    .box__content__item:nth-child(2) .content__right .content__input div p {
      font-size: 17px;
      color: white;
      padding-right: 10px; }
    .box__content__item:nth-child(2) .content__right p {
      font-size: 15px;
      color: white; }
    .box__content__item:nth-child(3) .content__left {
      height: auto;
      margin: 0 13px;
      padding-left: 0; }
    .box__content__item:nth-child(3) .content__right {
      margin: 13px;
      width: calc(100% - 55px);
      height: 277px;
      overflow: auto;
      padding: 13px; }
      .box__content__item:nth-child(3) .content__right p {
        width: 100%;
        height: 100%;
        display: block;
        color: #000000;
        overflow: auto; }

  .content__left {
    width: 100%;
    margin: 0 13px;
    padding-left: 0;
    background: none;
    color: #c49d1a;
    font-size: 16px; }
    .content__left p {
      color: #ff3326;
      padding-left: 19px; }

  .content__right {
    margin: 0 13px;
    padding-left: 0;
    width: calc(100% - 22px); }
    .content__right p:first-child {
      display: none; }

  .box__content__last {
    margin-top: 0; }
    .box__content__last .content__last--1 {
      display: none; }
    .box__content__last div:nth-child(2) #check + label {
      border: none; }

  footer {
    width: 100%; }

  .footer__bg {
    margin-top: 660px;
    width: calc(100% - 10px);
    margin-bottom: 10px; }
    .footer__bg img {
      width: calc(100% / 8);
      height: auto; }

  .footer__text {
    width: calc(100% - 40px);
    flex-direction: column;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    line-height: 2; }
    .footer__text p {
      font-size: 15px;
      width: 100%;
      border: 1px solid white;
      padding: 2px 0;
      margin-bottom: 20px; }

  .footer__list__img {
    width: calc(100% - 40px);
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    top: 120px;
    border-top: 1px solid #444444;
    padding-top: 27px; }
    .footer__list__img img {
      width: 100%; }

  .footer__link {
    top: 239px;
    width: 100%;
    flex-direction: column; }
    .footer__link img {
      display: none; }
    .footer__link ul {
      order: 1;
      display: grid;
      grid-template-columns: 100%;
      width: 100%; }
      .footer__link ul li {
        background: url("../images/footer_link_bg.png") no-repeat;
        padding: 19px 0;
        padding-left: 0;
        justify-content: space-between;
        border-bottom: 1px solid #444444; }
        .footer__link ul li a {
          margin-left: 20px; }
          .footer__link ul li a::after {
            position: absolute;
            content: "";
            background: url(../images/nav_before_white.svg) no-repeat;
            width: 23px;
            height: 22px;
            right: 12px;
            margin-top: 2px;
            font-size: 18px; }
        .footer__link ul li svg {
          order: 2;
          margin-right: 10px; }
    .footer__link p {
      order: 2;
      width: calc(100% - 20px);
      margin-top: 50px;
      font-size: 16px; } }

/*# sourceMappingURL=responsive-4.css.map */
