@charset "utf-8";
/**
 * Button
 */
.group__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px;
  .btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17.83%;
    padding: 25px 0;
    background-image: url(../images/penbg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    @media (min-width: $sreen-tb) and (max-width: $sreen-pc) {
      width: 24%;
    }
  }
  .btn--1 {
    background-color: $pink;
    color: $white;
    &:hover {
      background-color: #994D58;
    }
  }
  .btn--2 {
    background-color: $pink-base;
    color: $white;
    margin-left: 20px;
    &:hover {
      background-color: #AB1F33;
    }
  }
}