@charset "utf-8";
/**
 * Button
 */
/* [B001]
-----------------------------------------------*/
.c-btn {
  box-shadow: 0px 3px 6px #0000003D;
  &:hover {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14),
                0 2px .5px -1px rgba(0,0,0,0.12),
                0 1px 3px 0 rgba(0,0,0,0.2);
  }
  &.waves-effect {
    .waves-ripple {
      background-color: rgba($primary-color, 0.30);
    }
  }
}
/* [B007]
-----------------------------------------------*/
.c-btn-flat {
  transition: .3s ease-out;
  &:hover {
    color: $primary-color;
  }
  &.waves-effect {
    .waves-ripple {
      background-color: rgba($primary-color, 0.20);
    }
  }
}
