/*-------   Common    --------*/
body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px !important;
	margin: 0 auto;
	color: #3a4d69;
}

.w-1030 {
	max-width: 1030px;
}

.w-770 {
	max-width: 770px;
}

p {
	margin-bottom: 0 !important;
}

.pd-15 {
	padding: 0px 15px;
}

.mt-95 {
	margin-top: 95px;
}

.mt-90 {
	margin-top: 90px;
}

.mt-83 {
	margin-top: 83px;
}

.mt-40 {
	margin-top: 40px;
}

.mt-48 {
	margin-top: 48px;
}

.mt-42 {
	margin-top: 42px;
}

.mt-23 {
	margin-top: 23px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-22 {
	margin-top: 22px;
}

/*-------    Navbar    -------*/
.navbar {
	font-size: 18px;
}

.nav-link {
	text-align: center;
}

/*-------    Header    -------*/
.header-above {
	height: 120px;
	background-color: #0c4aa2;
}

.header-title-1 {
	line-height: 34px;
	color: white;
	margin: 0px !important;
	font-size: 14px;
}

.header-title-2 {
	line-height: 34px;
	color: white;
	margin: 0px !important;
	font-size: 34px;
}

.header-below {
	height: 30px;
	background-color: #5581be;
}
  
.title-link-container {
	background-color: transparent !important;
	padding: 0 !important;
	margin: 0 !important;
}

.title-link:before {
	content: ">" !important;
	color: white !important;
}

.title-link-container a {
	font-size: 14px;
	line-height: 19px;
	color: white;
}

/*------- Content background images -------*/
.content-img {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	background-position: center;
}

.content-img-1 {
	background-image: url("../images/content_image_1.png");
}
  
.content-img-2 {
	background-image: url("../images/content_image_2.png");
}

.content-text-title {
	font-size: 26px;
	line-height: 30px;
}

/*------- List images -------*/
.list-images {
	padding-top: 84px;
	background-color: #f6f6f6;
	padding-bottom: 50px;
}

/*------- List button -------*/
.place-container-button {
	display: grid;
	justify-content: space-between;
}

.place-container-button div {
	width: 100%;
}

.list-btn {
	width: 100%;
	position: relative;
	margin-bottom: 25px;
}

.btn-text {
	width: 100%;
	border: 1px solid #dddddd;
	height: 40px;
	background: white;
	cursor: pointer;
	text-align: center;
	transition: all 1s;
}

.btn-text::after {
	display: block;
	content: '';
	width: 20px;
	height: 20px;
	background: transparent;
	position: absolute;
	-ms-transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
	transform: rotate(45deg);
	margin: auto;
	left: 0;
	right: 0;
	bottom: -10px;
	transition: all 1s;
}

.btn-text:hover span {
	background: #3a4d69;
	color: white;
}

.btn-text span {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	position: relative;
	z-index: 10000;
	transition: all 1s;
	color: #3a4d69;
	font-size: 16px;
	line-height: 24px;
}

.btn-text-active {
	background: #3a4d69;
	border-color: #3a4d69;
	position: relative;
}

.btn-text-active::after {
	background: #3a4d69;
}

.btn-text-active span {
	background: #3a4d69;
	color: white;
}

/*------- List images place -------*/
.active {
	display: grid !important;
}

.place-container-images {
	display: none;
	justify-content: space-between;
	grid-row-gap: 5px;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.place-container-images div {
	width: 100%;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
}

.item-img {
	overflow: hidden;
	width: 100%;
	height: 180px;
}

.item-img img {
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
}

.item-img:hover > img {
	transform: scale(1.3, 1.3);
	-webkit-transform: scale(1.3, 1.3);
	-moz-transform: scale(1.3, 1.3);
	-ms-transform: scale(1.3, 1.3);
	-o-transform: scale(1.3, 1.3);
}

.item-img > img {
	width: 100%;
	height: 180px;
	object-fit: cover;
	transition: 1s ease-in-out;
}

.item-img-text {
	color: #3a4d69;
	font-size: 18px;
	line-height: 19px;
}

/*------- Button more -------*/
.hide {
	display: none !important;
}

.btn-more {
	position: relative;
	width: 510px;
	height: 50px;
	background: #3a4d69;
	border-radius: 5px;
	cursor: pointer;
}

i.fas.fa-angle-down {
    position: absolute;
	right: 19px;
	top: 18px;
}

/*------- Footer -------*/
.footer-1 {
	background: white;
	height: 60px;
}

.footer-2 {
	background: #333333;
	height: 60px;
}

.footer-3 {
	background: #2b2b2b;
	height: 120px;
}

i {
	cursor: pointer;
}

.footer-4 {
	background: black;
	height: 120px;
}

.footer-link {
	color: #9a9a9a !important;
}

.footer-icon {
	font-size: 27px;
	color: #9a9a9a;
}

.home {
	cursor: pointer;
	color: #9a9a9a !important;
}

.home:hover {
	text-decoration: none;
}

/* Animations */
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
