.banner__entry {
    position: relative;
    background: url(../images/entry01.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    padding-bottom: 28.333333%;
}
.article__titlee {
    hr {
        background-color: #f85050;
    }
}