.company__banner {
  position: relative;
  background: url(../images/company-banner.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 53.91666667%;
  font-family: hirakakupro;
  @media (max-width: $sreen-sp) {
    background: url(../images/company-banner-sp.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 150.9375%;
  }
}
.company__wrapper {
  .banner__top {
    padding-top: 42px !important;
    img {
      @media (max-width: $sreen-pc-3) { 
        width: 20px !important;
        height: 30px !important;
      }
    }
  }
}
.banner__center {
  position: absolute;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  top: 26.58%;
  width: calc(100% - 60px);
  padding: 0 30px;
  @media (max-width: $sreen-sp) {
    top: 16.21%;
  }
  p {
    color: $white;
    width: 100%;
    text-align: center;
    font-weight: bold;
    &:nth-child(1) {
      font-size: $font-size-34;
      @media (max-width: $sreen-sp) {
        font-size: get-vw($font-size-34);
      }
      @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) { 
        font-size: get-vw-tb($font-size-34);
      }
    }
    &:nth-child(2) {
      font-size: $font-size-20;
      padding-top: 10px;
      @media (max-width: $sreen-sp) {
        font-size: get-vw($font-size-24);
      }
      @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) { 
        font-size: get-vw-tb(20px);
      }
    }
  }
}
.banner__bot {
  position: absolute;
  width: calc(100% - 16.666666666666%);
  left: 8.33333333333%;
  bottom: 0;
  justify-content: space-between;
  @media (max-width: $sreen-sp) {
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 60px);
    padding: 0 30px;
  }
}
.bot__title {
  color: #7fdc22;
  text-align: center;
  font-weight: bold;
  padding: 23px 15px 0 15px;
  @media (max-width: $sreen-sp) {
    padding: 11.5px 15px 7.5px 15px;
    font-size: get-vw($font-size-26);
  }
  @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) { 
    font-size: get-vw-tb(20px);
  }
  @media (min-width: 1200px) {
    font-size: $font-size-20;
    line-height: 50px;
  }
}
.banner__left {
  flex-direction: column;
  width: 48.5%;
  background-color: rgba(51, 51, 51, 0.7);
  @media (max-width: $sreen-sp) {
    width: 100%;
  }
  @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) { 
    align-self: stretch;
  }
  p {
    color: $white;
    text-align: center;
    padding: 9px 15px 36px 15px;
    @media (max-width: $sreen-sp) { 
      padding: 0 30px 18px 30px;
      font-size: get-vw($font-size-24);
    }
    @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) { 
      font-size: get-vw-tb($font-size-16);
      padding-bottom: 20px;
    }
    @media (min-width: 1200px) {
      font-size: $font-size-16;
      line-height: 28px;
    }
  }
  br {
    @media (max-width: $sreen-sp) {
      display: none;
    }
  }
}
.banner__right {
  flex-direction: column;
  width: calc(100% - 48.5% - 30px);
  // margin-left: 30px;
  background-color: rgba(51, 51, 51, 0.7);
  @media (max-width: $sreen-sp) {
    width: 100%;
    // margin-left: 0;
    margin-top: 10px;
  }
  @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) { 
    align-self: stretch;
  }
  p {
    color: $white;
    font-weight: bold;
    &:nth-child(2) {
      @media (max-width: $sreen-sp) {
        font-size: get-vw($font-size-34);
      }
      @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) { 
        font-size: get-vw-tb(30px);
      }
      @media (min-width: 1200px) {
        font-size: $font-size-30;
        line-height: 50px;
      }
    }
    &:nth-child(3) {
      padding: 30px 15px 49px 15px;
      @media (max-width: $sreen-sp) {
        font-size: get-vw($font-size-26);
        padding: 10px 15px 15px 15px;
      }
      @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) { 
        font-size: get-vw-tb($font-size-16);
        padding: 15px 15px 20px 15px;
      }
      @media (min-width: 1200px) {
        font-size: $font-size-16;
        line-height: 28px;
      }
    }
  }
}
.company__wrapper {
  .article__title {
    @media (min-width: 1200px) {
      padding: 68px 30px 32px 30px !important;
    }
    hr {
        background-color: #7fdc22 !important;
    }
  }
}
.box__wrap {
  display: flex;
  background-color: #f4f4f7;
  font-family: hirakakupro;
  @media (max-width: $sreen-sp) {
    flex-direction: column-reverse;
    background: none;
  }
}
.box__left {
  width: 50%;
  @media (max-width: $sreen-sp) {
    width: calc(100% - 60px);
    padding: 0 30px;
  }
  p {
    color: #2a2a2a;
    padding-left: 16.6666667%;
    padding-right: 2.5%;
    @media (max-width: $sreen-sp) {
      width: 100%;
    }
    &:nth-child(1) {
      padding-top: 12.33%;
      padding-bottom: 25px;
      @media (max-width: $sreen-sp) {
        padding: 25px 0;
        font-size: get-vw(38px);
      }
      @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) { 
        font-size: get-vw-tb($font-size-26);
      }
      @media (min-width: 1200px) {
        font-size: $font-size-26;
        line-height: 40px;
      }
    }
    &:nth-child(2) {
      @media (max-width: $sreen-sp) {
        padding: 0;
        font-size: get-vw(28px);
      }
      @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) { 
        font-size: get-vw-tb(16px);
      }
      @media (min-width: 1200px) {
        font-size: $font-size-14;
        line-height: 23px;
      }
    }
  }
}
.box__right {
  width: calc(100% - 50%);
  @media (max-width: $sreen-sp) {
    width: calc(100% - 60px);
    padding: 0 30px;
  }
  img {
    width: 100%;
    height: auto;
  }
  .item__sp {
    @media (max-width: $sreen-sp) {
        display: block;
    }
  }
  .item__pc {
      @media (min-width: $sreen-tb) {
          display: block;
      }
  }
}
.bot__txt {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  padding-right: 2.5%;
  padding-top: 11px;
  // padding-bottom: 13.6%;
  @media (max-width: $sreen-sp) {
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
    padding: 12px 0;
  }
  span {
    &:nth-child(1) {
      font-size: $font-size-16;
      color: #2a2a2a;
      @media (max-width: $sreen-sp) {
        font-size: get-vw($font-size-24);
      }
      @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) { 
        font-size: get-vw-tb($font-size-16);
      }
    }
    &:nth-child(2) {
      font-family: Gyosho;
      font-size: 36px;
      color: #2a2a2a;
      margin-left: 10px;
      // font-weight: bold;
      padding-top: 5px;
      @media (max-width: $sreen-sp) {
        padding-top: 0;
        font-size: get-vw(46px);
      }
      @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) { 
        font-size: get-vw-tb(36px);
      }
    }
  }
}
.box__content {
  position: relative;
  background: url(../images/img31.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 48.33333%;
  font-family: hirakakupro;
  @media (max-width: $sreen-sp) {
    background: url(../images/img32.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 271.5625%;
  }
}
.box__text {
  position: absolute;
  left: 52.5%;
  transform: translateX(-52%);
  width: 50.25%;
  top: 12.33%;
  background-color: rgba(51, 51, 51, 0.7);
  box-shadow: -23px -23px 0px -2px rgba(255, 255, 255, 0.32);
  &::after {
    content: "";
    position: absolute;
    top: -20px;
    left: -19px;
    width: 99%;
    height: 99%;
    background: rgba(255, 255, 255, 0.05);
    @media (max-width: $sreen-sp) {
      background: none;
    }
  }
  @media (max-width: $sreen-sp) {
    width: calc(100% - 60px);
    top: 2.876869%;
    box-shadow: none;
  }
  p {
    text-align: center;
    color: $white;
    padding-bottom: 23px;
    @media (max-width: $sreen-sp) {
      font-size: get-vw(28px);
      padding: 0 30px 25px 30px;
    }
    @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) { 
      font-size: get-vw-tb($font-size-16);
      padding: 0 15px 15px 15px;
    }
    @media (min-width: 1200px) {
      font-size: $font-size-14;
      line-height: 23px;
    }
    &:nth-child(1) {
      padding: 30px 0 15px 0;
      @media (max-width: $sreen-sp) {
        font-size: get-vw(38px);
        padding: 25px 30px;
      }
      @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) { 
        font-size: get-vw-tb($font-size-26);
        padding: 15px 30px;
      }
      @media (min-width: 1200px) {
        font-size: $font-size-26;
        line-height: 40px;
      }
    }
    &:last-child {
      @media (min-width: $sreen-tb) {
        padding-bottom: 40px;
      }
      @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) { 
        padding-bottom: 20px;
      }
    }
  }
  br {
    @media (max-width: $sreen-sp) {
      display: none;
    }
  }
}