.header__menu {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.banner__interview {
    position: relative;
    background: url(../images/img34.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    padding-bottom: 47.9166667%;
    @media (max-width: $sreen-sp){
        background: url(../images/img43.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        padding-bottom: 109.0625%;
    }
}
.banner__top {
    position: absolute;
    padding-top: 35px;
    left: 50%;
    transform: translateX(-50%);
    @media (max-width: $sreen-sp) {
        padding-top: 18px;
    }
    p {
        font-size: $font-size-30;
        font-weight: bold;
        margin-left: 10px;
        font-family: Helvetica;
        @media (max-width: $sreen-sp) {
            font-size: get-vw(40px);
        }
        @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) { 
            font-size: get-vw-tb($font-size-30);
        }
    }
}
.interview__wrapper {
    .banner__top {
        padding-top: 12px !important;
        @media (max-width: $sreen-sp) {
            padding-top: 40px !important;
        }
    }
    br.show-sp {
        @media (min-width: 641px) {
            display: none;
        }
    }
}
.banner__txtiv {
    position: absolute;
    filter: drop-shadow(0 0 21.5px rgba(183,172,150,0.55));
    top: 48.2%;
    transform: translateY(-48.2%);
    padding-left: 8.33333333333333%;
    font-weight: bold;
    @media (max-width: $sreen-sp) {
        top: 70%;
        padding: 0 30px;
        font-size: get-vw(38px);
    }
    @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) {
        top: 62%;
        font-size: get-vw-tb($font-size-34);
    }
    @media (min-width: 1200px) {
        font-size: $font-size-34;
        // line-height: calc(54/34);
    }
}
.sup__banner {
    position: relative;
    background: url(../images/img36.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    padding-bottom: 23.33333333%;
    @media (max-width: $sreen-sp) {
        background: url(../images/img44.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        padding-bottom: 69.84375%;
    }
}
.sup__banneriv {
    position: absolute;
    width: calc(100% - 40% - 30px);
    height: auto;
    left: 40%;
    padding-right: 30px;
    @media (min-width: 1200px) {
        width: calc(100% - 50% - 30px);
        left: 50%;
    }
    .titleiv__first {
        padding: 46px 0 24px 0;
        font-size: $font-size-34;
        line-height: 1.56;
        @media (max-width: $sreen-sp) {
            display: flex;
            flex-direction: column;
            font-size: get-vw($font-size-34);
            padding: 21px 0 15px 0;
        }
        @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) {
            font-size: get-vw-tb($font-size-34);
            padding: 21px 0 15px 0;
        }
        span {
            font-size: $font-size-14;
            margin-left: 15px;
            @media (max-width: $sreen-sp) {
                margin-left: 0;
                font-size: get-vw($font-size-20);
            }
            @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) {
                font-size: get-vw-tb($font-size-14);
            }
        }
    }
    .titleiv__second {
        font-size: $font-size-20;
        padding-bottom: 16px;
        font-weight: bold;
        @media (max-width: $sreen-sp) {
            font-size: get-vw($font-size-24);
        }
        @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) {
            font-size: get-vw-tb($font-size-20);
        }
    }
    div {
        display: flex;
        @media (max-width: $sreen-sp) {
            flex-direction: column;
        }
        p {
            @media (max-width: $sreen-sp) {
                font-size: get-vw($font-size-20);
            }
            @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) {
                font-size: get-vw-tb(14px);
            }
            @media (min-width: 1200px) {
                font-size: 12px;
                line-height: 24px;
            }
            &:nth-child(2) {
                @media (min-width: 1200px) {
                    padding-left: 15px;
                }
            }
        }
    }
}
.iv__title {
    font-size: $font-size-34;
    line-height: 1.32;
    color: #ffc411;
    padding: 72px 0 30px 0;
    @media (max-width: $sreen-sp) {
        padding: 37.5px 30px 15px 30px;
        font-size: get-vw(40px);
    }
    @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) {
        padding: 50px 30px 20px 30px;
        font-size: get-vw-tb($font-size-34);
    }
}
.box__iv {
    display: flex;
    justify-content: space-between;
    @media (max-width: $sreen-sp) {
        padding: 0 30px;
        flex-direction: column-reverse;
    }
    @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) {
        padding: 0 30px;
    }
}
.box__iv__edit {
    flex-direction: row-reverse;
    @media (max-width: $sreen-sp) {
        flex-direction: column-reverse;
    }
}
.iv__txt {
    width: calc(100% - 50% - 15px);
    @media (max-width: $sreen-sp) {
        width: 100%;
        margin-top: 30px;
    }
    p {
        line-height: 2.2;
        color: #2a2a2a;
        @media (max-width: $sreen-sp) {
            font-size: get-vw(28px);
        }
    }
}
.iv__txtedit {
    p {
        @media (min-width: $sreen-pc-3) {
            line-height: 1.8 !important;
        }
    }
}
.iv__img {
    width: calc(100% - 50% - 15px);
    @media (max-width: $sreen-sp) {
        width: 100%;
    }
    img {
        width: 100%;
        height: auto;
    }
    .item__pc {
        margin-top: 10px;
    }
}
.pic__iv {
    background: url(../images/img39.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    padding-bottom: 33.33333333%;
    margin-top: 72px;
    @media (max-width: $sreen-sp) {
        background: url(../images/img45.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding-bottom: 51.42857%;
        width: calc(100% - 60px);
        margin: 0 0 20px 30px;
    }
    @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) {
        margin-top: 48px;
    }
}
.orther__title {
    color: #ffc000;
    font-family: $font-helvetica;
    font-weight: bold;
    text-align: center;
    padding: 73px 0 34px 0;
    font-size: 30px;
    line-height: 1;
    @media (max-width: $sreen-sp) {
        font-size: get-vw(40px);
        padding: 37.5px 30px 15px 30px;
    }
    @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) {
        padding: 50px 0 20px 0;
        font-size: get-vw-tb(30px);
    }
}
.orther__img {
    display: flex;
    @media (max-width: $sreen-sp) {
        flex-direction: column;
    }
}
.orther__item {
    position: relative;
    font-weight: hirakakupro;
    width: 33.3333333333%;
    @media (max-width: $sreen-sp) {
        width: 100%;
    }
    img {
        width: 100%;
        height: auto;
    }
    p {
        position: absolute;
        bottom: 0px;
        width: calc(100% - 44px);
        padding: 40px 22px;
        @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) {
            padding: 20px 22px;
            font-size: get-vw-tb(14px);
        }
        @media (max-width: $sreen-sp) {
            font-size: get-vw(28px);
            line-height: 1.3;
        }
        span {
            font-size: $font-size-30;
            line-height: 1.33;
            @media (min-width: $sreen-tb) and (max-width: $sreen-pc-3) {
                font-size: get-vw-tb(30px);
            }
            @media (max-width: $sreen-sp) {
                font-size: get-vw(38px);
            }
        }
    }
}
.orther__item,
.iv__img {
    .item__sp {
        @media (max-width: $sreen-sp) {
            display: block;
        }
    }
    .item__pc {
        @media (min-width: $sreen-tb) {
            display: block;
        }
    }
}
.flex-reverse-iv {
    @media (max-width: $sreen-sp) {
        display: flex;
        flex-direction: column-reverse;
    }
}
.pt-37 {
    padding-top: 37px !important;
}
.pb-25 {
    padding-bottom: 25px !important;
}