/* line 1, ../sass/foundation/_base.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 6, ../sass/foundation/_base.scss */
body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #000; }

/* line 11, ../sass/foundation/_base.scss */
ul {
  list-style: none; }

/* line 14, ../sass/foundation/_base.scss */
a {
  text-decoration: none; }

/* line 17, ../sass/foundation/_base.scss */
.clear-both {
  clear: both; }

@font-face {
  font-family: 'BebasNeue Book';
  font-style: normal;
  src: url("../font/BebasNeue Book.ttf") format("woff2"); }
@font-face {
  font-family: BebasNeue;
  src: url("../font/BebasNeue-Regular.ttf");
  font-weight: normal; }
@font-face {
  font-family: BebasNeueBook;
  src: url("../font/BebasNeue-Book.ttf"); }
@font-face {
  font-family: ArialBold;
  src: url("../font/arial-mt-bold.ttf");
  font-weight: normal; }
@font-face {
  font-family: MEIRYO;
  src: url("../font/MEIRYO.TTC");
  font-weight: normal; }
@font-face {
  font-family: ArialMT;
  src: url("../font/ARI.ttf"); }
@font-face {
  font-family: DejaVuSans;
  src: url("../font/DejaVuSans.ttf"); }
@font-face {
  font-family: "Arial";
  src: url("../font/arial.ttf"); }
/* line 1, ../sass/layout/_layout.scss */
.banner {
  position: relative;
  background: url(../images/img04.png) no-repeat;
  background-size: 100% 100%;
  padding-bottom: 25.8823529%; }
  @media (max-width: 767px) {
    /* line 1, ../sass/layout/_layout.scss */
    .banner {
      background: url(../images/img17.png) no-repeat;
      background-size: 100% 100%;
      padding-bottom: 67.03125%; } }
  /* line 11, ../sass/layout/_layout.scss */
  .banner p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    font-size: 80px;
    letter-spacing: 2px;
    color: #FFF;
    font-weight: 400;
    font-family: 'BebasNeue Book'; }
    @media (min-width: 768px) and (max-width: 1099px) {
      /* line 11, ../sass/layout/_layout.scss */
      .banner p {
        font-size: 60px; } }
    @media (max-width: 767px) {
      /* line 11, ../sass/layout/_layout.scss */
      .banner p {
        font-size: 48px; } }
    @media (max-width: 480px) {
      /* line 11, ../sass/layout/_layout.scss */
      .banner p {
        font-size: 40px; } }

/* line 33, ../sass/layout/_layout.scss */
.menu__content {
  padding: 8px 0px;
  background-color: #ffffff; }
  /* line 36, ../sass/layout/_layout.scss */
  .menu__content ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto; }
    /* line 42, ../sass/layout/_layout.scss */
    .menu__content ul li.active-bg-dark {
      background: #000000; }
      /* line 44, ../sass/layout/_layout.scss */
      .menu__content ul li.active-bg-dark a {
        color: #ffffff; }
        /* line 46, ../sass/layout/_layout.scss */
        .menu__content ul li.active-bg-dark a:before {
          content: unset; }
        /* line 49, ../sass/layout/_layout.scss */
        .menu__content ul li.active-bg-dark a:after {
          content: unset !important; }
    /* line 54, ../sass/layout/_layout.scss */
    .menu__content ul li {
      background: url("../images/img16.png") no-repeat right center;
      margin: 8px 0; }
      /* line 56, ../sass/layout/_layout.scss */
      .menu__content ul li:last-child {
        background-image: none !important; }
      /* line 59, ../sass/layout/_layout.scss */
      .menu__content ul li:hover {
        background-color: #000000;
        background-image: none !important; }
      /* line 64, ../sass/layout/_layout.scss */
      .menu__content ul li a {
        position: relative;
        font-family: 'BebasNeue', sans-serif;
        display: block;
        padding: 10px 15px;
        font-size: 27px;
        line-height: calc(17 / 27);
        color: #000000;
        width: 100%; }
        @media (min-width: 481px) and (max-width: 1099px) {
          /* line 64, ../sass/layout/_layout.scss */
          .menu__content ul li a {
            font-size: 24px; } }
        @media (max-width: 480px) {
          /* line 64, ../sass/layout/_layout.scss */
          .menu__content ul li a {
            font-size: 18px; } }
        /* line 79, ../sass/layout/_layout.scss */
        .menu__content ul li a:hover {
          color: #ffffff; }
          /* line 81, ../sass/layout/_layout.scss */
          .menu__content ul li a:hover:before {
            content: unset; }
          /* line 84, ../sass/layout/_layout.scss */
          .menu__content ul li a:hover:after {
            content: unset !important; }

/* line 92, ../sass/layout/_layout.scss */
.breadcrumb {
  width: 100%;
  max-width: 1320px;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 0.78%; }
  @media (max-width: 767px) {
    /* line 92, ../sass/layout/_layout.scss */
    .breadcrumb {
      display: none; } }
  /* line 104, ../sass/layout/_layout.scss */
  .breadcrumb li {
    color: #666666;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    line-height: calc(34 / 16); }
    /* line 110, ../sass/layout/_layout.scss */
    .breadcrumb li:nth-child(1)::after, .breadcrumb li:nth-child(2)::after {
      content: '>';
      padding-left: 5px; }
    /* line 115, ../sass/layout/_layout.scss */
    .breadcrumb li a {
      color: #666666; }
      /* line 117, ../sass/layout/_layout.scss */
      .breadcrumb li a:nth-child(1), .breadcrumb li a:nth-child(2) {
        border-bottom: 1px solid #666666; }

/* line 2, ../sass/layout/_header.scss */
header .logo {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
  box-shadow: -5px 5px 30px -10px rgba(0, 0, 0, 0.75);
  background: #ffffff; }
  @media only screen and (max-width: 1024px) {
    /* line 2, ../sass/layout/_header.scss */
    header .logo {
      width: 100%;
      height: 54px; } }
  /* line 13, ../sass/layout/_header.scss */
  header .logo img {
    width: 100%;
    height: 68px; }
    @media only screen and (max-width: 1024px) {
      /* line 13, ../sass/layout/_header.scss */
      header .logo img {
        display: none; } }
  /* line 20, ../sass/layout/_header.scss */
  header .logo img + a {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px; }
    @media (min-width: 1100px) {
      /* line 20, ../sass/layout/_header.scss */
      header .logo img + a {
        left: 4%; } }
    /* line 28, ../sass/layout/_header.scss */
    header .logo img + a img {
      height: 100px !important;
      width: 100px !important; }
      @media only screen and (max-width: 1024px) {
        /* line 28, ../sass/layout/_header.scss */
        header .logo img + a img {
          display: block;
          max-width: 80px;
          max-height: 80px !important; } }
  /* line 38, ../sass/layout/_header.scss */
  header .logo .button-menu {
    display: none; }
    @media only screen and (max-width: 1024px) {
      /* line 38, ../sass/layout/_header.scss */
      header .logo .button-menu {
        display: block;
        border: none;
        background: no-repeat;
        position: fixed;
        right: 0;
        padding: 5px 15px;
        cursor: pointer; }
        /* line 48, ../sass/layout/_header.scss */
        header .logo .button-menu .bar1, header .logo .button-menu .bar2, header .logo .button-menu .bar3 {
          background-color: #737373;
          border-radius: 9px;
          margin: 5px;
          padding: 4px 20px; } }
/* line 60, ../sass/layout/_header.scss */
header p.header-menu-btn {
  z-index: 9;
  display: none;
  background: #000000;
  color: white;
  padding: 33px 20px;
  position: fixed;
  right: 0;
  font-weight: 700;
  font-size: 20px;
  bottom: 20px;
  cursor: pointer;
  font-family: BebasNeue; }
  @media only screen and (max-width: 1024px) {
    /* line 60, ../sass/layout/_header.scss */
    header p.header-menu-btn {
      display: block; } }
/* line 77, ../sass/layout/_header.scss */
header .pageTop {
  font-family: BebasNeue;
  position: fixed;
  height: 65px;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -21px;
  right: 10px;
  background: #000000;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  z-index: 9;
  line-height: 1;
  font-size: 13px;
  border-radius: 50%; }
/* line 98, ../sass/layout/_header.scss */
header nav.navbar {
  margin-top: 72px;
  background: #e1e1e1; }
  @media only screen and (max-width: 1024px) {
    /* line 98, ../sass/layout/_header.scss */
    header nav.navbar {
      margin-top: 54px; } }
  /* line 104, ../sass/layout/_header.scss */
  header nav.navbar ul.navbar-nav {
    text-align: center;
    position: relative; }
    @media only screen and (max-width: 1024.98px) {
      /* line 104, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav {
        position: fixed;
        right: -68%;
        text-align: left;
        width: 68%;
        top: 54px;
        z-index: 4; } }
    @media only screen and (min-width: 1024.98px) {
      /* line 104, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav {
        right: 0 !important; } }
    /* line 118, ../sass/layout/_header.scss */
    header nav.navbar ul.navbar-nav li.nav-item.active {
      background: #000000; }
      /* line 120, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item.active a {
        color: #ffffff; }
      @media only screen and (max-width: 1024px) {
        /* line 118, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.active {
          background-color: #333333;
          border-bottom: 1px solid #454545; } }
    /* line 128, ../sass/layout/_header.scss */
    header nav.navbar ul.navbar-nav li.nav-item {
      background: url("../images/img16.png") no-repeat right center;
      margin-left: -6px;
      cursor: pointer;
      position: relative;
      display: inline-block; }
      @media only screen and (max-width: 1024px) {
        /* line 128, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item {
          background-image: none;
          display: block;
          background-color: #333333;
          margin-left: 0;
          border-bottom: 1px solid #454545; }
          /* line 135, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item a {
            color: #ffffff !important; }
          /* line 138, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item:last-child {
            background-image: none;
            background-color: #000000;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 14.5px; } }
      /* line 151, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item:nth-child(5) {
        background-image: none; }
      /* line 156, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item:last-child .close .bar1 {
        width: 25px;
        height: 1px;
        background: white;
        transform: rotate(45deg); }
      /* line 162, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item:last-child .close .bar2 {
        width: 25px;
        height: 1px;
        background: white;
        transform: rotate(-45deg); }
      /* line 169, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item:last-child span {
        color: #ffffff;
        text-transform: uppercase;
        font-family: BebasNeue; }
      @media only screen and (min-width: 1024.98px) {
        /* line 176, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item:hover {
          background: #000000; }
          /* line 178, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item:hover a {
            color: #ffffff; }
          /* line 181, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item:hover ul.submenu {
            display: block; } }
      /* line 187, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item a {
        display: block;
        padding: 14px 15px;
        font-family: BebasNeue;
        color: #000000;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px; }
        @media only screen and (max-width: 1290px) {
          /* line 187, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item a {
            font-size: 19px; } }
        @media only screen and (max-width: 1024px) {
          /* line 187, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item a {
            font-size: 16px; } }
      /* line 203, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item ul.submenu {
        z-index: 999;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #333333; }
        @media only screen and (max-width: 1024px) {
          /* line 203, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item ul.submenu {
            position: static;
            display: block;
            top: auto;
            left: auto; } }
        /* line 217, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item ul.submenu li {
          list-style-type: none; }
          @media only screen and (max-width: 1024px) {
            /* line 217, ../sass/layout/_header.scss */
            header nav.navbar ul.navbar-nav li.nav-item ul.submenu li {
              width: 32%;
              display: inline-block;
              border-right: 1px solid #ffffff;
              margin-bottom: 20px;
              margin-left: 25px; }
              /* line 225, ../sass/layout/_header.scss */
              header nav.navbar ul.navbar-nav li.nav-item ul.submenu li a {
                padding: 0px; }
              /* line 228, ../sass/layout/_header.scss */
              header nav.navbar ul.navbar-nav li.nav-item ul.submenu li:nth-child(2), header nav.navbar ul.navbar-nav li.nav-item ul.submenu li:nth-child(4) {
                border-right: none; } }
    @media only screen and (min-width: 1024.98px) {
      /* line 237, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item.close-menu {
        display: none; } }
    /* line 242, ../sass/layout/_header.scss */
    header nav.navbar ul.navbar-nav li.nav-item.social {
      position: absolute;
      right: 80px;
      top: 50%;
      transform: translateY(-50%);
      background-image: none; }
      @media only screen and (max-width: 1024px) {
        /* line 242, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.social {
          padding: 9px;
          position: static;
          transform: none; }
          /* line 253, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item.social a:nth-child(1) {
            margin-left: 6px; } }
      @media only screen and (max-width: 1024px) {
        /* line 242, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.social {
          right: 20px; } }
      @media only screen and (max-width: 1900px) and (min-width: 1700px) {
        /* line 242, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.social {
          right: 120px; } }
      @media only screen and (min-width: 1024.98px) {
        /* line 265, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.social:hover {
          background: none; } }
      /* line 269, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item.social a {
        border-radius: 50%;
        display: inline-block; }
        /* line 272, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.social a i {
          color: #ffffff;
          font-size: 15px; }
        @media only screen and (max-width: 1024px) {
          /* line 277, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item.social a:nth-child(1), header nav.navbar ul.navbar-nav li.nav-item.social a:nth-child(3) {
            padding: 5px 8px; }
          /* line 281, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item.social a:nth-child(2) {
            padding: 5px 11px; } }
        /* line 285, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.social a:nth-child(1) {
          background: #5dabed;
          padding: 5px 11px; }
        /* line 289, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.social a:nth-child(2) {
          background: #324d96;
          padding: 5px 13px; }
        /* line 293, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.social a:nth-child(3) {
          background: #e63d5c;
          padding: 5px 11px; }
/* line 301, ../sass/layout/_header.scss */
header .color-bar {
  background: url("../images/img19.png") repeat-x left bottom 5px;
  padding-bottom: 16px; }

/* line 1, ../sass/layout/_footer.scss */
footer {
  width: 100%;
  background: #303030;
  text-align: center;
  padding: 44px 0;
  color: #FFF;
  font-size: 14px;
  line-height: calc(17 / 14); }
  @media (min-width: 768px) and (max-width: 1099px) {
    /* line 1, ../sass/layout/_footer.scss */
    footer {
      padding: 30px 0; } }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 1, ../sass/layout/_footer.scss */
    footer {
      padding: 30px 0;
      font-size: 18px; } }
  @media (max-width: 480px) {
    /* line 1, ../sass/layout/_footer.scss */
    footer {
      padding: 25px 0;
      font-size: 12px; } }

/**
 * Icons
**/
/* line 6, ../sass/component/_icon.scss */
.icon__company, .icon__work, .icon__interview, .icon__entry, .icon__requirement {
  height: 44px;
  font-family: "hirakakupro"; }

/* line 1, ../sass/project/_page-all-about.scss */
.main__content {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden; }

/* line 6, ../sass/project/_page-all-about.scss */
.section {
  width: 100%;
  margin: auto; }

/* line 10, ../sass/project/_page-all-about.scss */
.title {
  font-size: 40px;
  line-height: calc(30 / 40);
  font-weight: bold;
  text-align: center;
  padding-top: 16.6%;
  padding-bottom: 4%;
  color: #333333; }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 10, ../sass/project/_page-all-about.scss */
    .title {
      font-size: 30px;
      padding-bottom: 6%; } }
  @media (max-width: 480px) {
    /* line 10, ../sass/project/_page-all-about.scss */
    .title {
      font-size: 22px;
      padding-bottom: 6%;
      padding-top: 12%; } }

/* line 28, ../sass/project/_page-all-about.scss */
.sup__title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #333333;
  line-height: 1.4; }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 28, ../sass/project/_page-all-about.scss */
    .sup__title {
      font-size: 25px; } }
  @media (max-width: 480px) {
    /* line 28, ../sass/project/_page-all-about.scss */
    .sup__title {
      font-size: 18px; } }

/* line 42, ../sass/project/_page-all-about.scss */
.section__txt p {
  line-height: 2.125;
  padding-top: 5%; }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 42, ../sass/project/_page-all-about.scss */
    .section__txt p {
      font-size: 22px; } }
  @media (max-width: 480px) {
    /* line 42, ../sass/project/_page-all-about.scss */
    .section__txt p {
      font-size: 14px;
      padding-top: 2.5%; } }

/* line 54, ../sass/project/_page-all-about.scss */
.section__map {
  background: #dbebf2;
  background-image: url(../images/img25.png);
  background-repeat: no-repeat;
  background-position: left 92%;
  background-size: 100% auto; }
  @media (max-width: 768px) {
    /* line 54, ../sass/project/_page-all-about.scss */
    .section__map {
      background-image: none; } }

/* line 64, ../sass/project/_page-all-about.scss */
.map__wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  background-image: url(../images/img46.png);
  background-repeat: no-repeat; }
  @media (min-width: 1401px) {
    /* line 64, ../sass/project/_page-all-about.scss */
    .map__wrapper {
      background-size: 47% auto;
      background-position: 87% 117%; } }
  @media (min-width: 1101px) and (max-width: 1400px) {
    /* line 64, ../sass/project/_page-all-about.scss */
    .map__wrapper {
      background-size: 53% auto;
      background-position: 87% 129%; } }
  @media (min-width: 901px) and (max-width: 1100px) {
    /* line 64, ../sass/project/_page-all-about.scss */
    .map__wrapper {
      background-size: 59% auto;
      background-position: 94% 113%; } }
  @media (min-width: 768px) and (max-width: 990px) {
    /* line 64, ../sass/project/_page-all-about.scss */
    .map__wrapper {
      background-size: 59% auto;
      background-position: 94% 113%; } }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 64, ../sass/project/_page-all-about.scss */
    .map__wrapper {
      background-size: 81% auto;
      background-position: 100% 101%; } }
  @media (max-width: 480px) {
    /* line 64, ../sass/project/_page-all-about.scss */
    .map__wrapper {
      background-size: 81% auto;
      background-position: 100% 103%; } }

/* line 110, ../sass/project/_page-all-about.scss */
.map__content {
  padding-bottom: 26.47059%;
  display: block; }
  @media (min-width: 768px) and (max-width: 1100px) {
    /* line 110, ../sass/project/_page-all-about.scss */
    .map__content {
      padding-bottom: 30%; } }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 110, ../sass/project/_page-all-about.scss */
    .map__content {
      padding-bottom: 50%; } }
  @media (max-width: 480px) {
    /* line 110, ../sass/project/_page-all-about.scss */
    .map__content {
      padding-bottom: 50%; } }

/* line 124, ../sass/project/_page-all-about.scss */
.inner__txt {
  margin: 0 auto;
  width: 100%;
  max-width: 690px; }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 124, ../sass/project/_page-all-about.scss */
    .inner__txt {
      max-width: 100%;
      padding: 0 6%; } }
  @media (max-width: 480px) {
    /* line 124, ../sass/project/_page-all-about.scss */
    .inner__txt {
      max-width: 100%;
      padding: 0 4%; } }

/* line 137, ../sass/project/_page-all-about.scss */
.inner__content {
  width: 100%;
  max-width: 1290px;
  position: relative;
  margin: 0 auto; }

/* line 143, ../sass/project/_page-all-about.scss */
.circle__map {
  position: relative;
  width: 45%;
  margin: 0 auto;
  margin-top: -7.8%;
  margin-right: 23%; }
  @media (min-width: 768px) and (max-width: 1099px) {
    /* line 143, ../sass/project/_page-all-about.scss */
    .circle__map {
      width: 63%; } }
  @media (max-width: 767px) {
    /* line 143, ../sass/project/_page-all-about.scss */
    .circle__map {
      display: none; } }
  /* line 155, ../sass/project/_page-all-about.scss */
  .circle__map:before {
    position: absolute;
    background: linear-gradient(transparent, transparent), url(../images/img21.svg) center center no-repeat;
    content: "";
    padding-bottom: 65%;
    width: 65%;
    right: -36.2%;
    top: -30%;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    background-color: #FFF !important;
    background-size: 77%;
    border-radius: 50%;
    z-index: 2; }
  /* line 169, ../sass/project/_page-all-about.scss */
  .circle__map:after {
    display: block;
    padding-bottom: 100%;
    width: 100%;
    content: "";
    border-radius: 50%;
    background-color: #ffffff; }

/* line 178, ../sass/project/_page-all-about.scss */
.circle__content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%; }

/* line 184, ../sass/project/_page-all-about.scss */
.circle__txt {
  display: table;
  width: 100%;
  height: 100%;
  z-index: 1; }
  /* line 189, ../sass/project/_page-all-about.scss */
  .circle__txt p {
    display: table-cell;
    vertical-align: middle;
    padding: 0 15%;
    line-height: 2.125; }
    @media (min-width: 768px) and (max-width: 1099px) {
      /* line 189, ../sass/project/_page-all-about.scss */
      .circle__txt p {
        font-size: 14px;
        padding: 0 12%; } }

@media (min-width: 768px) {
  /* line 200, ../sass/project/_page-all-about.scss */
  .circlesp__map {
    display: none; } }
@media (max-width: 767px) {
  /* line 200, ../sass/project/_page-all-about.scss */
  .circlesp__map {
    display: block; } }

/* line 208, ../sass/project/_page-all-about.scss */
.circlesp__bg {
  padding-top: 18%;
  margin-top: -20%;
  background: linear-gradient(transparent, transparent), url(../images/img31.svg) center top no-repeat;
  background-size: 100% 100%; }

/* line 214, ../sass/project/_page-all-about.scss */
.circlesp__content {
  background-color: #FFF;
  margin-top: -3px; }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 214, ../sass/project/_page-all-about.scss */
    .circlesp__content {
      padding: 0 6%; } }
  @media (max-width: 480px) {
    /* line 214, ../sass/project/_page-all-about.scss */
    .circlesp__content {
      padding: 0 4%; } }

/* line 224, ../sass/project/_page-all-about.scss */
.circlesp__txt {
  padding-top: 10%; }
  /* line 226, ../sass/project/_page-all-about.scss */
  .circlesp__txt p {
    line-height: 2.125; }
    @media (min-width: 481px) and (max-width: 767px) {
      /* line 226, ../sass/project/_page-all-about.scss */
      .circlesp__txt p {
        font-size: 22px; } }
    @media (max-width: 480px) {
      /* line 226, ../sass/project/_page-all-about.scss */
      .circlesp__txt p {
        font-size: 14px; } }

/* line 236, ../sass/project/_page-all-about.scss */
.circlesp__map {
  width: 100%; }
  /* line 239, ../sass/project/_page-all-about.scss */
  .circlesp__map img {
    width: 100%;
    height: auto; }

/* line 246, ../sass/project/_page-all-about.scss */
.section__wave {
  background-color: #61aed3; }

/* line 249, ../sass/project/_page-all-about.scss */
.wave__bg {
  padding-top: 15.5%;
  background: linear-gradient(transparent, transparent), url(../images/img44.png) center center no-repeat;
  background-size: 100% auto;
  background-color: #dbebf2; }
  @media (max-width: 767px) {
    /* line 249, ../sass/project/_page-all-about.scss */
    .wave__bg {
      padding-top: 26.25%;
      background: linear-gradient(transparent, transparent), url(../images/img32.svg) left top no-repeat;
      background-color: #fff;
      background-size: 100% 102%; } }

/* line 261, ../sass/project/_page-all-about.scss */
.wave__txt {
  margin: 0 auto;
  position: relative;
  width: 54%; }
  @media (min-width: 768px) and (max-width: 1499px) {
    /* line 261, ../sass/project/_page-all-about.scss */
    .wave__txt {
      width: 51%; } }
  @media (max-width: 767px) {
    /* line 261, ../sass/project/_page-all-about.scss */
    .wave__txt {
      width: 100%;
      padding: 40px 0 20px 0; } }
  @media (max-width: 480px) {
    /* line 261, ../sass/project/_page-all-about.scss */
    .wave__txt {
      padding: 20px 0 10px 0; } }
  /* line 275, ../sass/project/_page-all-about.scss */
  .wave__txt p {
    color: #FFF;
    line-height: 2.125;
    padding-top: 5%; }
    @media (min-width: 768px) and (max-width: 1499px) {
      /* line 275, ../sass/project/_page-all-about.scss */
      .wave__txt p {
        padding: 0 15px; } }
    @media (min-width: 481px) and (max-width: 767px) {
      /* line 275, ../sass/project/_page-all-about.scss */
      .wave__txt p {
        padding: 0 6%;
        font-size: 22px; } }
    @media (max-width: 480px) {
      /* line 275, ../sass/project/_page-all-about.scss */
      .wave__txt p {
        padding: 0 4%;
        font-size: 14px; } }
    /* line 290, ../sass/project/_page-all-about.scss */
    .wave__txt p:nth-child(1) {
      padding-top: 7%; }
      @media (max-width: 480px) {
        /* line 290, ../sass/project/_page-all-about.scss */
        .wave__txt p:nth-child(1) {
          padding-top: 3.5%; } }
    /* line 296, ../sass/project/_page-all-about.scss */
    .wave__txt p:nth-child(3) {
      padding-bottom: 6%; }
      @media (max-width: 480px) {
        /* line 296, ../sass/project/_page-all-about.scss */
        .wave__txt p:nth-child(3) {
          padding-bottom: 3%; } }

/* line 304, ../sass/project/_page-all-about.scss */
.wave__pic {
  position: absolute;
  height: auto; }
  @media (max-width: 767px) {
    /* line 304, ../sass/project/_page-all-about.scss */
    .wave__pic {
      display: none; } }

/* line 311, ../sass/project/_page-all-about.scss */
.wave__pic--1 {
  width: 47%;
  left: -47.12%;
  top: 32.84%; }

/* line 316, ../sass/project/_page-all-about.scss */
.wave__pic--2 {
  width: 36%;
  top: 59.84%;
  right: -37.8%; }

/* line 321, ../sass/project/_page-all-about.scss */
.wave__pic--3 {
  width: 54%;
  top: -11.15543%;
  right: -56%; }
  @media (min-width: 768px) and (max-width: 1499px) {
    /* line 321, ../sass/project/_page-all-about.scss */
    .wave__pic--3 {
      right: -48%; } }

/* line 331, ../sass/project/_page-all-about.scss */
.play-group {
  width: 100%;
  max-width: 1900px;
  margin: auto; }

/* line 336, ../sass/project/_page-all-about.scss */
.info__bg {
  padding-top: 12.7%;
  background: linear-gradient(transparent, transparent), url(../images/img23.svg) no-repeat;
  background-position: 85% top;
  background-size: 105%;
  background-color: #61AED3; }

/* line 343, ../sass/project/_page-all-about.scss */
.box__title {
  margin-top: -6.9%;
  margin-bottom: 7.3%; }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 343, ../sass/project/_page-all-about.scss */
    .box__title {
      padding: 0 6%;
      margin-top: 1%; } }
  @media (max-width: 480px) {
    /* line 343, ../sass/project/_page-all-about.scss */
    .box__title {
      padding: 0 4%;
      margin-top: 1%; } }

/* line 355, ../sass/project/_page-all-about.scss */
.box__info {
  display: flex;
  width: 100%;
  margin-bottom: 4.4%; }
  @media (max-width: 767px) {
    /* line 355, ../sass/project/_page-all-about.scss */
    .box__info {
      flex-direction: column-reverse; } }

/* line 363, ../sass/project/_page-all-about.scss */
.box__reverse {
  flex-direction: row-reverse; }
  @media (max-width: 767px) {
    /* line 363, ../sass/project/_page-all-about.scss */
    .box__reverse {
      flex-direction: column-reverse; } }
  /* line 368, ../sass/project/_page-all-about.scss */
  .box__reverse .info__text {
    margin-right: 11.7647%;
    margin-left: 0; }
    @media (min-width: 768px) and (max-width: 1099px) {
      /* line 368, ../sass/project/_page-all-about.scss */
      .box__reverse .info__text {
        margin-right: 6.38235%;
        margin-left: 0; } }
    @media (max-width: 767px) {
      /* line 368, ../sass/project/_page-all-about.scss */
      .box__reverse .info__text {
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important; } }
    @media (min-width: 481px) and (max-width: 767px) {
      /* line 368, ../sass/project/_page-all-about.scss */
      .box__reverse .info__text {
        padding: 0 6%; } }
    @media (max-width: 480px) {
      /* line 368, ../sass/project/_page-all-about.scss */
      .box__reverse .info__text {
        padding: 0 4%; } }

/* line 388, ../sass/project/_page-all-about.scss */
.info__text {
  width: calc(100% - 46% - 12.7647%);
  margin-left: 12.7647%; }
  @media (min-width: 768px) and (max-width: 1099px) {
    /* line 388, ../sass/project/_page-all-about.scss */
    .info__text {
      width: calc(100% - 46% - 6.38235%);
      margin-left: 6.38235%; } }
  @media (max-width: 767px) {
    /* line 388, ../sass/project/_page-all-about.scss */
    .info__text {
      width: 100%;
      margin-left: 0 !important;
      margin-right: 0 !important; } }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 388, ../sass/project/_page-all-about.scss */
    .info__text {
      padding: 0 6%; } }
  @media (max-width: 480px) {
    /* line 388, ../sass/project/_page-all-about.scss */
    .info__text {
      padding: 0 4%; } }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 406, ../sass/project/_page-all-about.scss */
    .info__text p {
      font-size: 22px; } }
  @media (max-width: 480px) {
    /* line 406, ../sass/project/_page-all-about.scss */
    .info__text p {
      font-size: 14px; } }

/* line 415, ../sass/project/_page-all-about.scss */
.info__pic {
  width: 46%;
  height: 100%;
  margin-top: -2%; }
  /* line 419, ../sass/project/_page-all-about.scss */
  .info__pic img {
    max-width: 100%;
    height: auto; }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 415, ../sass/project/_page-all-about.scss */
    .info__pic {
      width: 100%;
      margin-top: 20px;
      padding: 0 6%; } }
  @media (max-width: 480px) {
    /* line 415, ../sass/project/_page-all-about.scss */
    .info__pic {
      width: 100%;
      margin-top: 10px;
      padding: 0 4%; } }

/* line 434, ../sass/project/_page-all-about.scss */
.info__title {
  font-size: 60px;
  font-weight: bold; }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 434, ../sass/project/_page-all-about.scss */
    .info__title {
      font-size: 45px !important; } }
  @media (max-width: 480px) {
    /* line 434, ../sass/project/_page-all-about.scss */
    .info__title {
      font-size: 30px !important; } }

/* line 444, ../sass/project/_page-all-about.scss */
.info__txt {
  margin-top: 3%;
  margin-bottom: 4.2%;
  line-height: 2.125; }
  @media (max-width: 767px) {
    /* line 444, ../sass/project/_page-all-about.scss */
    .info__txt {
      margin-bottom: 3% !important; } }

/* line 452, ../sass/project/_page-all-about.scss */
.info__access {
  border-top: 1px dotted;
  padding-top: 2%;
  line-height: 2.125; }
  /* line 456, ../sass/project/_page-all-about.scss */
  .info__access b {
    margin-right: 5px; }

/* line 460, ../sass/project/_page-all-about.scss */
.info__link {
  display: inline-block;
  padding: 0 5px;
  line-height: 2.125; }
  @media (max-width: 767px) {
    /* line 460, ../sass/project/_page-all-about.scss */
    .info__link {
      margin-top: 10px; } }
  /* line 467, ../sass/project/_page-all-about.scss */
  .info__link a {
    color: #FFF; }

/* line 472, ../sass/project/_page-all-about.scss */
.box__fukuoka .info__title {
  color: #907AA1; }
/* line 475, ../sass/project/_page-all-about.scss */
.box__fukuoka .info__link {
  background-color: #907AA1; }
/* line 478, ../sass/project/_page-all-about.scss */
.box__fukuoka .info__txt {
  margin-bottom: 1%; }

/* line 482, ../sass/project/_page-all-about.scss */
.box__saga {
  margin-bottom: 6.5%; }
  /* line 484, ../sass/project/_page-all-about.scss */
  .box__saga .info__title {
    color: #B74D52; }
  /* line 487, ../sass/project/_page-all-about.scss */
  .box__saga .info__link {
    background-color: #B74D52; }

/* line 492, ../sass/project/_page-all-about.scss */
.box__nagasaki .info__title {
  color: #935430; }
/* line 495, ../sass/project/_page-all-about.scss */
.box__nagasaki .info__link {
  background-color: #935430; }

/* line 499, ../sass/project/_page-all-about.scss */
.box__oita {
  margin-bottom: 6%; }
  /* line 501, ../sass/project/_page-all-about.scss */
  .box__oita .info__title {
    color: #4A6E33; }
  /* line 504, ../sass/project/_page-all-about.scss */
  .box__oita .info__link {
    background-color: #4A6E33; }

/* line 509, ../sass/project/_page-all-about.scss */
.box__kumamoto .info__title {
  color: #8C9A28; }
/* line 512, ../sass/project/_page-all-about.scss */
.box__kumamoto .info__link {
  background-color: #8C9A28; }

/* line 516, ../sass/project/_page-all-about.scss */
.box__miyazaki {
  margin-bottom: 3.6%; }
  /* line 518, ../sass/project/_page-all-about.scss */
  .box__miyazaki .info__title {
    color: #5B81C1; }
  /* line 521, ../sass/project/_page-all-about.scss */
  .box__miyazaki .info__link {
    background-color: #5B81C1; }

/* line 525, ../sass/project/_page-all-about.scss */
.box__kagoshima {
  margin-bottom: 9%; }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 525, ../sass/project/_page-all-about.scss */
    .box__kagoshima {
      margin-bottom: 15%; } }
  /* line 530, ../sass/project/_page-all-about.scss */
  .box__kagoshima .info__title {
    color: #48886B; }
  /* line 533, ../sass/project/_page-all-about.scss */
  .box__kagoshima .info__link {
    background-color: #48886B; }

/* line 538, ../sass/project/_page-all-about.scss */
.section__basicinfo {
  background-color: #DBEBF2; }

/* line 541, ../sass/project/_page-all-about.scss */
.basic__title {
  font-size: 35px;
  line-height: calc(50 / 35);
  font-weight: bold;
  text-align: center;
  color: #333333; }

/* line 548, ../sass/project/_page-all-about.scss */
.basic__infotitle {
  margin-top: -8.3%;
  margin-bottom: 4%; }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 548, ../sass/project/_page-all-about.scss */
    .basic__infotitle {
      font-size: 28px;
      margin-top: 1%; } }
  @media (max-width: 480px) {
    /* line 548, ../sass/project/_page-all-about.scss */
    .basic__infotitle {
      font-size: 22px;
      margin-top: 1%; } }

/* line 560, ../sass/project/_page-all-about.scss */
.basic__bg {
  padding-top: 15.6%;
  background: linear-gradient(transparent, transparent), url(../images/img45.png) center center no-repeat;
  background-size: 100% auto;
  background-color: #FFF !important; }

/* line 566, ../sass/project/_page-all-about.scss */
.inner__small {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }
  @media (min-width: 768px) and (max-width: 1099px) {
    /* line 566, ../sass/project/_page-all-about.scss */
    .inner__small {
      padding: 0 30px; } }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 566, ../sass/project/_page-all-about.scss */
    .inner__small {
      padding: 0 6%; } }
  @media (max-width: 480px) {
    /* line 566, ../sass/project/_page-all-about.scss */
    .inner__small {
      padding: 0 4%; } }

/* line 580, ../sass/project/_page-all-about.scss */
.basic__pic {
  width: 71%;
  margin: 0 auto; }
  @media (max-width: 767px) {
    /* line 580, ../sass/project/_page-all-about.scss */
    .basic__pic {
      width: 100%; } }
  /* line 586, ../sass/project/_page-all-about.scss */
  .basic__pic img {
    display: block;
    max-width: 100%;
    height: auto; }
    @media (max-width: 767px) {
      /* line 586, ../sass/project/_page-all-about.scss */
      .basic__pic img {
        width: 100%;
        height: auto; } }

/* line 596, ../sass/project/_page-all-about.scss */
.basic__txt {
  line-height: 2.125;
  margin-top: 9.5%;
  color: #333333; }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 596, ../sass/project/_page-all-about.scss */
    .basic__txt {
      font-size: 22px; } }
  @media (max-width: 480px) {
    /* line 596, ../sass/project/_page-all-about.scss */
    .basic__txt {
      font-size: 14px;
      margin-top: 4.75%; } }

@media (min-width: 481px) and (max-width: 767px) {
  /* line 608, ../sass/project/_page-all-about.scss */
  .basic__link {
    font-size: 22px; } }
@media (max-width: 480px) {
  /* line 608, ../sass/project/_page-all-about.scss */
  .basic__link {
    font-size: 14px; } }
/* line 615, ../sass/project/_page-all-about.scss */
.basic__link span {
  font-weight: bold;
  color: #333333; }
/* line 619, ../sass/project/_page-all-about.scss */
.basic__link a {
  text-decoration: none;
  display: inline-block;
  color: #FFF;
  padding: 6px 5px;
  background-color: #F44D5C;
  margin-left: 10px;
  word-break: break-all; }
  @media (max-width: 890px) {
    /* line 619, ../sass/project/_page-all-about.scss */
    .basic__link a {
      margin-left: 0;
      margin-top: 5px; } }

/* line 633, ../sass/project/_page-all-about.scss */
.basic__linkfirst {
  margin-top: 7.4%; }
  @media (max-width: 480px) {
    /* line 633, ../sass/project/_page-all-about.scss */
    .basic__linkfirst {
      margin-top: 3.7%; } }

/* line 639, ../sass/project/_page-all-about.scss */
.basic__linksecond {
  margin-top: 5px;
  padding-bottom: 10%; }
  @media (max-width: 480px) {
    /* line 639, ../sass/project/_page-all-about.scss */
    .basic__linksecond {
      padding-bottom: 5%; } }
  @media (max-width: 890px) {
    /* line 639, ../sass/project/_page-all-about.scss */
    .basic__linksecond {
      margin-top: 20px; } }

/* line 650, ../sass/project/_page-all-about.scss */
.utility__bg {
  padding-top: 12.70588%;
  background: linear-gradient(transparent, transparent), url(../images/img23.svg) no-repeat;
  background-position: 85% top;
  background-size: 105%;
  background-color: #dbebf2; }

/* line 657, ../sass/project/_page-all-about.scss */
.utility__title {
  margin-top: -6.5%; }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 657, ../sass/project/_page-all-about.scss */
    .utility__title {
      font-size: 28px;
      margin-top: 1%; } }
  @media (max-width: 480px) {
    /* line 657, ../sass/project/_page-all-about.scss */
    .utility__title {
      font-size: 22px;
      margin-top: 1%; } }

/* line 668, ../sass/project/_page-all-about.scss */
.utility__suptitle {
  font-size: 29px;
  line-height: calc(50 / 35);
  font-weight: bold;
  text-align: center;
  margin-top: 0.5%;
  color: #333333; }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 668, ../sass/project/_page-all-about.scss */
    .utility__suptitle {
      font-size: 24px; } }
  @media (max-width: 480px) {
    /* line 668, ../sass/project/_page-all-about.scss */
    .utility__suptitle {
      font-size: 18px; } }

/* line 683, ../sass/project/_page-all-about.scss */
.utility__txt p {
  line-height: 2.125;
  margin-top: 3.5%;
  color: #333333; }
  /* line 687, ../sass/project/_page-all-about.scss */
  .utility__txt p:nth-child(2) {
    margin-bottom: 4.5%; }
    @media (max-width: 480px) {
      /* line 687, ../sass/project/_page-all-about.scss */
      .utility__txt p:nth-child(2) {
        margin-bottom: 2.25%;
        margin-top: 1.75%; } }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 683, ../sass/project/_page-all-about.scss */
    .utility__txt p {
      font-size: 22px; } }
  @media (max-width: 480px) {
    /* line 683, ../sass/project/_page-all-about.scss */
    .utility__txt p {
      font-size: 14px; } }

/* line 703, ../sass/project/_page-all-about.scss */
.group__link .basic__link {
  margin-top: 0.68%; }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 703, ../sass/project/_page-all-about.scss */
    .group__link .basic__link {
      margin-top: 6%; } }
  @media (max-width: 480px) {
    /* line 703, ../sass/project/_page-all-about.scss */
    .group__link .basic__link {
      margin-top: 3%; } }
@media (min-width: 481px) and (max-width: 767px) {
  /* line 702, ../sass/project/_page-all-about.scss */
  .group__link {
    margin-bottom: 15%; } }
@media (max-width: 480px) {
  /* line 702, ../sass/project/_page-all-about.scss */
  .group__link {
    margin-bottom: 7.5%; } }

/* line 719, ../sass/project/_page-all-about.scss */
.menu__footer {
  margin-top: 3.9%;
  margin-bottom: 6.58%; }
  @media (max-width: 767px) {
    /* line 719, ../sass/project/_page-all-about.scss */
    .menu__footer {
      display: none; } }

/* line 728, ../sass/project/_page-all-about.scss */
.pic__animate {
  position: relative;
  display: block;
  max-width: 690px;
  margin: 0 auto;
  z-index: 3; }
  @media (max-width: 1100px) {
    /* line 728, ../sass/project/_page-all-about.scss */
    .pic__animate {
      display: none; } }

/* line 738, ../sass/project/_page-all-about.scss */
.img__animate {
  display: block !important;
  position: absolute;
  transform-origin: top left; }

@media (min-width: 1401px) {
  /* line 743, ../sass/project/_page-all-about.scss */
  .img__animate--1 {
    top: 490px;
    left: -74%;
    width: 78%; } }
@media (min-width: 1100px) and (max-width: 1400px) {
  /* line 743, ../sass/project/_page-all-about.scss */
  .img__animate--1 {
    top: 378px;
    left: -58%;
    width: 60%; } }

@media (min-width: 1401px) {
  /* line 755, ../sass/project/_page-all-about.scss */
  .img__animate--2 {
    top: 695px;
    left: -25%;
    width: 60%; } }
@media (min-width: 1100px) and (max-width: 1400px) {
  /* line 755, ../sass/project/_page-all-about.scss */
  .img__animate--2 {
    top: 609px;
    left: -25%;
    width: 52%; } }

@media (min-width: 1401px) {
  /* line 767, ../sass/project/_page-all-about.scss */
  .img__animate--3 {
    top: 918px;
    left: -36%;
    width: 60%; } }
@media (min-width: 1100px) and (max-width: 1400px) {
  /* line 767, ../sass/project/_page-all-about.scss */
  .img__animate--3 {
    top: 821px;
    left: -29%;
    width: 52%; } }

@media (min-width: 1401px) {
  /* line 779, ../sass/project/_page-all-about.scss */
  .img__animate--4 {
    top: 1232px;
    left: -30%;
    width: 55%; } }
@media (min-width: 1100px) and (max-width: 1400px) {
  /* line 779, ../sass/project/_page-all-about.scss */
  .img__animate--4 {
    top: 1096px;
    left: -19%;
    width: 45%; } }

/* line 791, ../sass/project/_page-all-about.scss */
.img__animate--5 {
  display: block !important;
  position: absolute;
  transform-origin: top right; }
  @media (min-width: 1900px) {
    /* line 791, ../sass/project/_page-all-about.scss */
    .img__animate--5 {
      top: 562px;
      right: -78%;
      width: 60%; } }
  @media (min-width: 1701px) and (max-width: 1899px) {
    /* line 791, ../sass/project/_page-all-about.scss */
    .img__animate--5 {
      top: 483px;
      right: -73%;
      width: 60%; } }
  @media (min-width: 1401px) and (max-width: 1700px) {
    /* line 791, ../sass/project/_page-all-about.scss */
    .img__animate--5 {
      top: 483px;
      right: -73%;
      width: 71%; } }
  @media (min-width: 1100px) and (max-width: 1400px) {
    /* line 791, ../sass/project/_page-all-about.scss */
    .img__animate--5 {
      top: 450px;
      right: -53%;
      width: 60%; } }

/* line 3, ../sass/project/_page-access.scss */
.breadcrumb__access li:nth-child(3)::after {
  content: '>';
  padding-left: 5px; }
/* line 8, ../sass/project/_page-access.scss */
.breadcrumb__access li a:nth-child(3) {
  border-bottom: 1px solid #666666; }

/* line 14, ../sass/project/_page-access.scss */
.section__singapore {
  background: #dbebf2;
  background-image: url(../images/img48.png);
  background-repeat: no-repeat, no-repeat;
  background-position: right 34%;
  background-size: 92% auto; }
  @media (max-width: 767px) {
    /* line 14, ../sass/project/_page-access.scss */
    .section__singapore {
      background-image: none; } }

/* line 24, ../sass/project/_page-access.scss */
.title__access {
  padding-top: 10.2%;
  padding-bottom: 2.5%; }

/* line 28, ../sass/project/_page-access.scss */
.access__map {
  width: 91%;
  margin: 0 auto;
  margin-top: -19%; }
  @media (min-width: 768px) and (max-width: 1100px) {
    /* line 28, ../sass/project/_page-access.scss */
    .access__map {
      margin-top: 0; } }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 28, ../sass/project/_page-access.scss */
    .access__map {
      margin-top: 10%;
      width: 100%; } }
  @media (max-width: 480px) {
    /* line 28, ../sass/project/_page-access.scss */
    .access__map {
      margin-top: 5%;
      width: 100%; } }
  /* line 43, ../sass/project/_page-access.scss */
  .access__map img {
    max-width: 100%;
    height: auto; }

/* line 48, ../sass/project/_page-access.scss */
.access__txt {
  line-height: 2.125;
  margin-top: 1.5%; }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 48, ../sass/project/_page-access.scss */
    .access__txt {
      font-size: 22px; } }
  @media (max-width: 480px) {
    /* line 48, ../sass/project/_page-access.scss */
    .access__txt {
      font-size: 14px; } }

/* line 58, ../sass/project/_page-access.scss */
.access__link {
  margin-top: 7%;
  padding-bottom: 7%; }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 58, ../sass/project/_page-access.scss */
    .access__link {
      margin-top: 8%;
      padding-bottom: 8%; } }
  /* line 66, ../sass/project/_page-access.scss */
  .access__link .basic__link span {
    color: #000; }

/* line 71, ../sass/project/_page-access.scss */
.access__link--edit {
  margin-top: 0.4%; }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 71, ../sass/project/_page-access.scss */
    .access__link--edit {
      margin-top: 6%; } }
  @media (max-width: 480px) {
    /* line 71, ../sass/project/_page-access.scss */
    .access__link--edit {
      margin-top: 3%; } }

/* line 80, ../sass/project/_page-access.scss */
.access__bg {
  padding-top: 16%;
  background: linear-gradient(transparent, transparent), url(../images/img37.svg) left bottom no-repeat;
  background-size: 100% auto;
  background-color: #dbebf2; }
  @media (max-width: 767px) {
    /* line 80, ../sass/project/_page-access.scss */
    .access__bg {
      padding-top: 20%;
      background: linear-gradient(transparent, transparent), url(../images/img55.svg) left bottom no-repeat;
      background-size: 100% auto;
      background-color: #dbebf2; } }

/* line 92, ../sass/project/_page-access.scss */
.section__access {
  background-color: #94BA63; }

/* line 95, ../sass/project/_page-access.scss */
.basic__access {
  margin-top: -17%;
  color: #FFF; }
  @media (min-width: 1101px) and (max-width: 1400px) {
    /* line 95, ../sass/project/_page-access.scss */
    .basic__access {
      margin-top: -12%; } }
  @media (min-width: 768px) and (max-width: 1100px) {
    /* line 95, ../sass/project/_page-access.scss */
    .basic__access {
      margin-top: -6%; } }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 95, ../sass/project/_page-access.scss */
    .basic__access {
      margin-top: 1%;
      font-size: 28px; } }
  @media (max-width: 480px) {
    /* line 95, ../sass/project/_page-access.scss */
    .basic__access {
      margin-top: 0;
      font-size: 22px; } }

/* line 113, ../sass/project/_page-access.scss */
.kyushu__map {
  width: 56%;
  margin: 0 auto;
  margin-top: 3%; }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 113, ../sass/project/_page-access.scss */
    .kyushu__map {
      margin-top: 5%;
      width: 100%; } }
  @media (max-width: 480px) {
    /* line 113, ../sass/project/_page-access.scss */
    .kyushu__map {
      margin-top: 2.5%;
      width: 100%; } }
  /* line 125, ../sass/project/_page-access.scss */
  .kyushu__map img {
    max-width: 100%;
    height: auto; }

/* line 130, ../sass/project/_page-access.scss */
.group__access {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8%; }
  @media (max-width: 767px) {
    /* line 130, ../sass/project/_page-access.scss */
    .group__access {
      flex-direction: column; } }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 130, ../sass/project/_page-access.scss */
    .group__access {
      margin-top: 8%;
      margin-bottom: 6%; } }
  @media (max-width: 480px) {
    /* line 130, ../sass/project/_page-access.scss */
    .group__access {
      margin-top: 4%;
      margin-bottom: 4%; } }

@media (min-width: 481px) and (max-width: 767px) {
  /* line 147, ../sass/project/_page-access.scss */
  .group__shinkansen {
    margin-top: 8%; } }
@media (max-width: 480px) {
  /* line 147, ../sass/project/_page-access.scss */
  .group__shinkansen {
    margin-top: 4%; } }

/* line 155, ../sass/project/_page-access.scss */
.group__bus {
  margin-bottom: 7.5%; }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 155, ../sass/project/_page-access.scss */
    .group__bus {
      margin-bottom: 6%; } }
  @media (max-width: 480px) {
    /* line 155, ../sass/project/_page-access.scss */
    .group__bus {
      margin-bottom: 3%; } }

/* line 164, ../sass/project/_page-access.scss */
.group__text {
  width: 67.29167%;
  height: 100%;
  color: #FFF;
  margin-top: -1%; }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 164, ../sass/project/_page-access.scss */
    .group__text {
      width: 100%; } }
  @media (max-width: 480px) {
    /* line 164, ../sass/project/_page-access.scss */
    .group__text {
      width: 100%; } }
  /* line 175, ../sass/project/_page-access.scss */
  .group__text .basic__link {
    border-top: 1px dotted;
    padding-top: 2.5%;
    margin-top: 2.3%; }
    @media (max-width: 767px) {
      /* line 175, ../sass/project/_page-access.scss */
      .group__text .basic__link {
        display: none; } }
    /* line 182, ../sass/project/_page-access.scss */
    .group__text .basic__link span {
      color: #FFF; }
    /* line 185, ../sass/project/_page-access.scss */
    .group__text .basic__link a {
      margin-left: 4px; }
      @media (min-width: 768px) and (max-width: 1100px) {
        /* line 185, ../sass/project/_page-access.scss */
        .group__text .basic__link a {
          margin-left: 0; } }

/* line 193, ../sass/project/_page-access.scss */
.group__img {
  width: 30.9375%;
  height: 100%; }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 193, ../sass/project/_page-access.scss */
    .group__img {
      width: 100%;
      margin-top: 4%; } }
  @media (max-width: 480px) {
    /* line 193, ../sass/project/_page-access.scss */
    .group__img {
      width: 100%;
      margin-top: 2%; } }
  /* line 204, ../sass/project/_page-access.scss */
  .group__img img {
    max-width: 100%;
    height: auto; }
    @media (max-width: 767px) {
      /* line 204, ../sass/project/_page-access.scss */
      .group__img img {
        width: 100%;
        height: auto; } }

/* line 213, ../sass/project/_page-access.scss */
.group__title {
  font-size: 26px;
  line-height: calc(51 / 26);
  font-weight: bold; }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 213, ../sass/project/_page-access.scss */
    .group__title {
      font-size: 28px; } }
  @media (max-width: 480px) {
    /* line 213, ../sass/project/_page-access.scss */
    .group__title {
      font-size: 18px; } }

/* line 224, ../sass/project/_page-access.scss */
.group__txt {
  line-height: 2.125;
  margin-top: -0.5%; }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 224, ../sass/project/_page-access.scss */
    .group__txt {
      font-size: 22px; } }
  @media (max-width: 480px) {
    /* line 224, ../sass/project/_page-access.scss */
    .group__txt {
      font-size: 14px; } }

/* line 234, ../sass/project/_page-access.scss */
.menu__access {
  background-color: #94BA63;
  padding-top: 1.7%;
  padding-bottom: 7.3%; }
  @media (max-width: 768px) {
    /* line 234, ../sass/project/_page-access.scss */
    .menu__access {
      display: none; } }
  /* line 243, ../sass/project/_page-access.scss */
  .menu__access ul li a {
    color: #FFF !important; }

/* line 249, ../sass/project/_page-access.scss */
.link__sp {
  padding-bottom: 10%;
  border-bottom: 1px dotted #FFF; }
  @media (min-width: 768px) {
    /* line 249, ../sass/project/_page-access.scss */
    .link__sp {
      display: none; } }
  @media (max-width: 480px) {
    /* line 249, ../sass/project/_page-access.scss */
    .link__sp {
      padding-bottom: 7%; } }
  /* line 258, ../sass/project/_page-access.scss */
  .link__sp span {
    color: #FFF; }

@media (max-width: 767px) {
  /* line 262, ../sass/project/_page-access.scss */
  .show-pc {
    display: none; } }
@media (min-width: 768px) {
  /* line 262, ../sass/project/_page-access.scss */
  .show-pc {
    display: block; } }

@media (max-width: 767px) {
  /* line 270, ../sass/project/_page-access.scss */
  .show-sp {
    display: block; } }
@media (min-width: 768px) {
  /* line 270, ../sass/project/_page-access.scss */
  .show-sp {
    display: none; } }

/* line 278, ../sass/project/_page-access.scss */
.border__none {
  border-bottom: none; }
  @media (min-width: 481px) and (max-width: 767px) {
    /* line 278, ../sass/project/_page-access.scss */
    .border__none {
      padding-bottom: 18% !important; } }
  @media (max-width: 480px) {
    /* line 278, ../sass/project/_page-access.scss */
    .border__none {
      padding-bottom: 9% !important; } }

@media (min-width: 1701px) {
  /* line 287, ../sass/project/_page-access.scss */
  .img__animate--6 {
    top: 217px;
    left: -96%;
    width: 53%; } }
@media (min-width: 1401px) and (max-width: 1700px) {
  /* line 287, ../sass/project/_page-access.scss */
  .img__animate--6 {
    top: 255px;
    left: -67%;
    width: 50%; } }
@media (min-width: 1101px) and (max-width: 1400px) {
  /* line 287, ../sass/project/_page-access.scss */
  .img__animate--6 {
    top: 233px;
    left: -58%;
    width: 45%; } }

/* line 304, ../sass/project/_page-access.scss */
.img__animate--7 {
  display: block !important;
  position: absolute;
  transform-origin: top right; }
  @media (min-width: 1701px) {
    /* line 304, ../sass/project/_page-access.scss */
    .img__animate--7 {
      top: 173px;
      right: -96%;
      width: 79%; } }
  @media (min-width: 1401px) and (max-width: 1700px) {
    /* line 304, ../sass/project/_page-access.scss */
    .img__animate--7 {
      top: 173px;
      right: -78%;
      width: 74%; } }
  @media (min-width: 1101px) and (max-width: 1400px) {
    /* line 304, ../sass/project/_page-access.scss */
    .img__animate--7 {
      top: 141px;
      right: -68%;
      width: 68%; } }

/* line 324, ../sass/project/_page-access.scss */
.img__animate--8 {
  display: block !important;
  position: absolute;
  transform-origin: top right; }
  @media (min-width: 1701px) {
    /* line 324, ../sass/project/_page-access.scss */
    .img__animate--8 {
      top: 644px;
      right: -111%;
      width: 87%; } }
  @media (min-width: 1401px) and (max-width: 1700px) {
    /* line 324, ../sass/project/_page-access.scss */
    .img__animate--8 {
      top: 644px;
      right: -84%;
      width: 84%; } }
  @media (min-width: 1100px) and (max-width: 1400px) {
    /* line 324, ../sass/project/_page-access.scss */
    .img__animate--8 {
      top: 584px;
      right: -81%;
      width: 79%; } }
