@font-face {
  font-family: 'hirakakupro';
  font-style: normal;
  src: local("hirakakupro"), url("../font/hirakakupro-w3-opentype_bigfontsite.com.otf"); }
@font-face {
  font-family: 'Gyosho';
  font-style: normal;
  src: local("Gyosho"), url("../font/Gyosho.ttf"); }
/* line 1, ../sass/foundation/_base.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 6, ../sass/foundation/_base.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #000; }

/* line 11, ../sass/foundation/_base.scss */
ul {
  list-style: none; }

/* line 14, ../sass/foundation/_base.scss */
a {
  text-decoration: none; }

/* line 17, ../sass/foundation/_base.scss */
.clear-both {
  clear: both; }

@font-face {
  font-family: 'BebasNeue Book';
  font-style: normal;
  src: url("../font/BebasNeue Book.ttf") format("woff2"); }
@font-face {
  font-family: BebasNeue;
  src: url("../font/BebasNeue-Regular.ttf");
  font-weight: normal; }
@font-face {
  font-family: BebasNeueBook;
  src: url("../font/BebasNeue-Book.ttf"); }
@font-face {
  font-family: ArialBold;
  src: url("../font/arial-mt-bold.ttf");
  font-weight: normal; }
@font-face {
  font-family: MEIRYO;
  src: url("../font/MEIRYO.TTC");
  font-weight: normal; }
@font-face {
  font-family: ArialMT;
  src: url("../font/ARI.ttf"); }
@font-face {
  font-family: DejaVuSans;
  src: url("../font/DejaVuSans.ttf"); }
/* line 2, ../sass/layout/_header.scss */
header .logo {
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: -5px 5px 30px -10px rgba(0, 0, 0, 0.75);
  background: #ffffff; }
  @media only screen and (max-width: 1024px) {
    /* line 2, ../sass/layout/_header.scss */
    header .logo {
      width: 100%;
      height: 54px; } }
  /* line 12, ../sass/layout/_header.scss */
  header .logo img {
    width: 100%;
    height: 68px; }
    @media only screen and (max-width: 1024px) {
      /* line 12, ../sass/layout/_header.scss */
      header .logo img {
        display: none; } }
  /* line 19, ../sass/layout/_header.scss */
  header .logo img + a {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px; }
    /* line 24, ../sass/layout/_header.scss */
    header .logo img + a img {
      height: 100px !important;
      width: 100px !important; }
      @media only screen and (max-width: 1024px) {
        /* line 24, ../sass/layout/_header.scss */
        header .logo img + a img {
          display: block;
          max-width: 80px;
          max-height: 80px !important; } }
  /* line 34, ../sass/layout/_header.scss */
  header .logo button.button-menu {
    display: none; }
    @media only screen and (max-width: 1024px) {
      /* line 34, ../sass/layout/_header.scss */
      header .logo button.button-menu {
        display: block;
        border: none;
        background: no-repeat;
        position: fixed;
        right: 0;
        padding: 5px 15px; }
        /* line 43, ../sass/layout/_header.scss */
        header .logo button.button-menu .bar1, header .logo button.button-menu .bar2, header .logo button.button-menu .bar3 {
          background-color: #737373;
          border-radius: 9px;
          margin: 5px;
          padding: 4px 20px; } }
/* line 55, ../sass/layout/_header.scss */
header p.header-menu-btn {
  z-index: 2;
  display: none;
  background: #000000;
  color: white;
  padding: 25px;
  position: fixed;
  right: 0;
  font-weight: 700;
  font-size: 20px;
  bottom: 20px;
  cursor: pointer;
  font-family: BebasNeue; }
  @media only screen and (max-width: 1024px) {
    /* line 55, ../sass/layout/_header.scss */
    header p.header-menu-btn {
      display: block; } }
/* line 72, ../sass/layout/_header.scss */
header .pageTop {
  font-family: BebasNeue;
  position: fixed;
  height: 65px;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -21px;
  right: 10px;
  background: #000000;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  z-index: 3;
  line-height: 1;
  font-size: 13px;
  border-radius: 50%; }
/* line 93, ../sass/layout/_header.scss */
header nav.navbar {
  margin-top: 72px;
  background: #e1e1e1; }
  @media only screen and (max-width: 1024px) {
    /* line 93, ../sass/layout/_header.scss */
    header nav.navbar {
      margin-top: 54px; } }
  /* line 99, ../sass/layout/_header.scss */
  header nav.navbar ul.navbar-nav {
    text-align: center;
    position: relative; }
    @media only screen and (max-width: 1024.98px) {
      /* line 99, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav {
        position: fixed;
        right: -68%;
        text-align: left;
        width: 68%;
        top: 54px;
        z-index: 4; } }
    @media only screen and (min-width: 1024.98px) {
      /* line 99, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav {
        right: 0 !important; } }
    /* line 113, ../sass/layout/_header.scss */
    header nav.navbar ul.navbar-nav li.nav-item.active {
      background: #000000; }
      /* line 115, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item.active a {
        color: #ffffff; }
      @media only screen and (max-width: 1024px) {
        /* line 113, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.active {
          background-color: #333333;
          border-bottom: 1px solid #454545; } }
    /* line 123, ../sass/layout/_header.scss */
    header nav.navbar ul.navbar-nav li.nav-item {
      background: url("../images/img16.png") no-repeat right center;
      margin-left: -6px;
      cursor: pointer;
      position: relative;
      display: inline-block; }
      @media only screen and (max-width: 1024px) {
        /* line 123, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item {
          display: block;
          background-color: #333333;
          margin-left: 0;
          border-bottom: 1px solid #454545; }
          /* line 129, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item a {
            color: #ffffff !important; }
          /* line 132, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item:last-child {
            background-image: none;
            background-color: #000000;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 14.5px; } }
      /* line 145, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item:nth-child(5) {
        background-image: none; }
      /* line 150, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item:last-child .close .bar1 {
        width: 25px;
        height: 1px;
        background: white;
        transform: rotate(45deg); }
      /* line 156, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item:last-child .close .bar2 {
        width: 25px;
        height: 1px;
        background: white;
        transform: rotate(-45deg); }
      /* line 163, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item:last-child span {
        color: #ffffff;
        text-transform: uppercase;
        font-family: BebasNeue; }
      @media only screen and (min-width: 1024.98px) {
        /* line 170, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item:hover {
          background: #000000; }
          /* line 172, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item:hover a {
            color: #ffffff; }
          /* line 175, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item:hover ul.submenu {
            display: block; } }
      /* line 181, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item a {
        display: block;
        padding: 14px 15px;
        font-family: BebasNeue;
        color: #000000;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px; }
        @media only screen and (max-width: 1290px) {
          /* line 181, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item a {
            font-size: 19px; } }
        @media only screen and (max-width: 1024px) {
          /* line 181, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item a {
            font-size: 16px; } }
      /* line 197, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item ul.submenu {
        z-index: 999;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #333333; }
        @media only screen and (max-width: 1024px) {
          /* line 197, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item ul.submenu {
            position: static;
            display: block;
            top: auto;
            left: auto; } }
        /* line 211, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item ul.submenu li {
          list-style-type: none; }
          @media only screen and (max-width: 1024px) {
            /* line 211, ../sass/layout/_header.scss */
            header nav.navbar ul.navbar-nav li.nav-item ul.submenu li {
              width: 32%;
              display: inline-block;
              border-right: 1px solid #ffffff;
              margin-bottom: 20px;
              margin-left: 25px; }
              /* line 219, ../sass/layout/_header.scss */
              header nav.navbar ul.navbar-nav li.nav-item ul.submenu li a {
                padding: 0px; }
              /* line 222, ../sass/layout/_header.scss */
              header nav.navbar ul.navbar-nav li.nav-item ul.submenu li:nth-child(2), header nav.navbar ul.navbar-nav li.nav-item ul.submenu li:nth-child(4) {
                border-right: none; } }
    @media only screen and (min-width: 1024.98px) {
      /* line 231, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item.close-menu {
        display: none; } }
    /* line 236, ../sass/layout/_header.scss */
    header nav.navbar ul.navbar-nav li.nav-item.social {
      position: absolute;
      right: 80px;
      top: 50%;
      transform: translateY(-50%); }
      @media only screen and (max-width: 1024px) {
        /* line 236, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.social {
          padding: 9px;
          position: static;
          transform: none; }
          /* line 246, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item.social a:nth-child(1) {
            margin-left: 6px; } }
      @media only screen and (max-width: 1024px) {
        /* line 236, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.social {
          right: 20px; } }
      @media only screen and (max-width: 1900px) and (min-width: 1700px) {
        /* line 236, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.social {
          right: 120px; } }
      @media only screen and (min-width: 1024.98px) {
        /* line 258, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.social:hover {
          background: none; } }
      /* line 262, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item.social a {
        border-radius: 50%;
        display: inline-block; }
        /* line 265, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.social a i {
          color: #ffffff;
          font-size: 15px; }
        @media only screen and (max-width: 1024px) {
          /* line 270, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item.social a:nth-child(1), header nav.navbar ul.navbar-nav li.nav-item.social a:nth-child(3) {
            padding: 5px 8px; }
          /* line 274, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item.social a:nth-child(2) {
            padding: 5px 11px; } }
        /* line 278, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.social a:nth-child(1) {
          background: #5dabed;
          padding: 5px 11px; }
        /* line 282, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.social a:nth-child(2) {
          background: #324d96;
          padding: 5px 13px; }
        /* line 286, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.social a:nth-child(3) {
          background: #e63d5c;
          padding: 5px 11px; }
/* line 294, ../sass/layout/_header.scss */
header .color-bar {
  background: url("../images/bg_color.png") repeat-x left bottom 5px;
  padding-bottom: 16px; }

/* line 1, ../sass/layout/_footer.scss */
footer {
  width: 100%;
  background: #303030;
  text-align: center;
  padding: 44px 0;
  color: #FFF;
  font-size: 14px;
  line-height: calc(17 / 14); }

/**
 * Icons
**/
/* line 6, ../sass/component/_icon.scss */
.icon__company, .icon__work, .icon__interview, .icon__entry, .icon__requirement {
  height: 44px;
  font-family: "hirakakupro"; }

/* line 1, ../sass/project/_page-all-about.scss */
.banner {
  position: relative;
  background: url(../images/img04.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 25.8823529%; }
  /* line 7, ../sass/project/_page-all-about.scss */
  .banner p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    font-size: 80px;
    letter-spacing: 2px;
    color: #FFF;
    font-weight: 400;
    font-family: 'BebasNeue Book'; }

/* line 20, ../sass/project/_page-all-about.scss */
.menu__content {
  padding: 8px 0px;
  background-color: #ffffff; }
  /* line 23, ../sass/project/_page-all-about.scss */
  .menu__content ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto; }
    /* line 30, ../sass/project/_page-all-about.scss */
    .menu__content ul li.active-bg-dark {
      background: #000000; }
      /* line 32, ../sass/project/_page-all-about.scss */
      .menu__content ul li.active-bg-dark a {
        color: #ffffff; }
        /* line 35, ../sass/project/_page-all-about.scss */
        .menu__content ul li.active-bg-dark a:before {
          content: unset; }
        /* line 38, ../sass/project/_page-all-about.scss */
        .menu__content ul li.active-bg-dark a:after {
          content: unset !important; }
    /* line 43, ../sass/project/_page-all-about.scss */
    .menu__content ul li {
      background: url("../images/img16.png") no-repeat right center;
      margin: 8px 0; }
      /* line 45, ../sass/project/_page-all-about.scss */
      .menu__content ul li:last-child {
        background-image: none !important; }
      /* line 48, ../sass/project/_page-all-about.scss */
      .menu__content ul li:hover {
        background-color: #000000;
        background-image: none !important; }
      /* line 53, ../sass/project/_page-all-about.scss */
      .menu__content ul li a {
        position: relative;
        font-family: 'BebasNeue', sans-serif;
        display: block;
        padding: 10px 15px;
        font-size: 27px;
        line-height: calc(17 / 27);
        color: #000000;
        width: 100%; }
        @media (max-width: 767px) {
          /* line 53, ../sass/project/_page-all-about.scss */
          .menu__content ul li a {
            font-size: 18px; } }
        @media (max-width: 480px) {
          /* line 53, ../sass/project/_page-all-about.scss */
          .menu__content ul li a {
            font-size: 14px; } }
        /* line 68, ../sass/project/_page-all-about.scss */
        .menu__content ul li a:hover {
          color: #ffffff; }
          /* line 70, ../sass/project/_page-all-about.scss */
          .menu__content ul li a:hover:before {
            content: unset; }
          /* line 73, ../sass/project/_page-all-about.scss */
          .menu__content ul li a:hover:after {
            content: unset !important; }

/* line 91, ../sass/project/_page-all-about.scss */
.breadcrumb {
  width: 100%;
  max-width: 1290px;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 0.78%; }
  /* line 98, ../sass/project/_page-all-about.scss */
  .breadcrumb li {
    color: #666666;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    line-height: calc(34 / 16); }
    /* line 104, ../sass/project/_page-all-about.scss */
    .breadcrumb li:nth-child(1)::after, .breadcrumb li:nth-child(2)::after {
      content: '>';
      padding-left: 5px; }
    @media (min-width: 320px) and (max-width: 424.98px) {
      /* line 109, ../sass/project/_page-all-about.scss */
      .breadcrumb li:nth-child(3) {
        font-size: 11px; } }
    /* line 114, ../sass/project/_page-all-about.scss */
    .breadcrumb li a {
      color: #666666; }
      @media (min-width: 320px) and (max-width: 424.98px) {
        /* line 114, ../sass/project/_page-all-about.scss */
        .breadcrumb li a {
          font-size: 11px; } }
      /* line 119, ../sass/project/_page-all-about.scss */
      .breadcrumb li a:nth-child(1), .breadcrumb li a:nth-child(2) {
        border-bottom: 1px solid #666666; }

/* line 127, ../sass/project/_page-all-about.scss */
.section {
  width: 100%;
  max-width: 1900px;
  margin: auto; }

/* line 132, ../sass/project/_page-all-about.scss */
.title {
  font-size: 40px;
  line-height: calc(30 / 40);
  font-weight: bold;
  text-align: center;
  padding-top: 16.6%;
  padding-bottom: 3%; }

/* line 140, ../sass/project/_page-all-about.scss */
.sup__title {
  font-size: 28px;
  font-weight: bold;
  text-align: center; }

/* line 148, ../sass/project/_page-all-about.scss */
.section__txt p {
  line-height: 2.125;
  padding-top: 5%; }

/* line 153, ../sass/project/_page-all-about.scss */
.section__map {
  background: #dbebf2; }

/* line 156, ../sass/project/_page-all-about.scss */
.inner__1700 {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  -webkit-background-size: auto;
  background-size: auto;
  z-index: 1; }

/* line 166, ../sass/project/_page-all-about.scss */
.map__bg {
  background-position: 85% 0;
  background-size: auto;
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  z-index: -1;
  padding-top: 52.58824%;
  background-image: -webkit-linear-gradient(transparent, transparent), url(../images/map_01.svg);
  background-image: linear-gradient(transparent, transparent), url(../images/map_01.svg);
  background-repeat: no-repeat; }

/* line 181, ../sass/project/_page-all-about.scss */
.map__content {
  padding-bottom: 26.47059%;
  z-index: 20;
  display: block; }

/* line 186, ../sass/project/_page-all-about.scss */
.inner__690 {
  margin: 0 auto;
  width: 100%;
  max-width: 690px; }

/* line 192, ../sass/project/_page-all-about.scss */
.inner__1290 {
  width: 100%;
  max-width: 1290px;
  position: relative;
  margin: 0 auto; }

/* line 200, ../sass/project/_page-all-about.scss */
.circle__map {
  position: relative;
  width: 45%;
  margin: 0 auto;
  margin-top: -5.8%;
  margin-right: 23%; }
  /* line 209, ../sass/project/_page-all-about.scss */
  .circle__map:before {
    position: absolute;
    content: "";
    padding-bottom: 65%;
    width: 65%;
    /* height: 0; */
    right: -36.2%;
    top: -30%;
    /* z-index: 3; */
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    background-color: #FFF !important;
    background: linear-gradient(transparent, transparent), url(../images/map_02.svg) center center no-repeat;
    background-size: 77%;
    border-radius: 50%; }
  /* line 227, ../sass/project/_page-all-about.scss */
  .circle__map:after {
    display: block;
    padding-bottom: 100%;
    width: 100%;
    /* height: 0; */
    content: "";
    border-radius: 50%;
    /* box-sizing: border-box; */
    background-color: #ffffff; }

/* line 238, ../sass/project/_page-all-about.scss */
.circle__content {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%; }

/* line 244, ../sass/project/_page-all-about.scss */
.circle__txt {
  display: table;
  width: 100%;
  height: 100%; }
  /* line 248, ../sass/project/_page-all-about.scss */
  .circle__txt p {
    display: table-cell;
    vertical-align: middle;
    padding: 0 15%;
    line-height: 2.125; }

/* line 257, ../sass/project/_page-all-about.scss */
.section__wave {
  background-color: #61aed3; }

/* line 260, ../sass/project/_page-all-about.scss */
.wave__bg {
  padding-top: 13.5%;
  /* height: 264px; */
  background: linear-gradient(transparent, transparent), url(../images/bg_wave_01_pc.svg) left bottom no-repeat;
  background-size: 100% auto;
  background-color: #dbebf2; }

/* line 272, ../sass/project/_page-all-about.scss */
.wave__txt {
  margin: 0 auto;
  position: relative;
  width: 54%; }
  /* line 279, ../sass/project/_page-all-about.scss */
  .wave__txt p {
    color: #FFF;
    line-height: 2.125;
    padding-top: 5%; }
    /* line 283, ../sass/project/_page-all-about.scss */
    .wave__txt p:nth-child(1) {
      padding-top: 7%; }
    /* line 286, ../sass/project/_page-all-about.scss */
    .wave__txt p:nth-child(3) {
      padding-bottom: 6%; }

/* line 291, ../sass/project/_page-all-about.scss */
.wave__pic {
  position: absolute;
  height: auto; }

/* line 295, ../sass/project/_page-all-about.scss */
.wave__pic--1 {
  width: 47%;
  left: -47.12%;
  top: 32.84%; }

/* line 300, ../sass/project/_page-all-about.scss */
.wave__pic--2 {
  width: 36%;
  top: 59.84%;
  right: -37.8%; }

/* line 305, ../sass/project/_page-all-about.scss */
.wave__pic--3 {
  display: none;
  width: 54%;
  top: -11.15543%;
  right: -56%; }

/* line 313, ../sass/project/_page-all-about.scss */
.play-group {
  width: 100%;
  max-width: 1900px;
  margin: auto; }

/* line 318, ../sass/project/_page-all-about.scss */
.info__bg {
  padding-top: 12.70588%;
  /* height: 216px; */
  background: linear-gradient(transparent, transparent), url(../images/bg_wave_2_pc.svg) no-repeat;
  background-position: 85% top;
  background-size: 105%;
  background-color: #61aed3; }

/* line 330, ../sass/project/_page-all-about.scss */
.box__title {
  margin-top: -6.9%;
  margin-bottom: 7.3%; }

/* line 334, ../sass/project/_page-all-about.scss */
.box__info {
  display: flex;
  width: 100%;
  margin-bottom: 4.4%; }

/* line 339, ../sass/project/_page-all-about.scss */
.info__text {
  width: calc(100% - 46% - 12.7647%);
  margin-left: 12.7647%; }

/* line 343, ../sass/project/_page-all-about.scss */
.info__title {
  font-size: 60px;
  font-weight: bold; }

/* line 348, ../sass/project/_page-all-about.scss */
.info__txt {
  margin-top: 3%;
  margin-bottom: 4.2%;
  line-height: 2.125; }

/* line 353, ../sass/project/_page-all-about.scss */
.info__access {
  border-top: 1px dotted;
  padding-top: 2%;
  line-height: 2.125; }
  /* line 357, ../sass/project/_page-all-about.scss */
  .info__access b {
    margin-right: 5px; }

/* line 361, ../sass/project/_page-all-about.scss */
.info__link {
  display: inline-block;
  padding: 0 5px;
  line-height: 2.125; }
  /* line 366, ../sass/project/_page-all-about.scss */
  .info__link a {
    color: #FFF; }

/* line 370, ../sass/project/_page-all-about.scss */
.info__pic {
  width: 46%;
  margin-top: -2%; }
  /* line 373, ../sass/project/_page-all-about.scss */
  .info__pic img {
    width: 100%;
    height: auto; }

/* line 378, ../sass/project/_page-all-about.scss */
.box__reverse {
  flex-direction: row-reverse; }
  /* line 380, ../sass/project/_page-all-about.scss */
  .box__reverse .info__text {
    margin-right: 11.7647%;
    margin-left: 0; }

/* line 386, ../sass/project/_page-all-about.scss */
.box__fukuoka .info__title {
  color: #907AA1; }
/* line 389, ../sass/project/_page-all-about.scss */
.box__fukuoka .info__link {
  background-color: #907AA1; }
/* line 392, ../sass/project/_page-all-about.scss */
.box__fukuoka .info__txt {
  margin-bottom: 1%; }

/* line 396, ../sass/project/_page-all-about.scss */
.box__saga {
  margin-bottom: 6.5%; }
  /* line 398, ../sass/project/_page-all-about.scss */
  .box__saga .info__title {
    color: #B74D52; }
  /* line 401, ../sass/project/_page-all-about.scss */
  .box__saga .info__link {
    background-color: #B74D52; }

/* line 406, ../sass/project/_page-all-about.scss */
.box__nagasaki .info__title {
  color: #935430; }
/* line 409, ../sass/project/_page-all-about.scss */
.box__nagasaki .info__link {
  background-color: #935430; }

/* line 413, ../sass/project/_page-all-about.scss */
.box__oita {
  margin-bottom: 6%; }
  /* line 415, ../sass/project/_page-all-about.scss */
  .box__oita .info__title {
    color: #4A6E33; }
  /* line 418, ../sass/project/_page-all-about.scss */
  .box__oita .info__link {
    background-color: #4A6E33; }

/* line 423, ../sass/project/_page-all-about.scss */
.box__kumamoto .info__title {
  color: #8C9A28; }
/* line 426, ../sass/project/_page-all-about.scss */
.box__kumamoto .info__link {
  background-color: #8C9A28; }

/* line 430, ../sass/project/_page-all-about.scss */
.box__miyazaki {
  margin-bottom: 3.6%; }
  /* line 432, ../sass/project/_page-all-about.scss */
  .box__miyazaki .info__title {
    color: #5B81C1; }
  /* line 435, ../sass/project/_page-all-about.scss */
  .box__miyazaki .info__link {
    background-color: #5B81C1; }

/* line 439, ../sass/project/_page-all-about.scss */
.box__kagoshima {
  margin-bottom: 9%; }
  /* line 441, ../sass/project/_page-all-about.scss */
  .box__kagoshima .info__title {
    color: #48886B; }
  /* line 444, ../sass/project/_page-all-about.scss */
  .box__kagoshima .info__link {
    background-color: #48886B; }

/* line 449, ../sass/project/_page-all-about.scss */
.section__basicinfo {
  background-color: #DBEBF2; }

/* line 452, ../sass/project/_page-all-about.scss */
.basic__title {
  font-size: 35px;
  line-height: calc(50 / 35);
  font-weight: bold;
  text-align: center; }

/* line 458, ../sass/project/_page-all-about.scss */
.basic__infotitle {
  margin-top: -8.3%;
  margin-bottom: 4%; }

/* line 462, ../sass/project/_page-all-about.scss */
.basic__bg {
  padding-top: 15.6%;
  /* height: 264px; */
  background: linear-gradient(transparent, transparent), url(../images/bg_wave_4_pc.svg) left top no-repeat;
  background-size: 100% auto;
  background-color: #FFF !important; }

/* line 474, ../sass/project/_page-all-about.scss */
.inner__960 {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }

/* line 479, ../sass/project/_page-all-about.scss */
.basic__pic {
  display: flex;
  justify-content: center; }
  /* line 482, ../sass/project/_page-all-about.scss */
  .basic__pic img {
    width: calc(100% - 30%);
    height: auto; }

/* line 487, ../sass/project/_page-all-about.scss */
.basic__txt {
  line-height: 2.125;
  margin-top: 9.5%; }

/* line 491, ../sass/project/_page-all-about.scss */
.basic__link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1%; }
  /* line 496, ../sass/project/_page-all-about.scss */
  .basic__link p {
    word-break: break-all; }
    /* line 498, ../sass/project/_page-all-about.scss */
    .basic__link p:nth-child(2) {
      display: inline-block;
      padding: 4px 5px;
      background-color: #F44D5C;
      margin-left: 10px; }
      /* line 504, ../sass/project/_page-all-about.scss */
      .basic__link p:nth-child(2) a {
        color: #FFF;
        padding: 0 5px; }

/* line 511, ../sass/project/_page-all-about.scss */
.basic__linkfirst {
  margin-top: 7.4%; }

/* line 514, ../sass/project/_page-all-about.scss */
.basic__linksecond {
  padding-bottom: 10%; }

/* line 517, ../sass/project/_page-all-about.scss */
.utility__bg {
  padding-top: 12.70588%;
  /* height: 216px; */
  background: linear-gradient(transparent, transparent), url(../images/bg_wave_2_pc.svg) no-repeat;
  background-position: 85% top;
  background-size: 105%;
  background-color: #dbebf2; }

/* line 531, ../sass/project/_page-all-about.scss */
.utility__title {
  margin-top: -6.5%; }

/* line 534, ../sass/project/_page-all-about.scss */
.utility__suptitle {
  font-size: 29px;
  line-height: calc(50 / 35);
  font-weight: bold;
  text-align: center;
  margin-top: 0.5%; }

/* line 542, ../sass/project/_page-all-about.scss */
.utility__txt p {
  line-height: 2.125;
  margin-top: 3.5%; }
  /* line 545, ../sass/project/_page-all-about.scss */
  .utility__txt p:nth-child(2) {
    margin-bottom: 4.5%; }

/* line 552, ../sass/project/_page-all-about.scss */
.group__link .basic__link {
  margin-top: 1.2%; }

/* line 556, ../sass/project/_page-all-about.scss */
.menu__footer {
  margin-top: 3.9%;
  margin-bottom: 6.58%; }
