@font-face {
  font-family: 'hirakakupro';
  font-style: normal;
  src: local("hirakakupro"), url("../font/hirakakupro-w3-opentype_bigfontsite.com.otf"); }
@font-face {
  font-family: 'Gyosho';
  font-style: normal;
  src: local("Gyosho"), url("../font/Gyosho.ttf"); }
/* line 1, ../sass/foundation/_base.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 6, ../sass/foundation/_base.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }

/* line 11, ../sass/foundation/_base.scss */
ul {
  list-style: none; }

/* line 14, ../sass/foundation/_base.scss */
a {
  text-decoration: none; }

/* line 18, ../sass/foundation/_base.scss */
.clear-both {
  clear: both; }

@font-face {
  font-family: 'BebasNeue Book';
  font-style: normal;
  src: url("../font/BebasNeue Book.ttf") format("woff2"); }
@font-face {
  font-family: BebasNeue;
  src: url("../font/BebasNeue-Regular.ttf");
  font-weight: normal; }
@font-face {
  font-family: BebasNeueBook;
  src: url("../font/BebasNeue-Book.ttf"); }
@font-face {
  font-family: ArialBold;
  src: url("../font/arial-mt-bold.ttf");
  font-weight: normal; }
@font-face {
  font-family: MEIRYO;
  src: url("../font/MEIRYO.TTC");
  font-weight: normal; }
@font-face {
  font-family: ArialMT;
  src: url("../font/ARI.ttf"); }
@font-face {
  font-family: DejaVuSans;
  src: url("../font/DejaVuSans.ttf"); }
/* line 2, ../sass/layout/_header.scss */
header .logo {
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: -5px 5px 30px -10px rgba(0, 0, 0, 0.75);
  background: #ffffff; }
  @media only screen and (max-width: 1024px) {
    /* line 2, ../sass/layout/_header.scss */
    header .logo {
      width: 100%;
      height: 54px; } }
  /* line 12, ../sass/layout/_header.scss */
  header .logo img {
    width: 100%;
    height: 68px; }
    @media only screen and (max-width: 1024px) {
      /* line 12, ../sass/layout/_header.scss */
      header .logo img {
        display: none; } }
  /* line 19, ../sass/layout/_header.scss */
  header .logo img + a {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px; }
    /* line 24, ../sass/layout/_header.scss */
    header .logo img + a img {
      height: 100px !important;
      width: 100px !important; }
      @media only screen and (max-width: 1024px) {
        /* line 24, ../sass/layout/_header.scss */
        header .logo img + a img {
          display: block;
          max-width: 80px;
          max-height: 80px !important; } }
  /* line 34, ../sass/layout/_header.scss */
  header .logo button.js-navbar-toggler {
    display: none; }
    @media only screen and (max-width: 1024px) {
      /* line 34, ../sass/layout/_header.scss */
      header .logo button.js-navbar-toggler {
        display: block;
        border: none;
        background: no-repeat;
        position: fixed;
        right: 0;
        padding: 5px 15px; }
        /* line 43, ../sass/layout/_header.scss */
        header .logo button.js-navbar-toggler .bar1, header .logo button.js-navbar-toggler .bar2, header .logo button.js-navbar-toggler .bar3 {
          background-color: #737373;
          border-radius: 9px;
          margin: 5px;
          padding: 4px 20px; } }
/* line 52, ../sass/layout/_header.scss */
header .navbar-toggler {
  display: none; }
/* line 55, ../sass/layout/_header.scss */
header p.header-menu-btn {
  z-index: 2;
  display: none;
  background: #000000;
  color: white;
  padding: 25px;
  position: fixed;
  right: 0;
  font-weight: 700;
  font-size: 20px;
  bottom: 20px;
  cursor: pointer;
  font-family: BebasNeue; }
  @media only screen and (max-width: 1024px) {
    /* line 55, ../sass/layout/_header.scss */
    header p.header-menu-btn {
      display: block; } }
/* line 72, ../sass/layout/_header.scss */
header p.js-pageTop {
  font-family: BebasNeue;
  position: fixed;
  height: 65px;
  width: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -21px;
  right: 10px;
  background: #000000;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  z-index: 3;
  line-height: 1;
  font-size: 13px;
  border-radius: 50%; }
/* line 93, ../sass/layout/_header.scss */
header nav.navbar {
  margin-top: 72px;
  background: #e1e1e1; }
  @media only screen and (max-width: 1024px) {
    /* line 93, ../sass/layout/_header.scss */
    header nav.navbar {
      margin-top: 54px; } }
  /* line 99, ../sass/layout/_header.scss */
  header nav.navbar ul.navbar-nav {
    text-align: center;
    position: relative; }
    @media only screen and (max-width: 1024.98px) {
      /* line 99, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav {
        position: fixed;
        right: -68%;
        text-align: left;
        width: 68%;
        top: 54px;
        z-index: 4; } }
    @media only screen and (min-width: 1024.98px) {
      /* line 99, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav {
        right: 0 !important; } }
    /* line 116, ../sass/layout/_header.scss */
    header nav.navbar ul.navbar-nav li.nav-item.active {
      background: #000000; }
      /* line 118, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item.active a {
        color: #ffffff; }
      @media only screen and (max-width: 1024px) {
        /* line 116, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.active {
          background-color: #333333;
          border-bottom: 1px solid #454545; } }
    /* line 126, ../sass/layout/_header.scss */
    header nav.navbar ul.navbar-nav li.nav-item {
      background-image: url("../../images/bg_menu_border.png") no-repeat right center;
      margin-left: -6px;
      cursor: pointer;
      position: relative;
      display: inline-block; }
      @media only screen and (max-width: 1024px) {
        /* line 126, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item {
          display: block;
          background-color: #333333;
          margin-left: 0;
          border-bottom: 1px solid #454545; }
          /* line 132, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item a {
            color: #ffffff !important; }
          /* line 135, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item:last-child {
            background-image: none;
            background-color: #000000;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 14.5px; } }
      /* line 146, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item:last-child .close .bar1 {
        width: 25px;
        height: 1px;
        background: white;
        transform: rotate(45deg); }
      /* line 152, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item:last-child .close .bar2 {
        width: 25px;
        height: 1px;
        background: white;
        transform: rotate(-45deg); }
      /* line 159, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item:last-child span {
        color: #ffffff;
        text-transform: uppercase;
        font-family: BebasNeue; }
      @media only screen and (min-width: 1024.98px) {
        /* line 170, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item:hover {
          background: #000000; }
          /* line 172, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item:hover a {
            color: #ffffff; }
          /* line 175, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item:hover ul.submenu {
            display: block; } }
      /* line 181, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item a {
        display: block;
        padding: 14px 15px;
        font-family: BebasNeue;
        color: #000000;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 20px; }
        @media only screen and (max-width: 1290px) {
          /* line 181, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item a {
            font-size: 19px; } }
        @media only screen and (max-width: 1024px) {
          /* line 181, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item a {
            font-size: 16px; } }
      /* line 197, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item ul.submenu {
        z-index: 999;
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #333333; }
        @media only screen and (max-width: 1024px) {
          /* line 197, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item ul.submenu {
            position: static;
            display: block;
            top: auto;
            left: auto; } }
        /* line 211, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item ul.submenu li {
          list-style-type: none; }
          @media only screen and (max-width: 1024px) {
            /* line 211, ../sass/layout/_header.scss */
            header nav.navbar ul.navbar-nav li.nav-item ul.submenu li {
              width: 32%;
              display: inline-block;
              border-right: 1px solid #ffffff;
              margin-bottom: 20px;
              margin-left: 25px; }
              /* line 219, ../sass/layout/_header.scss */
              header nav.navbar ul.navbar-nav li.nav-item ul.submenu li a {
                padding: 0px; }
              /* line 222, ../sass/layout/_header.scss */
              header nav.navbar ul.navbar-nav li.nav-item ul.submenu li:nth-child(2), header nav.navbar ul.navbar-nav li.nav-item ul.submenu li:nth-child(4) {
                border-right: none; } }
    @media only screen and (min-width: 1024.98px) {
      /* line 231, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item.js-close-menu {
        display: none; } }
    /* line 236, ../sass/layout/_header.scss */
    header nav.navbar ul.navbar-nav li.nav-item.social {
      position: absolute;
      right: 80px;
      top: 50%;
      transform: translateY(-50%); }
      @media only screen and (max-width: 1024px) {
        /* line 236, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.social {
          padding: 9px;
          position: static;
          transform: none; }
          /* line 246, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item.social a:nth-child(1) {
            margin-left: 6px; } }
      @media only screen and (max-width: 1024px) {
        /* line 236, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.social {
          right: 20px; } }
      @media only screen and (max-width: 1900px) and (min-width: 1700px) {
        /* line 236, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.social {
          right: 120px; } }
      @media only screen and (min-width: 1024.98px) {
        /* line 258, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.social:hover {
          background: none; } }
      /* line 262, ../sass/layout/_header.scss */
      header nav.navbar ul.navbar-nav li.nav-item.social a {
        border-radius: 50%;
        display: inline-block; }
        /* line 265, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.social a i {
          color: #ffffff;
          font-size: 15px; }
        @media only screen and (max-width: 1024px) {
          /* line 270, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item.social a:nth-child(1), header nav.navbar ul.navbar-nav li.nav-item.social a:nth-child(3) {
            padding: 5px 8px; }
          /* line 274, ../sass/layout/_header.scss */
          header nav.navbar ul.navbar-nav li.nav-item.social a:nth-child(2) {
            padding: 5px 11px; } }
        /* line 278, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.social a:nth-child(1) {
          background: #5dabed;
          padding: 5px 11px; }
        /* line 282, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.social a:nth-child(2) {
          background: #324d96;
          padding: 5px 13px; }
        /* line 286, ../sass/layout/_header.scss */
        header nav.navbar ul.navbar-nav li.nav-item.social a:nth-child(3) {
          background: #e63d5c;
          padding: 5px 11px; }
/* line 294, ../sass/layout/_header.scss */
header .color-bar {
  background: url("../images/bg_color.png") repeat-x left bottom 5px;
  padding-bottom: 16px; }

/* line 1, ../sass/layout/_footer.scss */
footer {
  width: 100%;
  background: #303030;
  text-align: center;
  padding: 30px 0;
  color: #ffffff;
  font-family: DejaVuSans; }
  @media only screen and (max-width: 575.98px) {
    /* line 1, ../sass/layout/_footer.scss */
    footer {
      font-size: 12px; } }

/**
 * Icons
**/
/* line 6, ../sass/component/_icon.scss */
.icon__company, .icon__work, .icon__interview, .icon__entry, .icon__requirement {
  height: 44px;
  font-family: "hirakakupro"; }

/* line 1, ../sass/project/_page-all-about.scss */
.banner {
  position: relative;
  background: url(../images/img04.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 25.8823529%; }
  /* line 7, ../sass/project/_page-all-about.scss */
  .banner p {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
    font-size: 80px;
    letter-spacing: 2px;
    color: #ffffff;
    font-weight: 400;
    font-family: 'BebasNeue Book'; }

/* line 21, ../sass/project/_page-all-about.scss */
.breadcrumb {
  width: 100%;
  max-width: 1290px;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 0.78%; }
  /* line 28, ../sass/project/_page-all-about.scss */
  .breadcrumb li {
    color: #666666;
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    line-height: calc(34 / 16); }
    /* line 34, ../sass/project/_page-all-about.scss */
    .breadcrumb li:nth-child(1)::after, .breadcrumb li:nth-child(2)::after {
      content: '>';
      padding-left: 5px; }
    @media (min-width: 320px) and (max-width: 424.98px) {
      /* line 39, ../sass/project/_page-all-about.scss */
      .breadcrumb li:nth-child(3) {
        font-size: 11px; } }
    /* line 44, ../sass/project/_page-all-about.scss */
    .breadcrumb li a {
      color: #666666; }
      @media (min-width: 320px) and (max-width: 424.98px) {
        /* line 44, ../sass/project/_page-all-about.scss */
        .breadcrumb li a {
          font-size: 11px; } }
      /* line 49, ../sass/project/_page-all-about.scss */
      .breadcrumb li a:nth-child(1), .breadcrumb li a:nth-child(2) {
        border-bottom: 1px solid #666666; }

/* line 56, ../sass/project/_page-all-about.scss */
.menu__content {
  padding: 10px 0px 14px;
  background-color: #ffffff; }
  /* line 59, ../sass/project/_page-all-about.scss */
  .menu__content ul {
    max-width: 1290px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto; }
    /* line 66, ../sass/project/_page-all-about.scss */
    .menu__content ul li.active--1 {
      background: #000000; }
      /* line 68, ../sass/project/_page-all-about.scss */
      .menu__content ul li.active--1 a {
        color: #ffffff; }
      @media (min-width: 320px) and (max-width: 839.98px) {
        /* line 66, ../sass/project/_page-all-about.scss */
        .menu__content ul li.active--1 {
          background-color: #333333;
          border-bottom: 1px solid #454545; } }
    /* line 77, ../sass/project/_page-all-about.scss */
    .menu__content ul li:hover {
      background-color: #000000; }
    /* line 80, ../sass/project/_page-all-about.scss */
    .menu__content ul li a {
      font-family: 'BebasNeue', sans-serif;
      display: block;
      padding: 5px;
      font-size: 20px;
      color: #000000;
      width: 100%; }
      @media (min-width: 576px) and (max-width: 767.98px) {
        /* line 80, ../sass/project/_page-all-about.scss */
        .menu__content ul li a {
          font-size: 18px; } }
      @media (min-width: 425px) and (max-width: 575.98px) {
        /* line 80, ../sass/project/_page-all-about.scss */
        .menu__content ul li a {
          font-size: 16px;
          padding: 4px; } }
      @media (min-width: 320px) and (max-width: 424.98px) {
        /* line 80, ../sass/project/_page-all-about.scss */
        .menu__content ul li a {
          font-size: 14px;
          padding: 4px; } }
      /* line 98, ../sass/project/_page-all-about.scss */
      .menu__content ul li a:hover {
        color: #ffffff; }

/* line 106, ../sass/project/_page-all-about.scss */
.main {
  width: 100%;
  margin: 0 auto;
  position: relative; }

/* line 111, ../sass/project/_page-all-about.scss */
.place-map__inner {
  background: #dbebf2;
  max-width: 1900px;
  margin: auto; }

/* line 116, ../sass/project/_page-all-about.scss */
.place-map-top {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  -webkit-background-size: auto;
  background-size: auto;
  z-index: 1; }

/* line 126, ../sass/project/_page-all-about.scss */
.place-map {
  background-position: 85% 0;
  background-size: auto;
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  z-index: -1;
  padding-top: 55.58824%;
  background: transparent url(../images/map_01@2x.png) center center no-repeat;
  background-image: -webkit-linear-gradient(transparent, transparent), url(../images/map_01.svg);
  background-image: linear-gradient(transparent, transparent), url(../images/map_01.svg); }

/* line 139, ../sass/project/_page-all-about.scss */
.place-inner {
  padding-bottom: 26.47059%;
  z-index: 20;
  display: block; }

/* line 144, ../sass/project/_page-all-about.scss */
.place-content {
  margin: 0 auto;
  padding-top: 5.88235%;
  width: 100%;
  max-width: 700px; }

/* line 150, ../sass/project/_page-all-about.scss */
.inner {
  width: 100%;
  max-width: 1316px;
  position: relative;
  margin: 0 auto;
  padding: 0 13px;
  box-sizing: border-box; }

/* line 158, ../sass/project/_page-all-about.scss */
.circle {
  position: relative;
  width: 45.1938%;
  margin: -7.14286% auto 0;
  background-color: transparent;
  color: #333; }
  /* line 164, ../sass/project/_page-all-about.scss */
  .circle:before {
    display: block;
    padding-bottom: 71.47766%;
    width: 71.47766%;
    height: 0;
    content: "";
    position: absolute;
    right: -52.06186%;
    top: -27.14777%;
    z-index: 1000;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    background-color: #ffffff !important;
    background: transparent url(../images/map_02@2x.png) center center no-repeat;
    background-image: -webkit-linear-gradient(transparent, transparent), url(../images/map_02.svg);
    background-image: linear-gradient(transparent, transparent), url(../images/map_02.svg);
    background-size: 66%;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-sizing: border-box; }
  /* line 185, ../sass/project/_page-all-about.scss */
  .circle:after {
    display: block;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    content: "";
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #ffffff; }

/* line 196, ../sass/project/_page-all-about.scss */
.circle-inner {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%; }

/* line 202, ../sass/project/_page-all-about.scss */
.circle-content {
  display: table;
  width: 100%;
  height: 100%; }
  /* line 206, ../sass/project/_page-all-about.scss */
  .circle-content div {
    display: table-cell;
    vertical-align: middle; }

/* line 211, ../sass/project/_page-all-about.scss */
.show-pc {
  display: block !important; }

/* line 219, ../sass/project/_page-all-about.scss */
.title {
  font-size: 40px;
  line-height: calc(30 / 40);
  font-weight: bold;
  text-align: center;
  padding-top: 17.6%; }

/* line 226, ../sass/project/_page-all-about.scss */
.sup__title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding-top: 3%; }

/* line 234, ../sass/project/_page-all-about.scss */
.section__txt p {
  text-align: left; }
  /* line 236, ../sass/project/_page-all-about.scss */
  .section__txt p:nth-child(1) {
    padding-top: 4%; }
  /* line 239, ../sass/project/_page-all-about.scss */
  .section__txt p:nth-child(2) {
    padding-top: 5%; }
