/* line 1, styles.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 6, styles.scss */
body {
  font-family: Lato;
  font-size: 18px;
  line-height: 24px;
  color: #2B2F33; }

/* line 12, styles.scss */
ul, li {
  list-style-type: none !important; }

/* line 15, styles.scss */
a {
  text-decoration: none; }

@font-face {
  font-family: Lato;
  src: url("./font/Lato-Regular.ttf");
  font-weight: normal; }
/* line 23, styles.scss */
.inner {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }

/* line 28, styles.scss */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  border-bottom: 1px solid #d3d3d3; }
  @media (max-width: 991px) {
    /* line 28, styles.scss */
    header {
      border-bottom: 1px solid #e7e7e7;
      position: relative; } }
  /* line 41, styles.scss */
  header .hubstaff-navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }
    /* line 47, styles.scss */
    header .hubstaff-navbar .hubstaff-title {
      display: flex;
      align-items: center; }
      /* line 50, styles.scss */
      header .hubstaff-navbar .hubstaff-title img {
        width: 111px;
        height: 24px;
        vertical-align: middle; }
    /* line 56, styles.scss */
    header .hubstaff-navbar .navbar-collapse {
      align-self: stretch;
      flex: 1;
      padding-right: 15px;
      padding-left: 15px;
      transition: all 0.5s; }
      @media (min-width: 992px) {
        /* line 56, styles.scss */
        header .hubstaff-navbar .navbar-collapse {
          display: block !important;
          height: auto !important;
          padding-bottom: 0;
          overflow: visible;
          width: auto;
          border-top: 0;
          box-shadow: none; } }
      @media (max-width: 991px) {
        /* line 56, styles.scss */
        header .hubstaff-navbar .navbar-collapse {
          display: none;
          z-index: 778;
          padding: 12.5px 0;
          border: none;
          box-shadow: none;
          position: absolute;
          top: 71px;
          left: 0;
          right: 0;
          background-color: #fff;
          overscroll-behavior: contain;
          overflow-y: auto;
          overflow-x: visible; } }
      /* line 87, styles.scss */
      header .hubstaff-navbar .navbar-collapse .hs-navbar-nav {
        display: flex;
        align-items: stretch;
        list-style: none;
        margin: 0;
        padding: 0; }
        @media (min-width: 992px) {
          /* line 87, styles.scss */
          header .hubstaff-navbar .navbar-collapse .hs-navbar-nav {
            height: 100%; } }
        @media (max-width: 991px) {
          /* line 87, styles.scss */
          header .hubstaff-navbar .navbar-collapse .hs-navbar-nav {
            flex-direction: column;
            overflow: auto; } }
        /* line 100, styles.scss */
        header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown {
          display: flex;
          flex-direction: row;
          height: 100%;
          background: white; }
          @media (max-width: 991px) {
            /* line 100, styles.scss */
            header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown {
              flex-direction: column;
              width: 100%; } }
          @media (min-width: 992px) {
            /* line 111, styles.scss */
            header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown:hover .dropdown-menu {
              display: flex;
              transform: rotateX(0deg);
              opacity: 1;
              pointer-events: all;
              visibility: visible; } }
          /* line 121, styles.scss */
          header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown .dropdown-toggle {
            display: flex;
            align-items: center;
            margin: auto;
            height: 100%;
            color: #000;
            transition: .3s ease-in-out; }
            @media (min-width: 992px) {
              /* line 128, styles.scss */
              header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown .dropdown-toggle:hover {
                color: #1F95FF; }
                /* line 131, styles.scss */
                header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown .dropdown-toggle:hover i {
                  transform: rotate(180deg); } }
            @media (min-width: 992px) {
              /* line 121, styles.scss */
              header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown .dropdown-toggle {
                padding: 0 10px; } }
          /* line 141, styles.scss */
          header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown ul.dropdown-menu {
            background: white;
            margin: 0;
            border-radius: 0;
            border: none;
            flex-direction: column;
            flex-wrap: nowrap;
            box-shadow: none;
            z-index: 1;
            left: 0;
            font-size: 14px;
            text-align: left; }
            @media (min-width: 992px) {
              /* line 141, styles.scss */
              header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown ul.dropdown-menu {
                position: absolute !important;
                box-shadow: 0 6px 15px 5px rgba(0, 0, 0, 0.1) !important;
                pointer-events: none;
                opacity: 0;
                will-change: transform, opacity;
                transform-origin: 50% -50px;
                transform: rotateX(-30deg);
                transition: transform 0.5s, opacity 0.3s;
                top: 60px;
                min-width: 260px; } }
            @media (max-width: 991px) {
              /* line 141, styles.scss */
              header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown ul.dropdown-menu {
                display: none; } }
            /* line 171, styles.scss */
            header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown ul.dropdown-menu:hover {
              opacity: 1; }
            @media (min-width: 992px) {
              /* line 176, styles.scss */
              header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown ul.dropdown-menu li:first-child a {
                position: relative; } }
            @media (min-width: 992px) {
              /* line 180, styles.scss */
              header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown ul.dropdown-menu li:first-child a:before {
                content: '';
                display: block;
                top: -10px;
                height: 20px;
                width: 20px;
                position: absolute;
                pointer-events: none;
                background-color: #fff;
                z-index: -1;
                transform: rotate(45deg);
                -webkit-box-shadow: -2px -2px 2px 0px rgba(0, 0, 0, 0.035);
                box-shadow: -2px -2px 2px 0px rgba(0, 0, 0, 0.035); } }
            /* line 198, styles.scss */
            header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown ul.dropdown-menu li a {
              background-color: #fff !important;
              padding: 10px 30px;
              font-size: 13px;
              color: #253F53;
              display: block; }
              /* line 205, styles.scss */
              header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown ul.dropdown-menu li a img {
                max-width: 100%;
                height: 24px; }
          @media (max-width: 991px) {
            /* line 212, styles.scss */
            header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown ul.dropdown-menu.active {
              display: block; } }
          @media (min-width: 992px) {
            /* line 217, styles.scss */
            header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown ul.product-dropdown-menu > li {
              min-width: 255px; } }
          /* line 222, styles.scss */
          header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown ul.product-dropdown-menu {
            flex-direction: row;
            padding: 30px 40px 20px; }
            @media (max-width: 991px) {
              /* line 222, styles.scss */
              header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown ul.product-dropdown-menu {
                flex-direction: column;
                padding: 0; } }
            @media (min-width: 992px) {
              /* line 231, styles.scss */
              header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown ul.product-dropdown-menu:before {
                content: '';
                display: block;
                width: 100%;
                position: absolute;
                top: -35px;
                left: 80px;
                height: 35px; } }
            /* line 242, styles.scss */
            header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown ul.product-dropdown-menu li {
              min-width: 255px; }
              /* line 246, styles.scss */
              header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown ul.product-dropdown-menu li:first-child a:before {
                top: -40px !important;
                left: 30px; }
            /* line 253, styles.scss */
            header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown ul.product-dropdown-menu .hs-product-description {
              font-size: 14px;
              color: inherit;
              padding-left: 31px;
              margin-top: 5px;
              white-space: normal; }
          @media (min-width: 992px) {
            /* line 261, styles.scss */
            header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown .hs-dropdown-menu-twocols {
              display: flex;
              flex-direction: row !important;
              flex-wrap: wrap !important;
              width: 555px; } }
          @media (min-width: 1440px) {
            /* line 261, styles.scss */
            header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown .hs-dropdown-menu-twocols {
              left: 0; } }
          /* line 272, styles.scss */
          header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown .hs-dropdown-menu-twocols li {
            width: 50%; }
            @media (max-width: 991px) {
              /* line 272, styles.scss */
              header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown .hs-dropdown-menu-twocols li {
                width: 100%; } }
          @media (min-width: 992px) {
            /* line 284, styles.scss */
            header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown .hs-dropdown-menu-twocols .all-features-link {
              border-top: 1px solid #ccc;
              font-size: 12px;
              width: 100%;
              margin-top: 30px; } }
          /* line 293, styles.scss */
          header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown .hs-dropdown-link-main {
            font-size: 16px;
            font-weight: bold; }
          /* line 297, styles.scss */
          header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown .hs-dropdown-link-description {
            font-size: 14px;
            margin-top: 5px; }
          @media (min-width: 992px) {
            /* line 301, styles.scss */
            header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown .dropdown-menu-more {
              display: flex;
              flex-direction: row !important;
              flex-wrap: wrap !important; }
              /* line 306, styles.scss */
              header .hubstaff-navbar .navbar-collapse .hs-navbar-nav .hs-navbar-dropdown .dropdown-menu-more li {
                width: 100%; } }
      /* line 314, styles.scss */
      header .hubstaff-navbar .navbar-collapse .hubstaff-nav-link {
        width: 100%;
        font-weight: 400;
        font-size: 14px;
        padding: 12px 13px;
        color: #000; }
        /* line 320, styles.scss */
        header .hubstaff-navbar .navbar-collapse .hubstaff-nav-link:hover {
          color: #1F95FF; }
      /* line 324, styles.scss */
      header .hubstaff-navbar .navbar-collapse .hs-navbar-nav > li {
        display: flex;
        align-items: stretch; }
        @media (min-width: 992px) {
          /* line 324, styles.scss */
          header .hubstaff-navbar .navbar-collapse .hs-navbar-nav > li {
            align-items: center; } }
        @media (max-width: 991px) {
          /* line 324, styles.scss */
          header .hubstaff-navbar .navbar-collapse .hs-navbar-nav > li {
            width: 100%; } }
      @media (min-width: 992px) {
        /* line 334, styles.scss */
        header .hubstaff-navbar .navbar-collapse .hs-navbar-nav > li > a {
          display: flex;
          align-items: center; } }
      /* line 340, styles.scss */
      header .hubstaff-navbar .navbar-collapse .dropdown {
        position: relative; }
      /* line 343, styles.scss */
      header .hubstaff-navbar .navbar-collapse .sign-in {
        width: 100%;
        padding: 12px 13px;
        font-size: 14px;
        margin-left: 20px;
        color: #000; }
        @media (max-width: 991px) {
          /* line 343, styles.scss */
          header .hubstaff-navbar .navbar-collapse .sign-in {
            margin-left: 0; } }
        /* line 352, styles.scss */
        header .hubstaff-navbar .navbar-collapse .sign-in:hover {
          color: #1F95FF; }
      /* line 356, styles.scss */
      header .hubstaff-navbar .navbar-collapse .mr-auto {
        margin-right: auto !important; }
    /* line 360, styles.scss */
    header .hubstaff-navbar .navbar-collapse.show__menu {
      display: block; }
    /* line 363, styles.scss */
    header .hubstaff-navbar .header-menu-btn {
      display: flex;
      align-items: center; }
      @media (min-width: 992px) {
        /* line 363, styles.scss */
        header .hubstaff-navbar .header-menu-btn {
          display: none; } }
    /* line 370, styles.scss */
    header .hubstaff-navbar .header-btn {
      width: 100%;
      color: #fff;
      background-color: #0CDFA3;
      border-color: #0CDFA3;
      padding: 8px 17px;
      border: 2px solid transparent;
      font-size: 14px;
      font-weight: 700;
      display: inline-block;
      text-align: center;
      line-height: 1.42857;
      border-radius: 2px; }
      /* line 383, styles.scss */
      header .hubstaff-navbar .header-btn:hover {
        background-color: blue; }
    @media (max-width: 992px) {
      /* line 387, styles.scss */
      header .hubstaff-navbar .hide-sp {
        display: none; } }
    /* line 392, styles.scss */
    header .hubstaff-navbar .main-menu {
      margin-left: 20px; }
      /* line 394, styles.scss */
      header .hubstaff-navbar .main-menu .menu__btn {
        position: relative;
        width: 35px;
        height: 25px;
        margin: 0 auto;
        transition: 0.5s ease-in-out;
        cursor: pointer; }
        /* line 402, styles.scss */
        header .hubstaff-navbar .main-menu .menu__btn div {
          position: absolute;
          display: block;
          width: 100%;
          padding: 1.5px 0;
          background: #333333;
          left: 0;
          transition: 0.25s ease-in-out;
          border: none;
          outline: none; }
          /* line 412, styles.scss */
          header .hubstaff-navbar .main-menu .menu__btn div:nth-child(1) {
            top: 0px; }
          /* line 415, styles.scss */
          header .hubstaff-navbar .main-menu .menu__btn div:nth-child(2) {
            top: 10px; }
          /* line 418, styles.scss */
          header .hubstaff-navbar .main-menu .menu__btn div:nth-child(3) {
            top: 10px; }
          /* line 421, styles.scss */
          header .hubstaff-navbar .main-menu .menu__btn div:nth-child(4) {
            padding: 1.7px 0;
            top: 20px; }
        /* line 427, styles.scss */
        header .hubstaff-navbar .main-menu .menu__btn.show__menu div {
          height: 2px !important; }
          /* line 430, styles.scss */
          header .hubstaff-navbar .main-menu .menu__btn.show__menu div:nth-child(1) {
            top: 18px;
            width: 0%;
            left: 50%; }
          /* line 435, styles.scss */
          header .hubstaff-navbar .main-menu .menu__btn.show__menu div:nth-child(2) {
            transform: rotate(45deg); }
          /* line 438, styles.scss */
          header .hubstaff-navbar .main-menu .menu__btn.show__menu div:nth-child(3) {
            transform: rotate(-45deg); }
          /* line 441, styles.scss */
          header .hubstaff-navbar .main-menu .menu__btn.show__menu div:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%; }
