*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: black;
}

.content {
    background: #292728;
    border-bottom: 1px dashed white;
    width: 1100px;
    padding: 10px 0;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.news {
    padding: 12px;
    width: 85%;
}

a {
    text-decoration: none;
}

/* Daily news */
.daily-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #ffffff url(../images/confidential-logo.gif) no-repeat bottom left;
    padding-bottom: 35px;
}

.box {width: 50%;}

.box.border-right {
    border-right: 1px dotted black;
}

.title-news {
    background: url(../images/title-news.gif);
    height: 26px;
    color: white;
    font-size: 17.5px;
    font-weight: 500;
    padding-top: 3px;
    padding-left: 10px;
}

.image-news {padding: 10px;}

.image-news img:first-child {
    width: 100%;
    height: 175px;
}

.image-news a {
    color: black;
    font-weight: bold;
    font-size: 14px;
    float: right;
    text-transform: uppercase;
    text-decoration: none;
}

.image-news a:after {
    content: url(../images/star.jpg);
    padding-left: 3px;
    float: right;
}

.box h4 {
    font-size: 16px;
    padding: 0px 10px;
}

.box p {
    font-size: 15px;
    padding: 5px 10px;
}
/* End of daily news */

/* Movie trailer */
.movie-news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 10px;
}

.movie-news .title-news {
    background: url(../images/movie-news-title.gif);
    padding-left: 10px;
}

.box-news {
    background: white;
    margin-right: 15px;
}

.show-panel {
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#e3e4e8));
    background: linear-gradient(to bottom, #fbfbfb, #e3e4e8);
    border: none;
    border-bottom: 1px solid #bdbdbd;
    color: #0189bb;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    padding: 5px 5px 5px 9px;
    width: 100%;
}

.show-panel:after {
    content: url(../images/hide.jpg);
    float: right;
    margin-right: 6px;
}

.show-panel.active:after {
    content: url(../images/open.jpg);
}

.panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 10px;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
}

.movie-news-content b {
    font-size: 12px;
    color: #2092c5;
}

.movie-news-content b:before {
    content: url(../images/watch-now.png);
    float: left;
    margin-left: 8px;
}

.now-showing {
    padding: 5px 8px;
}

.now-showing b {
    font-size: 12px;
}

.now-showing b:before {
    content: url(../images/now-showing.gif);
    padding-right: 4px;
    float: left;
}

.now-showing select {
    width: 70%;
}
/* End of movie trailer */

/* Movie reviews */
.box.box-movie {
    background: white;
}

.list-movie h3 {
    color: #529bb4;
    font-size: 16px;
    margin-bottom: 4px;
}

h3.star-2 {
    background: url(../images/star-2.png) no-repeat right;
}

h3.star-3 {
    background: url(../images/star-3.png) no-repeat right;
}

.list-movie {
    padding: 8px;
    overflow: auto;
    border-bottom: 1px dotted #a4a4a4;
}

.list-movie p {
    float: left;
    width: 60%;
    padding: 0 0 0 10px!important;
}

.list-movie b {
    color: #2092c5;
    font-size: 12px;
}

.list-movie b:before {
    content: url(../images/watch-now.png);
    float: left;
}

.image-movie {
    float: left;
    width: 30%;
}

span {
    padding-top: 4px;
    font-size: 12px;
    float: right;
    color: black;
}

.local-list {
    padding: 10px;
}

.local-list b {
    color: #2092c5;
    font-size: 12px;
}

.local-list b:before {
    content: url(../images/local-list.jpg);
    float: left;
}
/* End of movie reviews */

/* Footer */
.footer {
    text-align: center;
    width: 1100px;
    margin: 0 auto;
}

ul.footer-1 {
    background: #292728;
    list-style-type: none;
    text-align: center;
    padding: 12px 0px;
}

ul.footer-1 li {
    display: inline-block;
    margin-right: 70px;
}

ul.footer-1 li a {
    display: block;
    color: white;
    font-size: 14px;
}

ul.footer-1 li a img {
    display: block;
    margin: 0 auto;
}

.footer-2 {
    background: white;
    color: #2196F3;
    padding: 10px;
}

.link-web a {
    font-size: 12px;
    color: #398fda;
}

.copyright {
    color: #398fda;
    font-size: 14px;
    margin-top: 4px;
}

a.back-to-top {
    float: right;
}
/* End of footer */

/* Search */
.search input[type="text"] {
    margin-left: 15px;
    font-size: 16px;
    width: 140px;
}

.search input[type="submit"] {
    color: white;
    cursor: pointer;
    font-weight: bold;
    background: #a8407d;
    border: none;
    border-radius: 2px;
    padding: 3px;
}
/* End of search */
