@font-face {
  font-family: 'hirakakupro';
  font-style: normal;
  src: local("hirakakupro"), url("../font/hirakakupro-w3-opentype_bigfontsite.com.otf"); }
@font-face {
  font-family: 'Gyosho';
  font-style: normal;
  src: local("Gyosho"), url("../font/Gyosho.ttf"); }
/* line 11, ../sass/foundation/_mixins.scss */
.banner__content--1, .banner__content--2 {
  position: relative;
  width: 100%;
  padding-bottom: 27.5%; }
  @media (max-width: 639.98px) {
    /* line 11, ../sass/foundation/_mixins.scss */
    .banner__content--1, .banner__content--2 {
      display: none; } }
  /* line 18, ../sass/foundation/_mixins.scss */
  .banner__content--1 img, .banner__content--2 img {
    width: 100%;
    height: auto; }

/* line 2, ../sass/foundation/_base.scss */
* {
  margin: 0;
  padding: 0; }

/* line 6, ../sass/foundation/_base.scss */
body {
  max-width: 1200px;
  margin: 0 auto; }

/* line 10, ../sass/foundation/_base.scss */
ul {
  list-style-type: none; }

/* line 13, ../sass/foundation/_base.scss */
a {
  text-decoration: none; }

/* line 16, ../sass/foundation/_base.scss */
.fsize-22 {
  font-size: 22px; }

/* line 19, ../sass/foundation/_base.scss */
.fsize-13 {
  font-size: 13px !important; }
  @media (min-width: 640px) {
    /* line 19, ../sass/foundation/_base.scss */
    .fsize-13 {
      padding: 10px !important;
      width: calc(100% - 20px) !important; } }

@media (min-width: 640px) {
  /* line 26, ../sass/foundation/_base.scss */
  .pt-20 {
    padding-top: 20px; } }

@media (max-width: 639.98px) {
  /* line 31, ../sass/foundation/_base.scss */
  .pt-10 {
    padding-top: 10px !important; } }

@media (min-width: 640px) {
  /* line 36, ../sass/foundation/_base.scss */
  .ml-20 {
    margin-left: 20px; } }

@media (min-width: 640px) {
  /* line 41, ../sass/foundation/_base.scss */
  .mr-20 {
    margin-right: 20px; } }

@media (max-width: 990.98px) {
  /* line 46, ../sass/foundation/_base.scss */
  .img-pc {
    display: none; } }

@media (min-width: 991px) {
  /* line 51, ../sass/foundation/_base.scss */
  .img-tb {
    display: none; } }

/* line 56, ../sass/foundation/_base.scss */
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center; }

/* line 1, ../sass/layout/_layout.scss */
.group__main {
  background: url(../images/group-bg.png);
  max-width: 1200px; }

/* line 5, ../sass/layout/_layout.scss */
.group__inner {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

/* line 12, ../sass/layout/_layout.scss */
.inner__content {
  display: flex;
  padding: 56px 0 80px 0; }
  @media (max-width: 639.98px) {
    /* line 12, ../sass/layout/_layout.scss */
    .inner__content {
      flex-direction: column;
      padding: 0 0 40px 0; } }
  @media (min-width: 640px) and (max-width: 990.98px) {
    /* line 12, ../sass/layout/_layout.scss */
    .inner__content {
      padding: 28px 0 40px 0; } }

/* line 23, ../sass/layout/_layout.scss */
.group__left {
  width: 29%;
  background: #78D020;
  background-image: url(../images/icon02.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  font-family: Helvetica; }
  @media (max-width: 639.98px) {
    /* line 23, ../sass/layout/_layout.scss */
    .group__left {
      display: flex;
      width: 100%;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center; } }

@media (max-width: 639.98px) {
  /* line 38, ../sass/layout/_layout.scss */
  .group__title {
    margin-left: 10px; } }
/* line 42, ../sass/layout/_layout.scss */
.group__title p {
  color: #FFF; }
  /* line 44, ../sass/layout/_layout.scss */
  .group__title p:nth-child(1) {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding-top: 70px; }
    @media (max-width: 990.98px) {
      /* line 44, ../sass/layout/_layout.scss */
      .group__title p:nth-child(1) {
        padding-top: 35px; } }
  /* line 53, ../sass/layout/_layout.scss */
  .group__title p:nth-child(2) {
    font-size: 13px;
    padding: 15px 0 40px 0;
    text-align: center; }
    @media (max-width: 639.98px) {
      /* line 53, ../sass/layout/_layout.scss */
      .group__title p:nth-child(2) {
        padding: 2px 0 40px 0; } }
    @media (min-width: 640px) and (max-width: 990.98px) {
      /* line 53, ../sass/layout/_layout.scss */
      .group__title p:nth-child(2) {
        padding: 7.5px 0 20px 0; } }

/* line 66, ../sass/layout/_layout.scss */
.group__text {
  color: #FFF;
  padding: 42px 30px 0 30px;
  font-family: hirakakupro; }
  @media (max-width: 639.98px) {
    /* line 66, ../sass/layout/_layout.scss */
    .group__text {
      display: none; } }
  @media (min-width: 640px) and (max-width: 990.98px) {
    /* line 66, ../sass/layout/_layout.scss */
    .group__text {
      padding: 0 15px 15px 15px;
      margin-top: 21px; } }
  @media (min-width: 640px) and (max-width: 770.98px) {
    /* line 66, ../sass/layout/_layout.scss */
    .group__text {
      height: 100px;
      overflow-x: auto; } }

/* line 82, ../sass/layout/_layout.scss */
.group__right {
  width: calc(100% - 29% - 20px);
  font-family: hirakakupro; }
  @media (max-width: 639.98px) {
    /* line 82, ../sass/layout/_layout.scss */
    .group__right {
      width: 100%; } }
  /* line 88, ../sass/layout/_layout.scss */
  .group__right img {
    width: 100%;
    height: 100%; }
  /* line 92, ../sass/layout/_layout.scss */
  .group__right p {
    position: absolute;
    bottom: 0px;
    background-color: rgba(51, 51, 51, 0.7);
    color: #ffffff;
    width: calc(100% - 40px);
    font-size: 20px;
    padding: 20px;
    background-image: url(../images/icon02.png);
    background-repeat: no-repeat;
    background-position: bottom right; }
    @media (max-width: 639.98px) {
      /* line 92, ../sass/layout/_layout.scss */
      .group__right p {
        width: calc(100% - 50px);
        padding: 10px;
        bottom: 6px;
        font-size: 16px; } }
    @media (min-width: 640px) and (max-width: 990.98px) {
      /* line 92, ../sass/layout/_layout.scss */
      .group__right p {
        padding: 15px 20px 15px 20px; } }

/* line 114, ../sass/layout/_layout.scss */
.group__item__top {
  display: flex; }
  @media (max-width: 639.98px) {
    /* line 114, ../sass/layout/_layout.scss */
    .group__item__top {
      flex-direction: column; } }

/* line 120, ../sass/layout/_layout.scss */
.item__top__left {
  position: relative;
  width: 48.55%; }
  @media (max-width: 639.98px) {
    /* line 120, ../sass/layout/_layout.scss */
    .item__top__left {
      width: calc(100% - 30px);
      padding: 25px 15px 0 15px; } }

/* line 128, ../sass/layout/_layout.scss */
.item__top__right {
  position: relative;
  width: calc(100% - 48.55% - 20px);
  margin-left: 20px; }
  @media (max-width: 639.98px) {
    /* line 128, ../sass/layout/_layout.scss */
    .item__top__right {
      width: calc(100% - 30px);
      padding: 10px 15px 0 15px;
      margin-left: 0; } }

/* line 138, ../sass/layout/_layout.scss */
.group__item__bot {
  position: relative;
  margin-top: 16px; }
  @media (max-width: 639.98px) {
    /* line 138, ../sass/layout/_layout.scss */
    .group__item__bot {
      padding: 0 15px 0 15px;
      margin-top: 10px; } }

/* line 146, ../sass/layout/_layout.scss */
.group__icon {
  display: flex;
  justify-content: center; }

@media (max-width: 639.98px) {
  /* line 150, ../sass/layout/_layout.scss */
  .item__pc {
    display: none; } }

@media (min-width: 640px) {
  /* line 155, ../sass/layout/_layout.scss */
  .item__sp {
    display: none; } }

/* line 161, ../sass/layout/_layout.scss */
.banner__content--1 {
  background: url(../images/img06.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; }
/* line 167, ../sass/layout/_layout.scss */
.banner__content--2 {
  background: url(../images/img14.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; }

/* line 174, ../sass/layout/_layout.scss */
.banner__text {
  cursor: pointer;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%); }
  /* line 180, ../sass/layout/_layout.scss */
  .banner__text p {
    font-size: 25px;
    color: #FFF;
    font-weight: bold;
    text-align: center; }
    @media (min-width: 640px) and (max-width: 990.98px) {
      /* line 180, ../sass/layout/_layout.scss */
      .banner__text p {
        font-size: 22px; } }

@media (max-width: 639.98px) {
  /* line 190, ../sass/layout/_layout.scss */
  .group__entry {
    display: none; } }
/* line 194, ../sass/layout/_layout.scss */
.group__entry p {
  text-align: center;
  font-size: 13px; }
  /* line 197, ../sass/layout/_layout.scss */
  .group__entry p:nth-child(1) {
    font-size: 22px !important;
    color: #F85050;
    font-weight: bold;
    padding-top: 72px; }
  /* line 203, ../sass/layout/_layout.scss */
  .group__entry p:nth-child(2) {
    color: #F85050;
    padding: 20px 0 48px 0; }
  /* line 207, ../sass/layout/_layout.scss */
  .group__entry p:nth-child(4) {
    padding-top: 50px; }
  /* line 210, ../sass/layout/_layout.scss */
  .group__entry p:nth-child(5) {
    padding-bottom: 50px; }
/* line 214, ../sass/layout/_layout.scss */
.group__entry .img__entry {
  display: flex;
  justify-content: center; }

/* line 219, ../sass/layout/_layout.scss */
.group__work {
  background: none !important; }
  @media (min-width: 640px) {
    /* line 221, ../sass/layout/_layout.scss */
    .group__work .group__inner {
      flex-direction: row-reverse; } }
  /* line 225, ../sass/layout/_layout.scss */
  .group__work .group__inner .group__left {
    background-color: #007EFF; }

@media (min-width: 640px) and (max-width: 990.98px) {
  /* line 231, ../sass/layout/_layout.scss */
  .group__interview .group__inner {
    flex-direction: column; } }
/* line 235, ../sass/layout/_layout.scss */
.group__interview .group__inner .group__left {
  background-color: #FFC000; }
  @media (min-width: 640px) and (max-width: 990.98px) {
    /* line 235, ../sass/layout/_layout.scss */
    .group__interview .group__inner .group__left {
      width: 100%; } }
@media (min-width: 640px) and (max-width: 990.98px) {
  /* line 241, ../sass/layout/_layout.scss */
  .group__interview .group__inner .group__right {
    width: 100%;
    margin-left: 0 !important;
    margin-top: 20px; } }

/* Header
----------------------------------------------------------------- */
/* line 5, ../sass/layout/_header.scss */
header {
  background: url(../images/bg-top.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding-bottom: 49.833%; }
  @media (max-width: 639.98px) {
    /* line 5, ../sass/layout/_header.scss */
    header {
      background: url(../images/bg-top-sp.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding-bottom: 158.41%;
      justify-content: center; } }
  @media (max-width: 990.98px) {
    /* line 5, ../sass/layout/_header.scss */
    header {
      position: relative;
      display: flex;
      align-items: center; } }
  /* line 23, ../sass/layout/_header.scss */
  header p {
    font-family: Helvetica;
    color: #FFF; }
    /* line 26, ../sass/layout/_header.scss */
    header p:nth-child(1), header p:nth-child(4) {
      font-size: 80px;
      font-weight: bold; }
      @media (min-width: 640px) and (max-width: 990.98px) {
        /* line 26, ../sass/layout/_header.scss */
        header p:nth-child(1), header p:nth-child(4) {
          font-size: 60px; } }
    /* line 34, ../sass/layout/_header.scss */
    header p:nth-child(2) {
      font-size: 28px;
      font-weight: bold; }
      @media (min-width: 640px) and (max-width: 990.98px) {
        /* line 34, ../sass/layout/_header.scss */
        header p:nth-child(2) {
          font-size: 22px; } }
    /* line 41, ../sass/layout/_header.scss */
    header p:nth-child(5), header p:nth-child(6) {
      font-size: 22px; }
      @media (min-width: 640px) and (max-width: 990.98px) {
        /* line 41, ../sass/layout/_header.scss */
        header p:nth-child(5), header p:nth-child(6) {
          font-size: 15px; } }

/* line 50, ../sass/layout/_header.scss */
.header__text {
  position: absolute;
  top: 78px;
  padding-left: 100px; }
  @media (min-width: 320px) and (max-width: 990.98px) {
    /* line 50, ../sass/layout/_header.scss */
    .header__text {
      top: 50%;
      transform: translateY(-50%);
      padding-left: 0; } }
  @media (min-width: 640px) and (max-width: 990.98px) {
    /* line 50, ../sass/layout/_header.scss */
    .header__text {
      padding-left: 100px; } }

/* line 63, ../sass/layout/_header.scss */
.header__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; }
  /* line 68, ../sass/layout/_header.scss */
  .header__img img {
    width: 40px;
    height: 40px; }

/* line 2, ../sass/layout/_gnav.scss */
.navbar {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  min-height: 51px; }
  /* line 11, ../sass/layout/_gnav.scss */
  .navbar .logo img {
    width: 100%;
    height: auto; }
  @media (max-width: 768px) {
    /* line 16, ../sass/layout/_gnav.scss */
    .navbar .logo {
      padding: 8px 3px 7px 15px; } }
  @media (max-width: 768px) {
    /* line 25, ../sass/layout/_gnav.scss */
    .navbar .navbar-colspan {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      display: none;
      background-color: #FFF;
      z-index: 9;
      margin-right: 0; } }
  /* line 37, ../sass/layout/_gnav.scss */
  .navbar .menu {
    display: flex; }
    /* line 40, ../sass/layout/_gnav.scss */
    .navbar .menu li:hover {
      background-color: #F85050; }
      /* line 42, ../sass/layout/_gnav.scss */
      .navbar .menu li:hover a {
        color: #FFF; }
    /* line 48, ../sass/layout/_gnav.scss */
    .navbar .menu a {
      padding: 24.5px 21px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: #3A3A3A;
      font-size: 13px; }
    /* line 57, ../sass/layout/_gnav.scss */
    .navbar .menu p {
      font-family: "Helvetica"; }
  @media (max-width: 768px) {
    /* line 64, ../sass/layout/_gnav.scss */
    .navbar .menu {
      flex-direction: column; }
      /* line 66, ../sass/layout/_gnav.scss */
      .navbar .menu li {
        border-top: 1px solid #BCBCBC; }
        /* line 68, ../sass/layout/_gnav.scss */
        .navbar .menu li:last-child {
          border-bottom: 1px solid #BCBCBC; }
      /* line 72, ../sass/layout/_gnav.scss */
      .navbar .menu a {
        padding: 14px 21px; } }
  /* line 78, ../sass/layout/_gnav.scss */
  .navbar .navbar-togger {
    display: none; }
    /* line 80, ../sass/layout/_gnav.scss */
    .navbar .navbar-togger .bar1, .navbar .navbar-togger .bar2, .navbar .navbar-togger .bar3 {
      width: 38px;
      height: 3px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s; }
    /* line 87, ../sass/layout/_gnav.scss */
    .navbar .navbar-togger span {
      font-size: 13px; }
  /* line 94, ../sass/layout/_gnav.scss */
  .navbar .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 7px);
    transform: rotate(-45deg) translate(-8px, 7px); }
  /* line 98, ../sass/layout/_gnav.scss */
  .navbar .change .bar2 {
    opacity: 0; }
  /* line 99, ../sass/layout/_gnav.scss */
  .navbar .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-5px, -5px); }
  /* line 103, ../sass/layout/_gnav.scss */
  .navbar .change span {
    display: none; }
  @media (max-width: 768px) {
    /* line 109, ../sass/layout/_gnav.scss */
    .navbar .navbar-togger {
      display: block;
      margin-right: 15px; } }
  /* line 115, ../sass/layout/_gnav.scss */
  .navbar .active {
    background-color: #F85050;
    color: #FFF !important; }

/* line 3, ../sass/layout/_footer.scss */
footer {
  position: relative;
  background-color: #ECECEC; }
  /* line 6, ../sass/layout/_footer.scss */
  footer .navbar.navbar-footer {
    padding-right: calc(100 / 1200 * 100%); }
    /* line 9, ../sass/layout/_footer.scss */
    footer .navbar.navbar-footer .menu a {
      position: relative;
      padding: 22px 15px; }
      /* line 12, ../sass/layout/_footer.scss */
      footer .navbar.navbar-footer .menu a:before {
        content: "";
        position: absolute;
        left: 0;
        width: 1px;
        height: 50%;
        background-color: #BCBCBC; }
      /* line 21, ../sass/layout/_footer.scss */
      footer .navbar.navbar-footer .menu a span:first-child {
        height: 20px; }
    /* line 28, ../sass/layout/_footer.scss */
    footer .navbar.navbar-footer .menu li:last-child a {
      background-color: #F85050;
      color: #FFF;
      align-items: center; }
      /* line 32, ../sass/layout/_footer.scss */
      footer .navbar.navbar-footer .menu li:last-child a:after {
        content: "";
        position: absolute;
        right: 0;
        width: 1px;
        height: 50%;
        background-color: #BCBCBC; }
  @media (max-width: 768px) {
    /* line 47, ../sass/layout/_footer.scss */
    footer .navbar.navbar-footer {
      height: auto;
      flex-direction: column;
      padding-right: 0; }
      /* line 51, ../sass/layout/_footer.scss */
      footer .navbar.navbar-footer .logo {
        padding: 2.1% 0; }
      /* line 54, ../sass/layout/_footer.scss */
      footer .navbar.navbar-footer .menu {
        width: 100%;
        margin-left: 0; }
        /* line 57, ../sass/layout/_footer.scss */
        footer .navbar.navbar-footer .menu a {
          padding: 2.9% 15px;
          align-items: flex-start; }
          /* line 60, ../sass/layout/_footer.scss */
          footer .navbar.navbar-footer .menu a::before {
            content: none; }
          /* line 63, ../sass/layout/_footer.scss */
          footer .navbar.navbar-footer .menu a::after {
            content: "";
            position: absolute;
            right: 15px;
            width: 8px;
            height: 14px;
            background: url(../images/icon01.png) no-repeat; }
          /* line 72, ../sass/layout/_footer.scss */
          footer .navbar.navbar-footer .menu a span:first-child {
            display: none; }
        /* line 80, ../sass/layout/_footer.scss */
        footer .navbar.navbar-footer .menu li:hover a::after {
          background: none; }
        /* line 86, ../sass/layout/_footer.scss */
        footer .navbar.navbar-footer .menu li:last-child:hover {
          background: none; }
        /* line 89, ../sass/layout/_footer.scss */
        footer .navbar.navbar-footer .menu li:last-child a {
          margin: 15px; }
          /* line 91, ../sass/layout/_footer.scss */
          footer .navbar.navbar-footer .menu li:last-child a::after {
            content: none; } }
  /* line 103, ../sass/layout/_footer.scss */
  footer .copyright {
    background-color: #3A3A3A;
    color: #FFF;
    padding: 33.3px 0;
    text-align: center; }
  @media (max-width: 768px) {
    /* line 111, ../sass/layout/_footer.scss */
    footer .copyright {
      padding: 4% 0; } }
  /* line 116, ../sass/layout/_footer.scss */
  footer .js-page-top {
    position: absolute;
    top: -80px;
    right: 30px;
    cursor: pointer; }

/**
 * Icons
**/
/* line 6, ../sass/component/_icon.scss */
.icon__company, .icon__work, .icon__interview, .icon__entry, .icon__requirement {
  height: 44px;
  font-family: "hirakakupro"; }

/**
 * Button
 */
/* line 5, ../sass/component/_btn.scss */
.group__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px; }
  /* line 10, ../sass/component/_btn.scss */
  .group__btn .btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17.83%;
    padding: 25px 0; }
    @media (min-width: 640px) and (max-width: 990.98px) {
      /* line 10, ../sass/component/_btn.scss */
      .group__btn .btn {
        width: 24%; } }
  /* line 21, ../sass/component/_btn.scss */
  .group__btn .btn--1 {
    background-color: #DF7F80;
    color: #FFF; }
    /* line 24, ../sass/component/_btn.scss */
    .group__btn .btn--1:hover {
      background-color: #994D58; }
  /* line 28, ../sass/component/_btn.scss */
  .group__btn .btn--2 {
    background-color: #F85050;
    color: #FFF;
    margin-left: 20px; }
    /* line 32, ../sass/component/_btn.scss */
    .group__btn .btn--2:hover {
      background-color: #AB1F33; }

/**
 * Page-system
 */
/* line 6, ../sass/project/_page-entry.scss */
.entry-content .inner__left, .entry-content .inner__right {
  padding-bottom: 11%;
  width: calc(100% / 2 - 90px);
  color: #FFF;
  padding-left: 4%;
  padding-right: 4%;
  line-height: 1.7;
  padding-top: 3.2%; }
  /* line 14, ../sass/project/_page-entry.scss */
  .entry-content .inner__left h2, .entry-content .inner__right h2 {
    color: #FA9B9B;
    padding-bottom: 14px;
    text-align: center; }
    /* line 35, ../sass/foundation/_mixins.scss */
    .entry-content .inner__left h2, .entry-content .inner__right h2 {
      font-size: 16px; }
      @media screen and (min-width: 320px) {
        /* line 35, ../sass/foundation/_mixins.scss */
        .entry-content .inner__left h2, .entry-content .inner__right h2 {
          font-size: calc(16px + 8 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        /* line 35, ../sass/foundation/_mixins.scss */
        .entry-content .inner__left h2, .entry-content .inner__right h2 {
          font-size: 24px; } }
  /* line 20, ../sass/project/_page-entry.scss */
  .entry-content .inner__left span, .entry-content .inner__right span {
    font-family: "hirakakupro";
    font-weight: bold; }
    /* line 35, ../sass/foundation/_mixins.scss */
    .entry-content .inner__left span, .entry-content .inner__right span {
      font-size: 13px; }
      @media screen and (min-width: 320px) {
        /* line 35, ../sass/foundation/_mixins.scss */
        .entry-content .inner__left span, .entry-content .inner__right span {
          font-size: calc(13px + 3 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        /* line 35, ../sass/foundation/_mixins.scss */
        .entry-content .inner__left span, .entry-content .inner__right span {
          font-size: 16px; } }
  /* line 25, ../sass/project/_page-entry.scss */
  .entry-content .inner__left ul, .entry-content .inner__right ul {
    margin-bottom: 10px; }
  /* line 28, ../sass/project/_page-entry.scss */
  .entry-content .inner__left li, .entry-content .inner__right li {
    margin-left: 20px;
    list-style-type: disc; }
    /* line 35, ../sass/foundation/_mixins.scss */
    .entry-content .inner__left li, .entry-content .inner__right li {
      font-size: 12px; }
      @media screen and (min-width: 320px) {
        /* line 35, ../sass/foundation/_mixins.scss */
        .entry-content .inner__left li, .entry-content .inner__right li {
          font-size: calc(12px + 2 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        /* line 35, ../sass/foundation/_mixins.scss */
        .entry-content .inner__left li, .entry-content .inner__right li {
          font-size: 14px; } }

/* line 35, ../sass/project/_page-entry.scss */
.entry-content {
  padding-top: 8%;
  font-family: "hirakakupro"; }
  /* line 38, ../sass/project/_page-entry.scss */
  .entry-content .title__entry {
    position: relative;
    text-align: center;
    font-size: 34px; }
    /* line 42, ../sass/project/_page-entry.scss */
    .entry-content .title__entry:after {
      position: absolute;
      content: "";
      left: 50%;
      bottom: -6px;
      width: 20px;
      height: 3px;
      background: #F85050;
      transform: translateX(-50%); }
  /* line 53, ../sass/project/_page-entry.scss */
  .entry-content .content__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 calc(100 / 1200 * 100%); }
  /* line 60, ../sass/project/_page-entry.scss */
  .entry-content .inner__left {
    background: url(../images/entry02.png) no-repeat;
    background-size: 100% auto; }
  /* line 65, ../sass/project/_page-entry.scss */
  .entry-content .inner__right {
    background: url(../images/entry03.png) no-repeat;
    background-size: 100% auto; }

/* line 1, ../sass/project/_page-company.scss */
.company__banner {
  position: relative;
  background: url(../images/company-banner.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 53.833333%;
  font-family: hirakakupro; }
  @media (max-width: 990.98px) {
    /* line 1, ../sass/project/_page-company.scss */
    .company__banner {
      background: url(../images/company-banner-sp.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding-bottom: 150.9375%; } }
  @media (max-width: 639.98px) {
    /* line 1, ../sass/project/_page-company.scss */
    .company__banner {
      padding-bottom: 217.9375%; } }

/* line 18, ../sass/project/_page-company.scss */
.banner__top {
  position: absolute;
  padding-top: 40px;
  left: 50%;
  transform: translateX(-50%); }
  /* line 23, ../sass/project/_page-company.scss */
  .banner__top p {
    font-size: 30px;
    color: #FFF;
    font-weight: bold;
    margin-left: 10px;
    font-family: Helvetica; }
    @media (max-width: 639.98px) {
      /* line 23, ../sass/project/_page-company.scss */
      .banner__top p {
        font-size: 20px; } }
  @media (min-width: 640px) and (max-width: 990.98px) {
    /* line 33, ../sass/project/_page-company.scss */
    .banner__top img {
      width: 21px;
      height: 31px; } }
  @media (max-width: 639.98px) {
    /* line 33, ../sass/project/_page-company.scss */
    .banner__top img {
      width: 16px;
      height: 24px; } }

/* line 44, ../sass/project/_page-company.scss */
.banner__center {
  position: absolute;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  top: 170px;
  width: calc(100% - 60px);
  padding: 0 30px; }
  @media (min-width: 640px) and (max-width: 990.98px) {
    /* line 44, ../sass/project/_page-company.scss */
    .banner__center {
      top: 120px; } }
  @media (max-width: 639.98px) {
    /* line 44, ../sass/project/_page-company.scss */
    .banner__center {
      top: 68px; } }
  /* line 58, ../sass/project/_page-company.scss */
  .banner__center p {
    color: #FFF;
    width: 100%;
    text-align: center;
    font-weight: bold; }
    /* line 63, ../sass/project/_page-company.scss */
    .banner__center p:nth-child(1) {
      font-size: 34px; }
      @media (max-width: 639.98px) {
        /* line 63, ../sass/project/_page-company.scss */
        .banner__center p:nth-child(1) {
          font-size: 22px; } }
    /* line 69, ../sass/project/_page-company.scss */
    .banner__center p:nth-child(2) {
      font-size: 20px;
      padding-top: 7px; }
      @media (min-width: 640px) and (max-width: 990.98px) {
        /* line 69, ../sass/project/_page-company.scss */
        .banner__center p:nth-child(2) {
          font-size: 24px; } }
      @media (max-width: 639.98px) {
        /* line 69, ../sass/project/_page-company.scss */
        .banner__center p:nth-child(2) {
          font-size: 16px; } }

/* line 81, ../sass/project/_page-company.scss */
.banner__bot {
  position: absolute;
  width: calc(100% - 200px);
  left: 100px;
  top: 357px; }
  @media (max-width: 990.98px) {
    /* line 81, ../sass/project/_page-company.scss */
    .banner__bot {
      flex-direction: column;
      left: 50%;
      transform: translateX(-50%); } }
  @media (min-width: 640px) and (max-width: 990.98px) {
    /* line 81, ../sass/project/_page-company.scss */
    .banner__bot {
      width: calc(100% - 60px);
      padding: 0 30px;
      top: 285px; } }
  @media (max-width: 639.98px) {
    /* line 81, ../sass/project/_page-company.scss */
    .banner__bot {
      width: calc(100% - 30px);
      padding: 0 15px;
      top: 180px; } }

/* line 102, ../sass/project/_page-company.scss */
.banner__left {
  flex-direction: column;
  width: 48.5%;
  background-color: rgba(51, 51, 51, 0.7); }
  @media (max-width: 990.98px) {
    /* line 102, ../sass/project/_page-company.scss */
    .banner__left {
      width: 100%; } }
  /* line 109, ../sass/project/_page-company.scss */
  .banner__left p {
    color: #FFF;
    text-align: center;
    padding: 0 15px 34px 15px;
    font-size: 16px;
    line-height: 28px; }
    @media (min-width: 640px) and (max-width: 990.98px) {
      /* line 109, ../sass/project/_page-company.scss */
      .banner__left p {
        font-size: 24px;
        line-height: 36px; } }
    @media (max-width: 639.98px) {
      /* line 109, ../sass/project/_page-company.scss */
      .banner__left p {
        padding: 0 15px 15px 15px; } }
  @media (max-width: 990.98px) {
    /* line 123, ../sass/project/_page-company.scss */
    .banner__left br {
      display: none; } }

/* line 129, ../sass/project/_page-company.scss */
.banner__right {
  flex-direction: column;
  width: calc(100% - 48.5% - 30px);
  margin-left: 30px;
  background-color: rgba(51, 51, 51, 0.7); }
  @media (max-width: 990.98px) {
    /* line 129, ../sass/project/_page-company.scss */
    .banner__right {
      width: 100%;
      margin-left: 0;
      margin-top: 10px; } }
  /* line 139, ../sass/project/_page-company.scss */
  .banner__right p {
    color: #FFF; }
    /* line 141, ../sass/project/_page-company.scss */
    .banner__right p:nth-child(2) {
      font-size: 30px;
      line-height: 50px; }
      @media (min-width: 640px) and (max-width: 990.98px) {
        /* line 141, ../sass/project/_page-company.scss */
        .banner__right p:nth-child(2) {
          font-size: 34px; } }
      @media (max-width: 639.98px) {
        /* line 141, ../sass/project/_page-company.scss */
        .banner__right p:nth-child(2) {
          font-size: 20px;
          line-height: 28px; } }
    /* line 152, ../sass/project/_page-company.scss */
    .banner__right p:nth-child(3) {
      font-size: 16px;
      line-height: 28px;
      padding: 20px 15px 48px 15px; }
      @media (min-width: 640px) and (max-width: 990.98px) {
        /* line 152, ../sass/project/_page-company.scss */
        .banner__right p:nth-child(3) {
          font-size: 24px;
          line-height: 36px;
          padding: 20px 15px 25px 15px; } }
      @media (max-width: 639.98px) {
        /* line 152, ../sass/project/_page-company.scss */
        .banner__right p:nth-child(3) {
          padding: 10px 15px; } }

/* line 167, ../sass/project/_page-company.scss */
.banner__bot__title {
  font-size: 20px;
  line-height: 50px;
  color: #7fdc22;
  text-align: center;
  font-weight: bold;
  padding: 22px 15px 15px 15px; }
  @media (min-width: 640px) and (max-width: 990.98px) {
    /* line 167, ../sass/project/_page-company.scss */
    .banner__bot__title {
      font-size: 26px; } }
  @media (max-width: 639.98px) {
    /* line 167, ../sass/project/_page-company.scss */
    .banner__bot__title {
      padding: 10px 15px 7.5px 15px; } }

/* line 181, ../sass/project/_page-company.scss */
.box__title {
  flex-direction: column;
  padding: 66px 0 30px 0; }
  @media (max-width: 639.98px) {
    /* line 181, ../sass/project/_page-company.scss */
    .box__title {
      padding: 33px 0 20px 0; } }
  /* line 187, ../sass/project/_page-company.scss */
  .box__title p {
    font-family: hirakakupro;
    font-size: 34px;
    line-height: 50px;
    color: #2a2a2a;
    text-align: center;
    padding-bottom: 3px; }
    @media (min-width: 640px) and (max-width: 990.98px) {
      /* line 187, ../sass/project/_page-company.scss */
      .box__title p {
        font-size: 40px; } }
  /* line 198, ../sass/project/_page-company.scss */
  .box__title hr {
    width: 20px;
    height: 4px;
    color: #7fdc22;
    background-color: #7fdc22;
    border: none; }

/* line 206, ../sass/project/_page-company.scss */
.box__wrap {
  display: flex;
  background-color: #f4f4f7;
  font-family: hirakakupro; }
  @media (max-width: 990.98px) {
    /* line 206, ../sass/project/_page-company.scss */
    .box__wrap {
      flex-direction: column-reverse; } }

/* line 214, ../sass/project/_page-company.scss */
.box__left {
  width: 50%; }
  @media (min-width: 640px) and (max-width: 990.98px) {
    /* line 214, ../sass/project/_page-company.scss */
    .box__left {
      width: calc(100% - 60px);
      padding: 0 30px; } }
  @media (max-width: 639.98px) {
    /* line 214, ../sass/project/_page-company.scss */
    .box__left {
      width: calc(100% - 30px);
      padding: 0 15px; } }
  /* line 224, ../sass/project/_page-company.scss */
  .box__left p {
    color: #2a2a2a;
    width: 78.333333333%; }
    @media (max-width: 990.98px) {
      /* line 224, ../sass/project/_page-company.scss */
      .box__left p {
        width: 100%; } }
    /* line 230, ../sass/project/_page-company.scss */
    .box__left p:nth-child(1) {
      font-size: 26px;
      line-height: 40px;
      padding: 76px 30px 20px 100px;
      font-weight: bold; }
      @media (min-width: 640px) and (max-width: 990.98px) {
        /* line 230, ../sass/project/_page-company.scss */
        .box__left p:nth-child(1) {
          padding: 50px 0 0 0;
          font-size: 28px; } }
      @media (max-width: 639.98px) {
        /* line 230, ../sass/project/_page-company.scss */
        .box__left p:nth-child(1) {
          padding: 25px 0 0 0;
          font-size: 18px; } }
    /* line 244, ../sass/project/_page-company.scss */
    .box__left p:nth-child(2) {
      font-size: 14px;
      line-height: 23px;
      padding: 0 30px 0 100px; }
      @media (min-width: 640px) and (max-width: 990.98px) {
        /* line 244, ../sass/project/_page-company.scss */
        .box__left p:nth-child(2) {
          padding: 32px 0 0 0;
          font-size: 28px;
          line-height: 40px; } }
      @media (max-width: 639.98px) {
        /* line 244, ../sass/project/_page-company.scss */
        .box__left p:nth-child(2) {
          padding: 16px 0 0 0;
          font-size: 16px; } }

/* line 260, ../sass/project/_page-company.scss */
.box__right {
  width: calc(100% - 50%); }
  @media (min-width: 640px) and (max-width: 990.98px) {
    /* line 260, ../sass/project/_page-company.scss */
    .box__right {
      width: calc(100% - 60px);
      padding: 0 30px; } }
  @media (max-width: 639.98px) {
    /* line 260, ../sass/project/_page-company.scss */
    .box__right {
      width: calc(100% - 30px);
      padding: 0 15px; } }
  /* line 270, ../sass/project/_page-company.scss */
  .box__right img {
    width: 100%;
    height: auto; }

/* line 275, ../sass/project/_page-company.scss */
.box__left__txt {
  padding: 24px 30px 0 0;
  display: flex;
  justify-content: flex-end;
  align-items: baseline; }
  @media (max-width: 990.98px) {
    /* line 275, ../sass/project/_page-company.scss */
    .box__left__txt {
      text-align: right;
      flex-direction: column;
      align-items: flex-end;
      padding: 24px 0; } }
  @media (max-width: 639.98px) {
    /* line 275, ../sass/project/_page-company.scss */
    .box__left__txt {
      padding: 12px 0; } }
  /* line 290, ../sass/project/_page-company.scss */
  .box__left__txt span:nth-child(1) {
    font-size: 16px;
    line-height: 40px;
    color: #2a2a2a; }
    @media (min-width: 640px) and (max-width: 990.98px) {
      /* line 290, ../sass/project/_page-company.scss */
      .box__left__txt span:nth-child(1) {
        font-size: 24px; } }
    @media (max-width: 639.98px) {
      /* line 290, ../sass/project/_page-company.scss */
      .box__left__txt span:nth-child(1) {
        font-size: 14px; } }
  /* line 301, ../sass/project/_page-company.scss */
  .box__left__txt span:nth-child(2) {
    font-family: Gyosho;
    font-size: 36px;
    line-height: 40px;
    color: #2a2a2a;
    margin-left: 10px;
    font-weight: bold;
    padding-top: 5px; }
    @media (min-width: 640px) and (max-width: 990.98px) {
      /* line 301, ../sass/project/_page-company.scss */
      .box__left__txt span:nth-child(2) {
        font-size: 46px; } }
    @media (max-width: 639.98px) {
      /* line 301, ../sass/project/_page-company.scss */
      .box__left__txt span:nth-child(2) {
        font-size: 28px;
        padding-top: 0; } }

/* line 319, ../sass/project/_page-company.scss */
.box__content {
  position: relative;
  background: url(../images/img31.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 48.33333%;
  font-family: hirakakupro; }
  @media (min-width: 640px) and (max-width: 990.98px) {
    /* line 319, ../sass/project/_page-company.scss */
    .box__content {
      background: url(../images/img32.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding-bottom: 290.5625%; } }
  @media (max-width: 639.98px) {
    /* line 319, ../sass/project/_page-company.scss */
    .box__content {
      background: url(../images/img33.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding-bottom: 386.5625%; } }

/* line 339, ../sass/project/_page-company.scss */
.box__text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  top: 70px;
  background-color: rgba(51, 51, 51, 0.7);
  box-shadow: -23px -23px 0px -2px rgba(255, 255, 255, 0.2); }
  @media (min-width: 640px) and (max-width: 990.98px) {
    /* line 339, ../sass/project/_page-company.scss */
    .box__text {
      width: calc(100% - 60px);
      top: 50px;
      box-shadow: none; } }
  @media (max-width: 639.98px) {
    /* line 339, ../sass/project/_page-company.scss */
    .box__text {
      width: calc(100% - 30px);
      top: 25px;
      box-shadow: none; } }
  /* line 357, ../sass/project/_page-company.scss */
  .box__text p {
    text-align: center;
    color: #FFF;
    font-size: 14px;
    line-height: 23px; }
    @media (min-width: 640px) and (max-width: 990.98px) {
      /* line 357, ../sass/project/_page-company.scss */
      .box__text p {
        font-size: 28px;
        line-height: 40px; } }
    @media (max-width: 639.98px) {
      /* line 357, ../sass/project/_page-company.scss */
      .box__text p {
        font-size: 16px;
        line-height: 28px; } }
    /* line 370, ../sass/project/_page-company.scss */
    .box__text p:nth-child(1) {
      font-size: 26px;
      line-height: 40px;
      padding: 30px 0 15px 0; }
      @media (min-width: 640px) and (max-width: 990.98px) {
        /* line 370, ../sass/project/_page-company.scss */
        .box__text p:nth-child(1) {
          font-size: 38px;
          line-height: 50px;
          padding: 30px 30px 15px 30px; } }
      @media (max-width: 639.98px) {
        /* line 370, ../sass/project/_page-company.scss */
        .box__text p:nth-child(1) {
          font-size: 18px;
          line-height: 30px;
          padding: 15px; } }
    @media (min-width: 640px) and (max-width: 990.98px) {
      /* line 385, ../sass/project/_page-company.scss */
      .box__text p:nth-child(2) {
        padding: 0 30px; } }
    @media (max-width: 639.98px) {
      /* line 385, ../sass/project/_page-company.scss */
      .box__text p:nth-child(2) {
        padding: 0 15px; } }
    /* line 393, ../sass/project/_page-company.scss */
    .box__text p:nth-child(3) {
      padding: 20px 0; }
      @media (min-width: 640px) and (max-width: 990.98px) {
        /* line 393, ../sass/project/_page-company.scss */
        .box__text p:nth-child(3) {
          padding: 20px 30px; } }
      @media (max-width: 639.98px) {
        /* line 393, ../sass/project/_page-company.scss */
        .box__text p:nth-child(3) {
          padding: 10px 15px; } }
    /* line 402, ../sass/project/_page-company.scss */
    .box__text p:nth-child(4) {
      padding-bottom: 40px; }
      @media (min-width: 640px) and (max-width: 990.98px) {
        /* line 402, ../sass/project/_page-company.scss */
        .box__text p:nth-child(4) {
          padding: 0 30px 40px 30px; } }
      @media (max-width: 639.98px) {
        /* line 402, ../sass/project/_page-company.scss */
        .box__text p:nth-child(4) {
          padding: 0 15px 20px 15px; } }
  @media (max-width: 990.98px) {
    /* line 412, ../sass/project/_page-company.scss */
    .box__text br {
      display: none; } }
