@font-face {
  font-family: 'hirakakupro';
  font-style: normal;
  src: local("hirakakupro"), url("../font/hirakakupro-w3-opentype_bigfontsite.com.otf"); }
@font-face {
  font-family: 'Gyosho';
  font-style: normal;
  src: local("Gyosho"), url("../font/Gyosho.ttf"); }
/* line 11, ../sass/foundation/_mixins.scss */
.banner__first, .banner__second {
  position: relative;
  width: 100%;
  padding-bottom: 27.5%; }
  @media (max-width: 640px) {
    /* line 11, ../sass/foundation/_mixins.scss */
    .banner__first, .banner__second {
      display: none; } }
  /* line 18, ../sass/foundation/_mixins.scss */
  .banner__first img, .banner__second img {
    width: 100%;
    height: auto; }

/* line 2, ../sass/foundation/_base.scss */
* {
  margin: 0;
  padding: 0; }

/* line 6, ../sass/foundation/_base.scss */
body {
  max-width: 1200px;
  margin: 0 auto; }

/* line 10, ../sass/foundation/_base.scss */
ul {
  list-style-type: none; }

/* line 13, ../sass/foundation/_base.scss */
a {
  text-decoration: none; }

/* line 16, ../sass/foundation/_base.scss */
.fsize-22 {
  font-size: 22px; }

/* line 19, ../sass/foundation/_base.scss */
.fsize-13 {
  font-size: 13px !important; }
  @media (min-width: 641px) {
    /* line 19, ../sass/foundation/_base.scss */
    .fsize-13 {
      padding: 10px !important;
      width: calc(100% - 20px) !important; } }

@media (min-width: 641px) {
  /* line 26, ../sass/foundation/_base.scss */
  .pt-20 {
    padding-top: 20px; } }

@media (max-width: 639.98px) {
  /* line 31, ../sass/foundation/_base.scss */
  .pt-10 {
    padding-top: 10px !important; } }

@media (min-width: 641px) {
  /* line 36, ../sass/foundation/_base.scss */
  .ml-20 {
    margin-left: 20px; } }

/* line 41, ../sass/foundation/_base.scss */
.mt-0 {
  margin-top: 0 !important; }

@media (min-width: 641px) {
  /* line 44, ../sass/foundation/_base.scss */
  .mr-20 {
    margin-right: 20px; } }

@media (max-width: 990px) {
  /* line 49, ../sass/foundation/_base.scss */
  .img-pc {
    display: none; } }

@media (min-width: 991px) {
  /* line 54, ../sass/foundation/_base.scss */
  .img-tb {
    display: none; } }

/* line 59, ../sass/foundation/_base.scss */
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center; }

/* line 1, ../sass/layout/_layout.scss */
.group__main {
  background: url(../images/group-bg.png);
  max-width: 1200px; }

/* line 5, ../sass/layout/_layout.scss */
.group__inner {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

/* line 12, ../sass/layout/_layout.scss */
.inner__content {
  display: flex;
  padding: 56px 0 80px 0; }
  @media (max-width: 640px) {
    /* line 12, ../sass/layout/_layout.scss */
    .inner__content {
      flex-direction: column;
      padding: 0 0 40px 0; } }
  @media (min-width: 641px) and (max-width: 990px) {
    /* line 12, ../sass/layout/_layout.scss */
    .inner__content {
      padding: 28px 0 40px 0; } }

/* line 23, ../sass/layout/_layout.scss */
.group__left {
  width: 29%;
  background: #78D020;
  background-image: url(../images/icon02.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  font-family: Helvetica; }
  @media (max-width: 640px) {
    /* line 23, ../sass/layout/_layout.scss */
    .group__left {
      display: flex;
      width: 100%;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: center; } }

@media (max-width: 640px) {
  /* line 38, ../sass/layout/_layout.scss */
  .group__title {
    margin-left: 10px; } }
/* line 42, ../sass/layout/_layout.scss */
.group__title p {
  color: #FFF; }
  /* line 44, ../sass/layout/_layout.scss */
  .group__title p:nth-child(1) {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding-top: 70px; }
    @media (max-width: 990px) {
      /* line 44, ../sass/layout/_layout.scss */
      .group__title p:nth-child(1) {
        padding-top: 35px; } }
  /* line 53, ../sass/layout/_layout.scss */
  .group__title p:nth-child(2) {
    font-size: 13px;
    padding: 15px 0 40px 0;
    text-align: center; }
    @media (max-width: 640px) {
      /* line 53, ../sass/layout/_layout.scss */
      .group__title p:nth-child(2) {
        padding: 2px 0 40px 0; } }
    @media (min-width: 641px) and (max-width: 990px) {
      /* line 53, ../sass/layout/_layout.scss */
      .group__title p:nth-child(2) {
        padding: 7.5px 0 20px 0; } }

/* line 66, ../sass/layout/_layout.scss */
.group__text {
  color: #FFF;
  padding: 42px 30px 0 30px;
  font-family: hirakakupro; }
  @media (max-width: 640px) {
    /* line 66, ../sass/layout/_layout.scss */
    .group__text {
      display: none; } }
  @media (min-width: 641px) and (max-width: 990px) {
    /* line 66, ../sass/layout/_layout.scss */
    .group__text {
      padding: 0 15px 15px 15px;
      margin-top: 21px; } }
  @media (min-width: 641px) and (max-width: 770.98px) {
    /* line 66, ../sass/layout/_layout.scss */
    .group__text {
      height: 100px;
      overflow-x: auto; } }

/* line 82, ../sass/layout/_layout.scss */
.group__right {
  width: calc(100% - 29% - 20px);
  font-family: hirakakupro; }
  @media (max-width: 640px) {
    /* line 82, ../sass/layout/_layout.scss */
    .group__right {
      width: 100%; } }
  /* line 88, ../sass/layout/_layout.scss */
  .group__right img {
    width: 100%;
    height: 100%; }
  /* line 92, ../sass/layout/_layout.scss */
  .group__right p {
    position: absolute;
    bottom: 0px;
    background-color: rgba(51, 51, 51, 0.7);
    color: #ffffff;
    width: calc(100% - 40px);
    font-size: 20px;
    padding: 20px;
    background-image: url(../images/icon02.png);
    background-repeat: no-repeat;
    background-position: bottom right; }
    @media (max-width: 640px) {
      /* line 92, ../sass/layout/_layout.scss */
      .group__right p {
        width: calc(100% - 50px);
        padding: 10px;
        bottom: 6px;
        font-size: 16px; } }
    @media (min-width: 641px) and (max-width: 990px) {
      /* line 92, ../sass/layout/_layout.scss */
      .group__right p {
        padding: 15px 20px 15px 20px; } }

/* line 114, ../sass/layout/_layout.scss */
.item__top {
  display: flex; }
  @media (max-width: 640px) {
    /* line 114, ../sass/layout/_layout.scss */
    .item__top {
      flex-direction: column; } }

/* line 120, ../sass/layout/_layout.scss */
.item__top__left {
  position: relative;
  width: 48.55%; }
  @media (max-width: 640px) {
    /* line 120, ../sass/layout/_layout.scss */
    .item__top__left {
      width: calc(100% - 30px);
      padding: 25px 15px 0 15px; } }

/* line 128, ../sass/layout/_layout.scss */
.item__top__right {
  position: relative;
  width: calc(100% - 48.55% - 20px);
  margin-left: 20px; }
  @media (max-width: 640px) {
    /* line 128, ../sass/layout/_layout.scss */
    .item__top__right {
      width: calc(100% - 30px);
      padding: 10px 15px 0 15px;
      margin-left: 0; } }

/* line 138, ../sass/layout/_layout.scss */
.item__bot {
  position: relative;
  margin-top: 16px; }
  @media (max-width: 640px) {
    /* line 138, ../sass/layout/_layout.scss */
    .item__bot {
      padding: 0 15px 0 15px;
      margin-top: 10px; } }

/* line 146, ../sass/layout/_layout.scss */
.group__icon {
  display: flex;
  justify-content: center; }

@media (max-width: 640px) {
  /* line 150, ../sass/layout/_layout.scss */
  .item__pc {
    display: none; } }

@media (min-width: 641px) {
  /* line 155, ../sass/layout/_layout.scss */
  .item__sp {
    display: none; } }

/* line 161, ../sass/layout/_layout.scss */
.banner__first {
  background: url(../images/img06.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; }
/* line 167, ../sass/layout/_layout.scss */
.banner__second {
  background: url(../images/img14.png);
  background-repeat: no-repeat;
  background-size: 100% 100%; }

/* line 174, ../sass/layout/_layout.scss */
.banner__text {
  cursor: pointer;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%); }
  /* line 180, ../sass/layout/_layout.scss */
  .banner__text p {
    font-size: 25px;
    color: #FFF;
    font-weight: bold;
    text-align: center; }
    @media (min-width: 641px) and (max-width: 990px) {
      /* line 180, ../sass/layout/_layout.scss */
      .banner__text p {
        font-size: 22px; } }

@media (max-width: 640px) {
  /* line 190, ../sass/layout/_layout.scss */
  .group__entry {
    display: none; } }
/* line 194, ../sass/layout/_layout.scss */
.group__entry p {
  text-align: center;
  font-size: 13px; }
  /* line 197, ../sass/layout/_layout.scss */
  .group__entry p:nth-child(1) {
    font-size: 22px !important;
    color: #F85050;
    font-weight: bold;
    padding-top: 72px; }
  /* line 203, ../sass/layout/_layout.scss */
  .group__entry p:nth-child(2) {
    color: #F85050;
    padding: 20px 0 48px 0; }
  /* line 207, ../sass/layout/_layout.scss */
  .group__entry p:nth-child(4) {
    padding-top: 50px; }
  /* line 210, ../sass/layout/_layout.scss */
  .group__entry p:nth-child(5) {
    padding-bottom: 50px; }
/* line 214, ../sass/layout/_layout.scss */
.group__entry .img__entry {
  display: flex;
  justify-content: center; }

/* line 219, ../sass/layout/_layout.scss */
.group__work {
  background: none !important; }
  @media (min-width: 641px) {
    /* line 221, ../sass/layout/_layout.scss */
    .group__work .group__inner {
      flex-direction: row-reverse; } }
  /* line 225, ../sass/layout/_layout.scss */
  .group__work .group__inner .group__left {
    background-color: #007EFF; }

@media (min-width: 641px) and (max-width: 990px) {
  /* line 231, ../sass/layout/_layout.scss */
  .group__interview .group__inner {
    flex-direction: column; } }
/* line 235, ../sass/layout/_layout.scss */
.group__interview .group__inner .group__left {
  background-color: #FFC000; }
  @media (min-width: 641px) and (max-width: 990px) {
    /* line 235, ../sass/layout/_layout.scss */
    .group__interview .group__inner .group__left {
      width: 100%; } }
@media (min-width: 641px) and (max-width: 990px) {
  /* line 241, ../sass/layout/_layout.scss */
  .group__interview .group__inner .group__right {
    width: 100%;
    margin-left: 0 !important;
    margin-top: 20px; } }

/* Header
----------------------------------------------------------------- */
/* line 5, ../sass/layout/_header.scss */
header {
  background: url(../images/bg-top.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding-bottom: 49.833%; }
  @media (max-width: 640px) {
    /* line 5, ../sass/layout/_header.scss */
    header {
      background: url(../images/bg-top-sp.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding-bottom: 158.41%;
      justify-content: center; } }
  @media (max-width: 990px) {
    /* line 5, ../sass/layout/_header.scss */
    header {
      position: relative;
      display: flex;
      align-items: center; } }
  /* line 23, ../sass/layout/_header.scss */
  header p {
    font-family: Helvetica;
    color: #FFF; }
    /* line 26, ../sass/layout/_header.scss */
    header p:nth-child(1), header p:nth-child(4) {
      font-size: 80px;
      font-weight: bold; }
      @media (min-width: 641px) and (max-width: 990px) {
        /* line 26, ../sass/layout/_header.scss */
        header p:nth-child(1), header p:nth-child(4) {
          font-size: 60px; } }
    /* line 34, ../sass/layout/_header.scss */
    header p:nth-child(2) {
      font-size: 28px;
      font-weight: bold; }
      @media (min-width: 641px) and (max-width: 990px) {
        /* line 34, ../sass/layout/_header.scss */
        header p:nth-child(2) {
          font-size: 22px; } }
    /* line 41, ../sass/layout/_header.scss */
    header p:nth-child(5), header p:nth-child(6) {
      font-size: 22px; }
      @media (min-width: 641px) and (max-width: 990px) {
        /* line 41, ../sass/layout/_header.scss */
        header p:nth-child(5), header p:nth-child(6) {
          font-size: 15px; } }

/* line 50, ../sass/layout/_header.scss */
.header__text {
  position: absolute;
  top: 78px;
  padding-left: 100px; }
  @media (min-width: 320px) and (max-width: 990px) {
    /* line 50, ../sass/layout/_header.scss */
    .header__text {
      top: 50%;
      transform: translateY(-50%);
      padding-left: 0; } }
  @media (min-width: 641px) and (max-width: 990px) {
    /* line 50, ../sass/layout/_header.scss */
    .header__text {
      padding-left: 100px; } }

/* line 63, ../sass/layout/_header.scss */
.header__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px; }
  /* line 68, ../sass/layout/_header.scss */
  .header__img img {
    width: 40px;
    height: 40px; }

/* line 2, ../sass/layout/_gnav.scss */
.navbar {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  min-height: 51px; }
  /* line 11, ../sass/layout/_gnav.scss */
  .navbar .logo img {
    width: 100%;
    height: auto; }
  @media (max-width: 768px) {
    /* line 16, ../sass/layout/_gnav.scss */
    .navbar .logo {
      padding: 8px 3px 7px 15px; } }
  @media (max-width: 768px) {
    /* line 25, ../sass/layout/_gnav.scss */
    .navbar .navbar-colspan {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      display: none;
      background-color: #FFF;
      z-index: 9;
      margin-right: 0; } }
  /* line 37, ../sass/layout/_gnav.scss */
  .navbar .menu {
    display: flex; }
    /* line 40, ../sass/layout/_gnav.scss */
    .navbar .menu li:hover {
      background-color: #F85050; }
      /* line 42, ../sass/layout/_gnav.scss */
      .navbar .menu li:hover a {
        color: #FFF; }
    /* line 48, ../sass/layout/_gnav.scss */
    .navbar .menu a {
      padding: 24.5px 21px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: #3A3A3A;
      font-size: 13px; }
    /* line 57, ../sass/layout/_gnav.scss */
    .navbar .menu p {
      font-family: "Helvetica"; }
  @media (max-width: 768px) {
    /* line 64, ../sass/layout/_gnav.scss */
    .navbar .menu {
      flex-direction: column; }
      /* line 66, ../sass/layout/_gnav.scss */
      .navbar .menu li {
        border-top: 1px solid #BCBCBC; }
        /* line 68, ../sass/layout/_gnav.scss */
        .navbar .menu li:last-child {
          border-bottom: 1px solid #BCBCBC; }
      /* line 72, ../sass/layout/_gnav.scss */
      .navbar .menu a {
        padding: 14px 21px; } }
  /* line 78, ../sass/layout/_gnav.scss */
  .navbar .navbar-togger {
    display: none; }
    /* line 80, ../sass/layout/_gnav.scss */
    .navbar .navbar-togger .bar1, .navbar .navbar-togger .bar2, .navbar .navbar-togger .bar3 {
      width: 38px;
      height: 3px;
      background-color: #333;
      margin: 6px 0;
      transition: 0.4s; }
    /* line 87, ../sass/layout/_gnav.scss */
    .navbar .navbar-togger span {
      font-size: 13px; }
  /* line 94, ../sass/layout/_gnav.scss */
  .navbar .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 7px);
    transform: rotate(-45deg) translate(-8px, 7px); }
  /* line 98, ../sass/layout/_gnav.scss */
  .navbar .change .bar2 {
    opacity: 0; }
  /* line 99, ../sass/layout/_gnav.scss */
  .navbar .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-5px, -5px); }
  /* line 103, ../sass/layout/_gnav.scss */
  .navbar .change span {
    display: none; }
  @media (max-width: 768px) {
    /* line 109, ../sass/layout/_gnav.scss */
    .navbar .navbar-togger {
      display: block;
      margin-right: 15px; } }
  /* line 115, ../sass/layout/_gnav.scss */
  .navbar .active {
    background-color: #F85050;
    color: #FFF !important; }

/* line 3, ../sass/layout/_footer.scss */
footer {
  position: relative;
  background-color: #ECECEC; }
  /* line 9, ../sass/layout/_footer.scss */
  footer .navbar.navbar-footer .menu a {
    position: relative;
    padding: 22px 15px; }
    /* line 12, ../sass/layout/_footer.scss */
    footer .navbar.navbar-footer .menu a:before {
      content: "";
      position: absolute;
      left: 0;
      width: 1px;
      height: 50%;
      background-color: #BCBCBC; }
    /* line 21, ../sass/layout/_footer.scss */
    footer .navbar.navbar-footer .menu a span:first-child {
      height: 20px; }
  /* line 28, ../sass/layout/_footer.scss */
  footer .navbar.navbar-footer .menu li:last-child a {
    background-color: #F85050;
    color: #FFF;
    align-items: center; }
    /* line 32, ../sass/layout/_footer.scss */
    footer .navbar.navbar-footer .menu li:last-child a:after {
      content: "";
      position: absolute;
      right: 0;
      width: 1px;
      height: 50%;
      background-color: #BCBCBC; }
  @media (max-width: 768px) {
    /* line 47, ../sass/layout/_footer.scss */
    footer .navbar.navbar-footer {
      height: auto;
      flex-direction: column;
      padding-right: 0; }
      /* line 51, ../sass/layout/_footer.scss */
      footer .navbar.navbar-footer .logo {
        padding: 2.1% 0; }
      /* line 54, ../sass/layout/_footer.scss */
      footer .navbar.navbar-footer .menu {
        width: 100%;
        margin-left: 0; }
        /* line 57, ../sass/layout/_footer.scss */
        footer .navbar.navbar-footer .menu a {
          padding: 2.9% 15px;
          align-items: flex-start; }
          /* line 60, ../sass/layout/_footer.scss */
          footer .navbar.navbar-footer .menu a::before {
            content: none; }
          /* line 63, ../sass/layout/_footer.scss */
          footer .navbar.navbar-footer .menu a::after {
            content: "";
            position: absolute;
            right: 15px;
            width: 8px;
            height: 14px;
            background: url(../images/icon01.png) no-repeat; }
          /* line 72, ../sass/layout/_footer.scss */
          footer .navbar.navbar-footer .menu a span:first-child {
            display: none; }
        /* line 80, ../sass/layout/_footer.scss */
        footer .navbar.navbar-footer .menu li:hover a::after {
          background: none; }
        /* line 86, ../sass/layout/_footer.scss */
        footer .navbar.navbar-footer .menu li:last-child:hover {
          background: none; }
        /* line 89, ../sass/layout/_footer.scss */
        footer .navbar.navbar-footer .menu li:last-child a {
          margin: 15px; }
          /* line 91, ../sass/layout/_footer.scss */
          footer .navbar.navbar-footer .menu li:last-child a::after {
            content: none; } }
  /* line 103, ../sass/layout/_footer.scss */
  footer .copyright {
    background-color: #3A3A3A;
    color: #FFF;
    padding: 33.3px 0;
    text-align: center; }
  @media (max-width: 768px) {
    /* line 111, ../sass/layout/_footer.scss */
    footer .copyright {
      padding: 4% 0; } }
  /* line 116, ../sass/layout/_footer.scss */
  footer .js-page-top {
    position: absolute;
    top: -80px;
    right: 30px;
    cursor: pointer; }

/* line 1, ../sass/layout/_animation.scss */
.item__top__left,
.item__top__right,
.item__bot {
  overflow: hidden; }
  /* line 5, ../sass/layout/_animation.scss */
  .item__top__left img,
  .item__top__right img,
  .item__bot img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
  /* line 11, ../sass/layout/_animation.scss */
  .item__top__left:hover,
  .item__top__right:hover,
  .item__bot:hover {
    background: rgba(255, 255, 255, 0.8); }
    /* line 13, ../sass/layout/_animation.scss */
    .item__top__left:hover img,
    .item__top__right:hover img,
    .item__bot:hover img {
      opacity: 1;
      -webkit-animation: flash 1.5s;
      animation: flash 1.5s;
      -webkit-transform: scale(1.2);
      transform: scale(1.2); }

@-webkit-keyframes flash {
  0% {
    opacity: 0.3; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
@keyframes flash {
  0% {
    opacity: 0.3; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
/**
 * Icons
**/
/* line 6, ../sass/component/_icon.scss */
.icon__company, .icon__work, .icon__interview, .icon__entry, .icon__requirement {
  height: 44px;
  font-family: "hirakakupro"; }

/**
 * Button
 */
/* line 5, ../sass/component/_btn.scss */
.group__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 80px; }
  /* line 10, ../sass/component/_btn.scss */
  .group__btn .btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17.83%;
    padding: 25px 0; }
    @media (min-width: 641px) and (max-width: 990px) {
      /* line 10, ../sass/component/_btn.scss */
      .group__btn .btn {
        width: 24%; } }
  /* line 21, ../sass/component/_btn.scss */
  .group__btn .btn--1 {
    background-color: #DF7F80;
    color: #FFF; }
    /* line 24, ../sass/component/_btn.scss */
    .group__btn .btn--1:hover {
      background-color: #994D58; }
  /* line 28, ../sass/component/_btn.scss */
  .group__btn .btn--2 {
    background-color: #F85050;
    color: #FFF;
    margin-left: 20px; }
    /* line 32, ../sass/component/_btn.scss */
    .group__btn .btn--2:hover {
      background-color: #AB1F33; }

/**
 * Page-system
 */
/* line 6, ../sass/project/_page-entry.scss */
.entry-content .inner__left, .entry-content .inner__right {
  padding-bottom: 11%;
  width: calc(100% / 2 - 90px);
  color: #FFF;
  padding-left: 4%;
  padding-right: 4%;
  line-height: 1.7;
  padding-top: 3.2%; }
  /* line 14, ../sass/project/_page-entry.scss */
  .entry-content .inner__left h2, .entry-content .inner__right h2 {
    color: #FA9B9B;
    padding-bottom: 14px;
    text-align: center; }
    /* line 35, ../sass/foundation/_mixins.scss */
    .entry-content .inner__left h2, .entry-content .inner__right h2 {
      font-size: 16px; }
      @media screen and (min-width: 320px) {
        /* line 35, ../sass/foundation/_mixins.scss */
        .entry-content .inner__left h2, .entry-content .inner__right h2 {
          font-size: calc(16px + 8 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        /* line 35, ../sass/foundation/_mixins.scss */
        .entry-content .inner__left h2, .entry-content .inner__right h2 {
          font-size: 24px; } }
  /* line 20, ../sass/project/_page-entry.scss */
  .entry-content .inner__left span, .entry-content .inner__right span {
    font-family: "hirakakupro";
    font-weight: bold; }
    /* line 35, ../sass/foundation/_mixins.scss */
    .entry-content .inner__left span, .entry-content .inner__right span {
      font-size: 13px; }
      @media screen and (min-width: 320px) {
        /* line 35, ../sass/foundation/_mixins.scss */
        .entry-content .inner__left span, .entry-content .inner__right span {
          font-size: calc(13px + 3 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        /* line 35, ../sass/foundation/_mixins.scss */
        .entry-content .inner__left span, .entry-content .inner__right span {
          font-size: 16px; } }
  /* line 25, ../sass/project/_page-entry.scss */
  .entry-content .inner__left ul, .entry-content .inner__right ul {
    margin-bottom: 10px; }
  /* line 28, ../sass/project/_page-entry.scss */
  .entry-content .inner__left li, .entry-content .inner__right li {
    margin-left: 20px;
    list-style-type: disc; }
    /* line 35, ../sass/foundation/_mixins.scss */
    .entry-content .inner__left li, .entry-content .inner__right li {
      font-size: 12px; }
      @media screen and (min-width: 320px) {
        /* line 35, ../sass/foundation/_mixins.scss */
        .entry-content .inner__left li, .entry-content .inner__right li {
          font-size: calc(12px + 2 * ((100vw - 320px) / 880)); } }
      @media screen and (min-width: 1200px) {
        /* line 35, ../sass/foundation/_mixins.scss */
        .entry-content .inner__left li, .entry-content .inner__right li {
          font-size: 14px; } }

/* line 35, ../sass/project/_page-entry.scss */
.entry-content {
  padding-top: 8%;
  font-family: "hirakakupro"; }
  /* line 38, ../sass/project/_page-entry.scss */
  .entry-content .title__entry {
    position: relative;
    text-align: center;
    font-size: 34px; }
    /* line 42, ../sass/project/_page-entry.scss */
    .entry-content .title__entry:after {
      position: absolute;
      content: "";
      left: 50%;
      bottom: -6px;
      width: 20px;
      height: 3px;
      background: #F85050;
      transform: translateX(-50%); }
  /* line 53, ../sass/project/_page-entry.scss */
  .entry-content .content__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 0 calc(100 / 1200 * 100%); }
  /* line 60, ../sass/project/_page-entry.scss */
  .entry-content .inner__left {
    background: url(../images/entry02.png) no-repeat;
    background-size: 100% auto; }
  /* line 65, ../sass/project/_page-entry.scss */
  .entry-content .inner__right {
    background: url(../images/entry03.png) no-repeat;
    background-size: 100% auto; }

/* line 1, ../sass/project/_page-company.scss */
.company__banner {
  position: relative;
  background: url(../images/company-banner.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 53.833333%;
  font-family: hirakakupro; }
  @media (max-width: 640px) {
    /* line 1, ../sass/project/_page-company.scss */
    .company__banner {
      background: url(../images/company-banner-sp.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding-bottom: 150.9375%; } }

@media (max-width: 1200px) {
  /* line 16, ../sass/project/_page-company.scss */
  .banner__topc img {
    width: 20px !important;
    height: 30px !important; } }

/* line 23, ../sass/project/_page-company.scss */
.banner__center {
  position: absolute;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  top: 22.58%;
  width: calc(100% - 60px);
  padding: 0 30px; }
  @media (max-width: 640px) {
    /* line 23, ../sass/project/_page-company.scss */
    .banner__center {
      top: 16.21%; } }
  /* line 34, ../sass/project/_page-company.scss */
  .banner__center p {
    color: #FFF;
    width: 100%;
    text-align: center;
    font-weight: bold; }
    /* line 39, ../sass/project/_page-company.scss */
    .banner__center p:nth-child(1) {
      font-size: 34px; }
      @media (max-width: 640px) {
        /* line 39, ../sass/project/_page-company.scss */
        .banner__center p:nth-child(1) {
          font-size: 4.4270833333vw; } }
      @media (min-width: 641px) and (max-width: 1200px) {
        /* line 39, ../sass/project/_page-company.scss */
        .banner__center p:nth-child(1) {
          font-size: 2.8333333333vw; } }
    /* line 48, ../sass/project/_page-company.scss */
    .banner__center p:nth-child(2) {
      font-size: 20px;
      padding-top: 7px; }
      @media (max-width: 640px) {
        /* line 48, ../sass/project/_page-company.scss */
        .banner__center p:nth-child(2) {
          font-size: 3.125vw; } }
      @media (min-width: 641px) and (max-width: 1200px) {
        /* line 48, ../sass/project/_page-company.scss */
        .banner__center p:nth-child(2) {
          font-size: 1.6666666667vw; } }

/* line 60, ../sass/project/_page-company.scss */
.banner__bot {
  position: absolute;
  width: calc(100% - 16.666666666666%);
  left: 8.33333333333%;
  bottom: 0; }
  @media (max-width: 640px) {
    /* line 60, ../sass/project/_page-company.scss */
    .banner__bot {
      flex-direction: column;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 60px);
      padding: 0 30px; } }

/* line 73, ../sass/project/_page-company.scss */
.banner__left {
  flex-direction: column;
  width: 48.5%;
  background-color: rgba(51, 51, 51, 0.7); }
  @media (max-width: 640px) {
    /* line 73, ../sass/project/_page-company.scss */
    .banner__left {
      width: 100%; } }
  @media (min-width: 641px) and (max-width: 1200px) {
    /* line 73, ../sass/project/_page-company.scss */
    .banner__left {
      align-self: stretch; } }
  /* line 83, ../sass/project/_page-company.scss */
  .banner__left p {
    color: #FFF;
    text-align: center;
    padding: 0 15px 40px 15px;
    font-size: 16px; }
    @media (max-width: 640px) {
      /* line 83, ../sass/project/_page-company.scss */
      .banner__left p {
        padding: 0 30px 20px 30px;
        font-size: 3.125vw; } }
    @media (min-width: 641px) and (max-width: 1200px) {
      /* line 83, ../sass/project/_page-company.scss */
      .banner__left p {
        font-size: 1.3333333333vw;
        padding-bottom: 20px; } }
  @media (max-width: 640px) {
    /* line 97, ../sass/project/_page-company.scss */
    .banner__left br {
      display: none; } }

/* line 103, ../sass/project/_page-company.scss */
.banner__right {
  flex-direction: column;
  width: calc(100% - 48.5% - 30px);
  margin-left: 30px;
  background-color: rgba(51, 51, 51, 0.7); }
  @media (max-width: 640px) {
    /* line 103, ../sass/project/_page-company.scss */
    .banner__right {
      width: 100%;
      margin-left: 0;
      margin-top: 10px; } }
  @media (min-width: 641px) and (max-width: 1200px) {
    /* line 103, ../sass/project/_page-company.scss */
    .banner__right {
      align-self: stretch; } }
  /* line 116, ../sass/project/_page-company.scss */
  .banner__right p {
    color: #FFF; }
    /* line 118, ../sass/project/_page-company.scss */
    .banner__right p:nth-child(2) {
      font-size: 30px; }
      @media (max-width: 640px) {
        /* line 118, ../sass/project/_page-company.scss */
        .banner__right p:nth-child(2) {
          font-size: 4.4270833333vw; } }
      @media (min-width: 641px) and (max-width: 1200px) {
        /* line 118, ../sass/project/_page-company.scss */
        .banner__right p:nth-child(2) {
          font-size: 2.5vw; } }
    /* line 127, ../sass/project/_page-company.scss */
    .banner__right p:nth-child(3) {
      font-size: 16px;
      padding: 20px 15px 47px 15px; }
      @media (max-width: 640px) {
        /* line 127, ../sass/project/_page-company.scss */
        .banner__right p:nth-child(3) {
          font-size: 3.3854166667vw;
          padding: 10px 15px 15px 15px; } }
      @media (min-width: 641px) and (max-width: 1200px) {
        /* line 127, ../sass/project/_page-company.scss */
        .banner__right p:nth-child(3) {
          font-size: 1.3333333333vw;
          padding: 15px 15px 20px 15px; } }

/* line 141, ../sass/project/_page-company.scss */
.bot__title {
  font-size: 20px;
  color: #7fdc22;
  text-align: center;
  font-weight: bold;
  padding: 22px 15px 15px 15px; }
  @media (max-width: 640px) {
    /* line 141, ../sass/project/_page-company.scss */
    .bot__title {
      padding: 20px 15px 15px 15px;
      font-size: 3.3854166667vw; } }
  @media (min-width: 641px) and (max-width: 1200px) {
    /* line 141, ../sass/project/_page-company.scss */
    .bot__title {
      font-size: 1.6666666667vw; } }

/* line 156, ../sass/project/_page-company.scss */
.article__titlec hr {
  background-color: #7fdc22 !important; }

/* line 160, ../sass/project/_page-company.scss */
.box__wrap {
  display: flex;
  background-color: #f4f4f7;
  font-family: hirakakupro; }
  @media (max-width: 640px) {
    /* line 160, ../sass/project/_page-company.scss */
    .box__wrap {
      flex-direction: column-reverse;
      background: none; } }

/* line 169, ../sass/project/_page-company.scss */
.box__left {
  width: 50%; }
  @media (max-width: 640px) {
    /* line 169, ../sass/project/_page-company.scss */
    .box__left {
      width: calc(100% - 60px);
      padding: 0 30px; } }
  /* line 175, ../sass/project/_page-company.scss */
  .box__left p {
    color: #2a2a2a;
    width: 78.333333333%;
    padding-left: 16.6666667%;
    padding-right: 5%; }
    @media (max-width: 640px) {
      /* line 175, ../sass/project/_page-company.scss */
      .box__left p {
        width: 100%; } }
    /* line 183, ../sass/project/_page-company.scss */
    .box__left p:nth-child(1) {
      font-size: 26px;
      padding-top: 12.33%;
      padding-bottom: 20px;
      font-weight: bold; }
      @media (max-width: 640px) {
        /* line 183, ../sass/project/_page-company.scss */
        .box__left p:nth-child(1) {
          padding: 30px 0;
          font-size: 4.9479166667vw; } }
      @media (min-width: 641px) and (max-width: 1200px) {
        /* line 183, ../sass/project/_page-company.scss */
        .box__left p:nth-child(1) {
          font-size: 2.1666666667vw; } }
    /* line 196, ../sass/project/_page-company.scss */
    .box__left p:nth-child(2) {
      font-size: 14px; }
      @media (max-width: 640px) {
        /* line 196, ../sass/project/_page-company.scss */
        .box__left p:nth-child(2) {
          padding: 0;
          font-size: 3.6458333333vw; } }
      @media (min-width: 641px) and (max-width: 1200px) {
        /* line 196, ../sass/project/_page-company.scss */
        .box__left p:nth-child(2) {
          font-size: 1.1666666667vw; } }

/* line 208, ../sass/project/_page-company.scss */
.box__right {
  width: calc(100% - 50%); }
  @media (max-width: 640px) {
    /* line 208, ../sass/project/_page-company.scss */
    .box__right {
      width: calc(100% - 60px);
      padding: 0 30px; } }
  /* line 214, ../sass/project/_page-company.scss */
  .box__right img {
    width: 100%;
    height: auto; }
  @media (max-width: 640px) {
    /* line 218, ../sass/project/_page-company.scss */
    .box__right .item__sp {
      display: block; } }
  @media (min-width: 641px) {
    /* line 223, ../sass/project/_page-company.scss */
    .box__right .item__pc {
      display: block; } }

/* line 229, ../sass/project/_page-company.scss */
.bot__txt {
  padding: 24px 30px 24px 0;
  display: flex;
  justify-content: flex-end;
  align-items: baseline; }
  @media (max-width: 640px) {
    /* line 229, ../sass/project/_page-company.scss */
    .bot__txt {
      text-align: right;
      flex-direction: column;
      align-items: flex-end;
      padding: 12px 0; } }
  /* line 241, ../sass/project/_page-company.scss */
  .bot__txt span:nth-child(1) {
    font-size: 16px;
    color: #2a2a2a; }
    @media (max-width: 640px) {
      /* line 241, ../sass/project/_page-company.scss */
      .bot__txt span:nth-child(1) {
        font-size: 3.125vw; } }
    @media (min-width: 641px) and (max-width: 1200px) {
      /* line 241, ../sass/project/_page-company.scss */
      .bot__txt span:nth-child(1) {
        font-size: 1.3333333333vw; } }
  /* line 251, ../sass/project/_page-company.scss */
  .bot__txt span:nth-child(2) {
    font-family: Gyosho;
    font-size: 36px;
    color: #2a2a2a;
    margin-left: 10px;
    font-weight: bold;
    padding-top: 5px; }
    @media (max-width: 640px) {
      /* line 251, ../sass/project/_page-company.scss */
      .bot__txt span:nth-child(2) {
        padding-top: 0;
        font-size: 5.9895833333vw; } }
    @media (min-width: 641px) and (max-width: 1200px) {
      /* line 251, ../sass/project/_page-company.scss */
      .bot__txt span:nth-child(2) {
        font-size: 3vw; } }

/* line 268, ../sass/project/_page-company.scss */
.box__content {
  position: relative;
  background: url(../images/img31.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 48.33333%;
  font-family: hirakakupro; }
  @media (max-width: 640px) {
    /* line 268, ../sass/project/_page-company.scss */
    .box__content {
      background: url(../images/img32.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding-bottom: 271.5625%; } }

/* line 282, ../sass/project/_page-company.scss */
.box__text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  top: 12.069%;
  background-color: rgba(51, 51, 51, 0.7);
  box-shadow: -23px -23px 0px -2px rgba(255, 255, 255, 0.2); }
  @media (max-width: 640px) {
    /* line 282, ../sass/project/_page-company.scss */
    .box__text {
      width: calc(100% - 60px);
      top: 2.876869%;
      box-shadow: none; } }
  /* line 295, ../sass/project/_page-company.scss */
  .box__text p {
    text-align: center;
    color: #FFF;
    font-size: 16px;
    padding: 0 20px 20px 20px; }
    @media (max-width: 640px) {
      /* line 295, ../sass/project/_page-company.scss */
      .box__text p {
        font-size: 3.6458333333vw;
        padding: 0 30px 30px 30px; } }
    @media (min-width: 641px) and (max-width: 1200px) {
      /* line 295, ../sass/project/_page-company.scss */
      .box__text p {
        font-size: 1.3333333333vw;
        padding: 0 15px 15px 15px; } }
    /* line 308, ../sass/project/_page-company.scss */
    .box__text p:nth-child(1) {
      font-size: 26px;
      padding: 30px 0 15px 0; }
      @media (max-width: 640px) {
        /* line 308, ../sass/project/_page-company.scss */
        .box__text p:nth-child(1) {
          font-size: 4.9479166667vw;
          padding: 30px; } }
      @media (min-width: 641px) and (max-width: 1200px) {
        /* line 308, ../sass/project/_page-company.scss */
        .box__text p:nth-child(1) {
          font-size: 2.1666666667vw;
          padding: 15px 30px; } }
    @media (min-width: 641px) {
      /* line 320, ../sass/project/_page-company.scss */
      .box__text p:last-child {
        padding-bottom: 40px; } }
    @media (min-width: 641px) and (max-width: 1200px) {
      /* line 320, ../sass/project/_page-company.scss */
      .box__text p:last-child {
        padding-bottom: 20px; } }
  @media (max-width: 640px) {
    /* line 329, ../sass/project/_page-company.scss */
    .box__text br {
      display: none; } }

/* line 1, ../sass/project/_page-interview.scss */
.header__interview {
  position: relative;
  background: url(../images/img34.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding-bottom: 47.9166667%; }
  @media (max-width: 640px) {
    /* line 1, ../sass/project/_page-interview.scss */
    .header__interview {
      background: url(../images/img43.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 100%;
      padding-bottom: 109.0625%; } }

/* line 16, ../sass/project/_page-interview.scss */
.banner__top {
  position: absolute;
  padding-top: 35px;
  left: 50%;
  transform: translateX(-50%); }
  @media (max-width: 640px) {
    /* line 16, ../sass/project/_page-interview.scss */
    .banner__top {
      padding-top: 18px; } }
  /* line 24, ../sass/project/_page-interview.scss */
  .banner__top p {
    font-size: 30px;
    color: #FFF;
    font-weight: bold;
    margin-left: 10px;
    font-family: Helvetica; }
    @media (max-width: 640px) {
      /* line 24, ../sass/project/_page-interview.scss */
      .banner__top p {
        font-size: 5.2083333333vw; } }
    @media (min-width: 641px) and (max-width: 1200px) {
      /* line 24, ../sass/project/_page-interview.scss */
      .banner__top p {
        font-size: 2.5vw; } }

/* line 38, ../sass/project/_page-interview.scss */
.header__txt {
  position: absolute;
  font-family: hirakakupro;
  font-size: 34px;
  color: #FFF;
  filter: drop-shadow(0 0 21.5px rgba(183, 172, 150, 0.55));
  top: 50%;
  transform: translateY(-50%);
  padding-left: 8.33333333333333%;
  font-weight: bold; }
  @media (max-width: 640px) {
    /* line 38, ../sass/project/_page-interview.scss */
    .header__txt {
      top: 70%;
      padding: 0 30px;
      font-size: 4.9479166667vw; } }
  @media (min-width: 641px) and (max-width: 1200px) {
    /* line 38, ../sass/project/_page-interview.scss */
    .header__txt {
      top: 62%;
      font-size: 2.8333333333vw; } }

/* line 58, ../sass/project/_page-interview.scss */
.banner__interview {
  position: relative;
  background: url(../images/img36.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding-bottom: 23.33333333%; }
  @media (max-width: 640px) {
    /* line 58, ../sass/project/_page-interview.scss */
    .banner__interview {
      background: url(../images/img44.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 100%;
      padding-bottom: 69.84375%; } }

/* line 73, ../sass/project/_page-interview.scss */
.banner__iv {
  position: absolute;
  width: calc(100% - 40% - 30px);
  height: auto;
  left: 40%;
  color: #FFF;
  font-family: hirakakupro;
  padding-right: 30px; }
  /* line 81, ../sass/project/_page-interview.scss */
  .banner__iv h1 {
    font-size: 34px;
    padding: 42px 0 30px 0; }
    @media (max-width: 640px) {
      /* line 81, ../sass/project/_page-interview.scss */
      .banner__iv h1 {
        display: flex;
        flex-direction: column;
        font-size: 4.4270833333vw;
        padding: 21px 0 15px 0; } }
    @media (min-width: 641px) and (max-width: 1200px) {
      /* line 81, ../sass/project/_page-interview.scss */
      .banner__iv h1 {
        font-size: 2.8333333333vw;
        padding: 21px 0 15px 0; } }
    /* line 94, ../sass/project/_page-interview.scss */
    .banner__iv h1 span {
      font-size: 14px;
      margin-left: 15px; }
      @media (max-width: 640px) {
        /* line 94, ../sass/project/_page-interview.scss */
        .banner__iv h1 span {
          margin-left: 0;
          font-size: 2.6041666667vw; } }
      @media (min-width: 641px) and (max-width: 1200px) {
        /* line 94, ../sass/project/_page-interview.scss */
        .banner__iv h1 span {
          font-size: 1.1666666667vw; } }
  /* line 106, ../sass/project/_page-interview.scss */
  .banner__iv h2 {
    font-size: 20px;
    padding-bottom: 20px; }
    @media (max-width: 640px) {
      /* line 106, ../sass/project/_page-interview.scss */
      .banner__iv h2 {
        font-size: 3.125vw; } }
    @media (min-width: 641px) and (max-width: 1200px) {
      /* line 106, ../sass/project/_page-interview.scss */
      .banner__iv h2 {
        font-size: 1.6666666667vw; } }
  /* line 116, ../sass/project/_page-interview.scss */
  .banner__iv div {
    display: flex; }
    @media (max-width: 640px) {
      /* line 116, ../sass/project/_page-interview.scss */
      .banner__iv div {
        flex-direction: column; } }
    /* line 121, ../sass/project/_page-interview.scss */
    .banner__iv div p {
      font-size: 12px; }
      @media (max-width: 640px) {
        /* line 121, ../sass/project/_page-interview.scss */
        .banner__iv div p {
          font-size: 2.6041666667vw; } }
      @media (min-width: 641px) and (max-width: 1200px) {
        /* line 121, ../sass/project/_page-interview.scss */
        .banner__iv div p {
          font-size: 1vw; } }

/* line 132, ../sass/project/_page-interview.scss */
.iv__title {
  font-family: hirakakupro;
  font-size: 34px;
  color: #ffc411;
  padding: 75px 0 30px 0; }
  @media (max-width: 640px) {
    /* line 132, ../sass/project/_page-interview.scss */
    .iv__title {
      padding: 37.5px 30px 15px 30px;
      font-size: 5.2083333333vw; } }
  @media (min-width: 641px) and (max-width: 1200px) {
    /* line 132, ../sass/project/_page-interview.scss */
    .iv__title {
      padding: 50px 30px 20px 30px;
      font-size: 2.8333333333vw; } }

/* line 146, ../sass/project/_page-interview.scss */
.box__iv {
  display: flex;
  justify-content: space-between; }
  @media (max-width: 640px) {
    /* line 146, ../sass/project/_page-interview.scss */
    .box__iv {
      padding: 0 30px;
      flex-direction: column-reverse; } }
  @media (min-width: 641px) and (max-width: 1200px) {
    /* line 146, ../sass/project/_page-interview.scss */
    .box__iv {
      padding: 0 30px; } }

/* line 157, ../sass/project/_page-interview.scss */
.box__iv__edit {
  flex-direction: row-reverse; }
  @media (max-width: 640px) {
    /* line 157, ../sass/project/_page-interview.scss */
    .box__iv__edit {
      flex-direction: column-reverse; } }

/* line 163, ../sass/project/_page-interview.scss */
.iv__txt {
  width: calc(100% - 50% - 15px); }
  @media (min-width: 641px) and (max-width: 1200px) {
    /* line 163, ../sass/project/_page-interview.scss */
    .iv__txt {
      height: 210px;
      overflow: auto; } }
  @media (max-width: 640px) {
    /* line 163, ../sass/project/_page-interview.scss */
    .iv__txt {
      width: 100%;
      margin-top: 30px; } }
  /* line 173, ../sass/project/_page-interview.scss */
  .iv__txt p {
    font-family: hirakakupro;
    font-size: 14px;
    line-height: 38px;
    color: #2a2a2a; }
    @media (max-width: 640px) {
      /* line 173, ../sass/project/_page-interview.scss */
      .iv__txt p {
        font-size: 3.6458333333vw; } }

/* line 183, ../sass/project/_page-interview.scss */
.iv__img {
  width: calc(100% - 50% - 15px); }
  @media (max-width: 640px) {
    /* line 183, ../sass/project/_page-interview.scss */
    .iv__img {
      width: 100%; } }
  /* line 188, ../sass/project/_page-interview.scss */
  .iv__img img {
    width: 100%;
    height: auto; }

/* line 193, ../sass/project/_page-interview.scss */
.pic__iv {
  background: url(../images/img39.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding-bottom: 33.33333333%;
  margin-top: 72px; }
  @media (max-width: 640px) {
    /* line 193, ../sass/project/_page-interview.scss */
    .pic__iv {
      background: url(../images/img45.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding-bottom: 51.42857%;
      width: calc(100% - 60px);
      margin: 0 0 20px 30px; } }
  @media (min-width: 641px) and (max-width: 1200px) {
    /* line 193, ../sass/project/_page-interview.scss */
    .pic__iv {
      margin-top: 48px; } }

/* line 212, ../sass/project/_page-interview.scss */
.orther__title {
  font-size: 30px;
  line-height: 30px;
  color: #ffc000;
  font-family: "Helvetica";
  font-weight: bold;
  text-align: center;
  padding: 75px 0 30px 0; }
  @media (max-width: 640px) {
    /* line 212, ../sass/project/_page-interview.scss */
    .orther__title {
      font-size: 5.2083333333vw;
      padding: 37.5px 30px 15px 30px; } }
  @media (min-width: 641px) and (max-width: 1200px) {
    /* line 212, ../sass/project/_page-interview.scss */
    .orther__title {
      padding: 50px 0 20px 0; } }

/* line 228, ../sass/project/_page-interview.scss */
.orther__img {
  display: flex; }
  @media (max-width: 640px) {
    /* line 228, ../sass/project/_page-interview.scss */
    .orther__img {
      flex-direction: column; } }

/* line 234, ../sass/project/_page-interview.scss */
.orther__item {
  position: relative;
  font-weight: hirakakupro;
  width: 33.3333333333%; }
  @media (max-width: 640px) {
    /* line 234, ../sass/project/_page-interview.scss */
    .orther__item {
      width: 100%; } }
  /* line 241, ../sass/project/_page-interview.scss */
  .orther__item img {
    width: 100%;
    height: auto; }
  /* line 245, ../sass/project/_page-interview.scss */
  .orther__item p {
    position: absolute;
    bottom: 0px;
    width: calc(100% - 44px);
    font-size: 14px;
    line-height: 20px;
    color: #FFF;
    padding: 40px 22px; }
    @media (min-width: 641px) and (max-width: 1200px) {
      /* line 245, ../sass/project/_page-interview.scss */
      .orther__item p {
        padding: 20px 22px; } }
    @media (max-width: 640px) {
      /* line 245, ../sass/project/_page-interview.scss */
      .orther__item p {
        font-size: 3.6458333333vw;
        line-height: 34px; } }
    /* line 260, ../sass/project/_page-interview.scss */
    .orther__item p span {
      font-size: 30px;
      line-height: 45px;
      color: #FFF; }
      @media (max-width: 640px) {
        /* line 260, ../sass/project/_page-interview.scss */
        .orther__item p span {
          font-size: 4.9479166667vw;
          line-height: 45px; } }

@media (max-width: 640px) {
  /* line 273, ../sass/project/_page-interview.scss */
  .orther__item .item__sp,
  .iv__img .item__sp {
    display: block; } }
@media (min-width: 641px) {
  /* line 278, ../sass/project/_page-interview.scss */
  .orther__item .item__pc,
  .iv__img .item__pc {
    display: block; } }

@media (max-width: 640px) {
  /* line 284, ../sass/project/_page-interview.scss */
  .flex-reverse-iv {
    display: flex;
    flex-direction: column-reverse; } }

/* line 1, ../sass/project/_page-work.scss */
.banner__work {
  position: relative;
  background: url(../images/img51.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding-bottom: 59.5%; }
  @media (max-width: 640px) {
    /* line 1, ../sass/project/_page-work.scss */
    .banner__work {
      background: url(../images/img60.png);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 100%;
      padding-bottom: 293.59375%; } }
  /* line 16, ../sass/project/_page-work.scss */
  .banner__work .banner__topw img {
    width: 24px;
    height: 34px; }
    @media (max-width: 640px) {
      /* line 16, ../sass/project/_page-work.scss */
      .banner__work .banner__topw img {
        width: 20px;
        height: 28px; } }
  /* line 24, ../sass/project/_page-work.scss */
  .banner__work .banner__topw p {
    margin-top: 5px; }

/* line 29, ../sass/project/_page-work.scss */
.banner__centerw {
  position: absolute;
  padding-left: 8.3333333333333333%;
  width: 60.58%;
  top: 18.2%; }
  @media (min-width: 641px) and (max-width: 1200px) {
    /* line 29, ../sass/project/_page-work.scss */
    .banner__centerw {
      top: 30%; } }
  @media (max-width: 640px) {
    /* line 29, ../sass/project/_page-work.scss */
    .banner__centerw {
      top: 6.45%;
      width: calc(100% - 60px);
      padding: 0 30px; } }
  /* line 42, ../sass/project/_page-work.scss */
  .banner__centerw p {
    color: #FFF; }
    /* line 44, ../sass/project/_page-work.scss */
    .banner__centerw p:nth-child(1) {
      font-size: 26px;
      padding-bottom: 10px; }
      @media (min-width: 641px) and (max-width: 1200px) {
        /* line 44, ../sass/project/_page-work.scss */
        .banner__centerw p:nth-child(1) {
          font-size: 2.1666666667vw; } }
      @media (max-width: 640px) {
        /* line 44, ../sass/project/_page-work.scss */
        .banner__centerw p:nth-child(1) {
          font-size: 4.9479166667vw; } }
    /* line 54, ../sass/project/_page-work.scss */
    .banner__centerw p:nth-child(2) {
      font-size: 14px; }
      @media (min-width: 641px) and (max-width: 1200px) {
        /* line 54, ../sass/project/_page-work.scss */
        .banner__centerw p:nth-child(2) {
          font-size: 1.1666666667vw; } }
      @media (max-width: 640px) {
        /* line 54, ../sass/project/_page-work.scss */
        .banner__centerw p:nth-child(2) {
          font-size: 3.6458333333vw; } }

/* line 65, ../sass/project/_page-work.scss */
.banner__botw {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: calc(100% - 16.666666666666666%);
  left: 50%;
  transform: translateX(-50%); }
  @media (max-width: 640px) {
    /* line 65, ../sass/project/_page-work.scss */
    .banner__botw {
      flex-direction: column;
      width: calc(100% - 60px);
      padding: 0 30px; } }

/* line 79, ../sass/project/_page-work.scss */
.list__imgw {
  position: relative;
  width: 31.8%;
  overflow: hidden; }
  @media (max-width: 640px) {
    /* line 79, ../sass/project/_page-work.scss */
    .list__imgw {
      width: 100%;
      margin-top: 10px; } }
  /* line 87, ../sass/project/_page-work.scss */
  .list__imgw img.hover {
    width: 100%;
    height: auto;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out; }
  /* line 95, ../sass/project/_page-work.scss */
  .list__imgw:hover {
    background: rgba(255, 255, 255, 0.8); }
    /* line 97, ../sass/project/_page-work.scss */
    .list__imgw:hover img.hover {
      opacity: 1;
      -webkit-animation: flash 1.5s;
      animation: flash 1.5s;
      -webkit-transform: scale(1.2);
      transform: scale(1.2); }
  @media (max-width: 640px) {
    /* line 105, ../sass/project/_page-work.scss */
    .list__imgw .item__sp {
      display: block; } }
  @media (min-width: 641px) {
    /* line 110, ../sass/project/_page-work.scss */
    .list__imgw .item__pc {
      display: block; } }

/* line 116, ../sass/project/_page-work.scss */
.list__itemw {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 20px 20px;
  bottom: 0;
  background-color: rgba(51, 51, 51, 0.7);
  width: calc(100% - 40px); }
  @media (max-width: 640px) {
    /* line 116, ../sass/project/_page-work.scss */
    .list__itemw {
      background: none;
      top: 50%;
      transform: translateY(-50%); } }
  /* line 129, ../sass/project/_page-work.scss */
  .list__itemw p {
    color: #FFF;
    font-size: 18px; }
    @media (min-width: 641px) and (max-width: 1200px) {
      /* line 129, ../sass/project/_page-work.scss */
      .list__itemw p {
        font-size: 1.5vw; } }
    @media (max-width: 640px) {
      /* line 129, ../sass/project/_page-work.scss */
      .list__itemw p {
        font-size: 4.4270833333vw; } }
  /* line 139, ../sass/project/_page-work.scss */
  .list__itemw img {
    margin: 0 0 3px 10px; }

/* line 143, ../sass/project/_page-work.scss */
.article__title {
  flex-direction: column;
  padding: 66px 30px 30px 30px; }
  @media (max-width: 640px) {
    /* line 143, ../sass/project/_page-work.scss */
    .article__title {
      padding: 18px 30px 15px 30px; } }
  @media (min-width: 641px) and (max-width: 1200px) {
    /* line 143, ../sass/project/_page-work.scss */
    .article__title {
      padding: 44px 30px 20px 30px; } }
  /* line 152, ../sass/project/_page-work.scss */
  .article__title p {
    font-family: hirakakupro;
    font-size: 34px;
    color: #2a2a2a;
    text-align: center;
    padding-bottom: 3px; }
    @media (max-width: 640px) {
      /* line 152, ../sass/project/_page-work.scss */
      .article__title p {
        font-size: 5.2083333333vw; } }
    @media (min-width: 641px) and (max-width: 1200px) {
      /* line 152, ../sass/project/_page-work.scss */
      .article__title p {
        font-size: 2.8333333333vw; } }
  /* line 165, ../sass/project/_page-work.scss */
  .article__title hr {
    width: 20px;
    height: 4px;
    background-color: #007eff;
    border: none; }

/* line 172, ../sass/project/_page-work.scss */
.article__work {
  position: relative;
  background: url(../images/img53.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding-bottom: 40.833333333%; }
  @media (max-width: 640px) {
    /* line 172, ../sass/project/_page-work.scss */
    .article__work {
      display: none; } }

/* line 183, ../sass/project/_page-work.scss */
.work__txt {
  position: absolute;
  width: calc(100% - 50% - 100px);
  height: auto;
  left: 50%;
  color: #FFF;
  font-family: hirakakupro;
  padding-right: 100px; }
  /* line 191, ../sass/project/_page-work.scss */
  .work__txt h2 {
    font-size: 26px;
    padding: 88px 0 15px 0; }
    @media (min-width: 641px) and (max-width: 1200px) {
      /* line 191, ../sass/project/_page-work.scss */
      .work__txt h2 {
        font-size: 2.1666666667vw;
        padding: 66px 0 15px 0; } }
  /* line 199, ../sass/project/_page-work.scss */
  .work__txt p {
    font-size: 14px; }
    @media (min-width: 641px) and (max-width: 1200px) {
      /* line 199, ../sass/project/_page-work.scss */
      .work__txt p {
        font-size: 1.1666666667vw; } }

/* line 206, ../sass/project/_page-work.scss */
.article__worksp {
  padding: 0 30px; }
  @media (min-width: 641px) {
    /* line 206, ../sass/project/_page-work.scss */
    .article__worksp {
      display: none; } }
  @media (max-width: 640px) {
    /* line 206, ../sass/project/_page-work.scss */
    .article__worksp {
      padding: 0 30px 15px 30px; } }
  /* line 215, ../sass/project/_page-work.scss */
  .article__worksp .work__imgsp img {
    width: 100%;
    height: auto; }
  /* line 220, ../sass/project/_page-work.scss */
  .article__worksp .work__txtsp {
    font-family: hirakakupro; }
    @media (max-width: 640px) {
      /* line 222, ../sass/project/_page-work.scss */
      .article__worksp .work__txtsp h2 {
        font-size: 4.6875vw;
        padding: 16px 0; } }
    @media (max-width: 640px) {
      /* line 228, ../sass/project/_page-work.scss */
      .article__worksp .work__txtsp p {
        font-size: 3.6458333333vw; } }

/* line 235, ../sass/project/_page-work.scss */
.article__main {
  position: relative;
  background: url(../images/img55.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  padding-bottom: 76.583333333%; }
  @media (max-width: 640px) {
    /* line 235, ../sass/project/_page-work.scss */
    .article__main {
      display: none; } }

/* line 246, ../sass/project/_page-work.scss */
.article__wrap {
  position: absolute;
  display: flex;
  padding-top: 40px; }

/* line 251, ../sass/project/_page-work.scss */
.article__left {
  width: 51.25%; }
  /* line 253, ../sass/project/_page-work.scss */
  .article__left img {
    width: 100%;
    height: auto; }

/* line 258, ../sass/project/_page-work.scss */
.article__right {
  width: calc(100% - 51.25% - 2.5% - 8.33333%);
  padding-left: 2.5%;
  padding-right: 8.33333%;
  font-family: hirakakupro;
  color: #FFF; }
  /* line 264, ../sass/project/_page-work.scss */
  .article__right h2 {
    font-size: 26px;
    padding: 0 0 15px 0; }
    @media (min-width: 641px) and (max-width: 1200px) {
      /* line 264, ../sass/project/_page-work.scss */
      .article__right h2 {
        font-size: 2.1666666667vw; } }
  /* line 271, ../sass/project/_page-work.scss */
  .article__right p {
    font-size: 14px; }
    @media (min-width: 641px) and (max-width: 1200px) {
      /* line 271, ../sass/project/_page-work.scss */
      .article__right p {
        font-size: 1.1666666667vw; } }

/* line 278, ../sass/project/_page-work.scss */
.article__edit {
  top: 46.2459%;
  flex-direction: row-reverse; }
  /* line 281, ../sass/project/_page-work.scss */
  .article__edit .article__left {
    width: 51.25% !important; }
  /* line 284, ../sass/project/_page-work.scss */
  .article__edit .article__right {
    width: calc(100% - 51.25% - 2.5% - 8.33333%);
    padding-left: 8.33333% !important;
    padding-right: 2.5% !important; }

/* line 290, ../sass/project/_page-work.scss */
.pb-50 {
  padding-bottom: 50px; }
