body {
  padding: 0;
  margin: 0;
  font-family: arial;
  font-size: 0.6875em;
  color: #797782;
}
#container {
  background: #121214;
  width: 1000px;
  margin: auto;
  padding-top: 25px;
  padding-left: 70px;
}
.title {
  padding-top: 40px;
  padding-bottom: 30px;
}
.content-post {
  width: 450px;
  float: left;
}
.link {
  color: #fff;
  text-decoration: none;
}
.clear-both {
  clear: both;
}
.content-post img {
  float: left;
  margin-right: 14px;
}
.subtitle {
  color: #fff;
}
.content-text p {
  line-height: 1.4;
  padding-top: 18px;
}
.hr {
  width: 100%;
  border: 1px dotted #595959;
}
.more-info {
  padding-top: 20px;
  padding-bottom: 60px;
}
span {
  padding-top: 5px;
  padding-bottom: 30px;
}
.list ul {
  display: grid;
  grid-template-columns: 38% 38%;
  padding-left: 0;
}
li {
  list-style-type: none;
  line-height: 2;
}
a.inner-list {
  color: #797782;
  padding-left: 14px;
}
li:before {
  content: "";
  border-color: rgba(107, 76, 76, 0) #838080;
  border-style: solid;
  border-width: 0.35em 0 0.35em 0.45em;
  display: block;
  height: 0;
  width: 0;
  left: 0;
  top: 15px;
  position: relative;
}
.inner-profile {
  width: 160px;
  height: 400px;
  float: left;
  background-color: #232326;
  margin-left: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.inner-profile .hr {
  margin-top: 80px;
  margin-bottom: 30px;
}
.inner-profile > img,
.note {
  padding-bottom: 20px;
}
.inner-profile .more-info img {
  float: left;
  margin-right: 14px;
}
.box-img {
  text-align: center;
  padding-bottom: 20px;
}
span.white {
  color: #fff;
}
.inner-profile > .subtitle,
.inner-profile > .subtitle + div {
  padding-bottom: 5px;
}
