* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, serif;
    font-size: 0.6875em;
}

.container {
    background: #121214;
    color: #797782;
    display: flex;
    padding: 26px 25px;
    margin: 0 auto;
    width: 1000px;
}

.content-left {
    width: 450px;
    float: left;
}

.content-right {
    float: left;
    background: #232227;
    width: 200px;
    height: 300px;
    padding: 50px 20px 20px 40px;
    margin-left: 30px;
}

.title {
    margin-bottom: 30px;
}

.content-box img {
    float: left;
    margin-right: 15px;
}

.content-box:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.content-text h4 {
    color: white;
}

.content-text {
    padding-right: 20px;
}

.content-box {
    border-bottom: 1px dotted #3f3f41;
    padding: 12px 0px;
}

.content-text p {
    margin-top: 36px;
}

.more-info:before {
    content: url(../images/more-info.gif);
    margin-top: 1px;
    margin-right: 4px;
    float: left;
}

.more-info {
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    text-decoration: none;
    color: white;
    display: block;
    padding: 12px 0;
}

.content-2 {
    margin-top: 70px;
}

.white {
    color: white;
    padding-bottom: 3px;
}

.list {
    float: left;
    width: 50%;
}

.list ul li a {
    color: #9494a0;
    -webkit-text-decoration: underline;
    -moz-text-decoration: underline;
    -ms-text-decoration: underline;
    -o-text-decoration: underline;
    text-decoration: underline;
    padding-left: 10px;
}

.list ul {
    list-style: none;
}

.list li:before {
    content: "";
    border-color: rgba(107, 76, 76, 0) #838080;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: 0;
    top: 0.9em;
    position: relative;
}

.content-3 {
    border-top: 1px solid #353439;
    padding: 18px 0;
    margin-top: 15px;
}
.content-3-text {
    margin-top: 22px;
}

.content-right {
    margin-right: 200px;
}
