@import "common.scss";

.mt__40 {
	margin-top: 40px;
}
.mt__30 {
	margin-top: 30px;
}
.mt__24 {
	margin-top: 24px;
}
.mt__7 {
	margin-top: 7px;
}
.text__style--1 {
	font-size: 16px;
	line-height: 25px;
	color: $color_3;
	font-weight: 500;
}
.text__style--2 {
	font-size: 14px;
	line-height: 24px;
	color: $color_3;
	font-weight: 500;
}
.wrapper__container {
	width: 1000px;
	margin: 0 auto;
}
.title {
	background: url(../../images/main_title_bg.png) no-repeat;
    display: flex;
    align-items: center;
    margin-top: 27px;
	p {
		padding: 23px 0px 23px 25px;
		font-size: 36px;
		letter-spacing: 5px;
		line-height: 26px;
		color: white;
		font-family: 'Yu Mincho', sans-serif;
		font-weight: bold;
	}
}
.breadcrumb {
	display: flex;
	list-style-type: none;
	padding-left: 3px;
	margin-top: 5px;
}

.breadcrumb__item {
	color: $color_1;
	text-decoration: none;
	font-weight: 700;
	font-size: 12px;
	&+li.breadcrumb__item {
		padding-left: 10px;
		&:before {
			display: inline-block;
			padding-right: 4px;
			color: $color_1;
			content: ">";
		}
	}
}
.main {
	display: flex;
	justify-content: center;
	margin-top: 9px;
}
.box {
	top: 16px;
	width: 97%;
}
.section__container {
	top: 0;
	width: 100%;
	background-color: #ffffff;
}
.section__first {
	width: 96.7%;
	p {
		&:nth-child(1) {
			margin-top: 9px;
			width: 100%;
			font-size: 18px;
			line-height: 23px;
			color: #000000;
			font-weight: bold;
		}
		&:nth-child(2) {
			margin-top: 7px;
			width: 100%;
			font-size: 16px;
			line-height: 25px;
			color: #000000;
			font-weight: 500;
		}
	}
}
.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.section__title {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	font-weight: 700;
	color: #000000;
	width: 96.7%;
	box-shadow: 0 0 8px rgba(0,0,0,0.35);
	background-image: linear-gradient(0deg, #a2712e 0%, #d6b32d 50%, #a2712e 100%);
	cursor: pointer;
	p {
		padding: 4.5px 0;
	}
}
.title__after {
	position: absolute;
	right: 34px;
	display: flex;
	flex-direction: column;
	width: 26px;
	height: 26px;
	border: 1.5px solid #ffffff;
	div {
		width: 15px;
		height: 1.5px;
		background-color: #ffffff;
	}
}
.bar1 {
	margin: 12px 5px 5px 5.5px;
}
.bar2 {
	opacity: 0;
}
.change {
	.bar2 {
		opacity: 1;
		transform: rotate(90deg) translate(-7px, -5.5px);
		-webkit-transform: rotate(90deg) translate(-7px, -5.5px);
		-moz-transform: rotate(90deg) translate(-7px, -5.5px);
		-ms-transform: rotate(90deg) translate(-7px, -5.5px);
		-o-transform: rotate(90deg) translate(-7px, -5.5px);
	}
}
.section__content {
	margin-bottom: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 96.7%;
	background: url("../../images/image_5.png");
}
.step {
	width: calc(100% - 40px);
	display: flex;
	flex-direction: column;
	align-items: center;
}
.step__title {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 18px;
	line-height: 23px;
	color: #000000;
	font-weight: bold;
	background-color: #fefbd2;
	p {
		margin-left: 30px;
		padding: 13px 0;
	}
}
.step__content {
	width: calc(100% - 6px);
	background-color: #ffffff;
	border: 3px solid #c49d1a;
	border-top: 1.5px solid #c49d1a;
}
.step__content--1 {
	p {
		&:first-child {
			margin: 14px 0px 0px 27px;
		}
		&:nth-child(2) {
			margin: 14px 0px 0px 27px;
		}
		&:nth-child(3) {
			margin: 0px 0px 15px 27px;
		}
	}
}
img.scroll {
	margin: 15px 0px;
}
.step__content--2 {
	p {
		margin: 21px 0px 21px 27px;
	}
}
.step__content--3 {
	width: calc(100% - 4px);
	display: grid;
	grid-template-columns: 50% 50%;
	justify-content: center;
	p {
		&:first-child {
			margin: 15px 0px 0px 27px;
		}
		&:nth-child(2) {
			font-size: 14px;
			line-height: 24px;
			color: #000000;
			font-weight: 500;
			margin: 0px 0px 0px 27px;
		}
	}
}
.black__square {
	img {
		margin: 22px 0px 14px 6px;
	}
}
.step__content--4 {
	width: calc(100% - 4px);
	display: grid;
	grid-template-columns: 50% 50%;
	justify-content: center;
}
.step__4__left {
	p {
		&:first-child {
			margin: 15px 0px 0px 27px;
		}
		&:nth-child(2) {
			margin: 15px 0px 15px 27px;
		}
	}
}
.step__4__right {
	img {
		margin: 22px 0px 0px 6px;
	}
}
.step__content--5 {
	p {
		&:first-child {
			margin: 15px 0px 0px 27px;
		}
		&:nth-child(2) {
			margin: 15px 0px 17px 27px;
		}
	}
}
.step--last {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	div {
		&:first-child {
			font-size: 16px;
			line-height: 25px;
			color: #ffffff;
			font-weight: 500;
			margin: 15px 0px 0px 0px;
		}
		&:nth-child(2) {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			width: calc(100% - 553px);
			border-radius: 5px;
			background-image: linear-gradient(0deg, #f0bf40 0%, #f0bf40 22%, #f0bf40 48%, #feedaa 50%, #feedaa 75%, #feedaa 100%);
			font-size: 26px;
			line-height: 19px;
			color: #000000;
			font-weight: bold;
			margin: 16px 0px 19px 0px;
			p {
				padding: 22.5px 0px;
				&::before {
					position: absolute;
					content: "";
					left: 13px;
					width: 17px;
					height: 17px;
					background: url("../../images/button_before.png");
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}
}
.section__2 {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin-top: 22px;
	width: 100%;
}
.main__button {
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__btn {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	width: 432px;
	height: 78px;
	border-radius: 5px;
	background-image: linear-gradient(0deg, #f0bf40 0%, #f0bf40 22%, #f0bf40 48%, #feedaa 50%, #feedaa 75%, #feedaa 100%);
	color: #000000;
	font-weight: bold;
	font-size: 32px;
	line-height: 24px;
	color: #000000;
	font-weight: bold;
	margin-top: 40px;
	p {
		&::before {
			position: absolute;
			content: "";
			left: 27px;
			width: 17px;
			height: 17px;
			background: url("../../images/button_before.png");
			top: 50%;
			transform: translateY(-50%);
		}
	}
}