@import "../scss-01/common.scss";
@import "../scss-01/header.scss";
@import "../scss-01/navbar.scss";
@import "../scss-01/footer.scss";
@import "../scss-02/content-2.scss";
@import "../scss-02/responsive-1.scss";
@import "../scss-02/responsive-2.scss";
@import "../scss-02/responsive-3.scss";
@import "../scss-02/responsive-4.scss";
@import "../scss-02/responsive-5.scss";

@font-face {
	font-family: 'Yu Gothic';
	font-style: normal;
	src: url('../../fonts/yugothib.ttf') format('woff2');
}
@font-face {
	font-family: 'Yu Mincho';
	font-style: normal;
	src: url('../../fonts/yumin.ttf') format('woff2');
}
* {
	padding: 0;
	margin: 0;
}
.ml-5 {
	margin-left: 5px;
}
body {
	font-family: $font_family_1;
	background: black;
}
input {
	padding-left: 7px;
}
hr {
	height: 70%;
	border: 0.5px solid #53492e;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
li {
	list-style-type: none;
}