@media (min-width: 576px) and (max-width: 767.98px) {
  .mt__17 {
    margin-top: 29px; }

  .mt__7 {
    margin-top: 7px; }

  input {
    height: 59px;
    border: 1.5px solid #c39d1a; }

  nav {
    display: none; }

  nav.nav.show {
    top: 67px; }

  .header__mobile {
    position: relative;
    display: flex;
    background-color: white;
    justify-content: flex-end;
    background-image: url("../../images/image_15.png");
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 10px;
    height: 67px;
    background-size: 90px; }

  button.header__btn__1 {
    width: 140px;
    border-radius: 5px;
    box-shadow: 0.5px 0.866px 3px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(0deg, #ff6810 0%, #ff6810 22%, #ff6810 48%, #ff9024 50%, #ff9024 75%, #ff9024 100%);
    font-size: 26px;
    line-height: 56px;
    color: white;
    font-family: "Yu Gothic";
    font-weight: bold;
    border: none;
    margin: 10px 20px 10px 0;
    cursor: pointer;
    width: 93px;
    font-size: 17px;
    line-height: normal; }

  .header__btn__2 {
    border: none;
    background-color: #278305;
    cursor: pointer;
    position: relative; }

  .bar1 {
    width: 40px;
    height: 7px;
    background-color: white;
    margin: 7px 20px;
    transition: 0.4s;
    height: 5px;
    width: 33px;
    margin: 6px 17px; }

  .bar2 {
    width: 40px;
    height: 7px;
    background-color: white;
    margin: 7px 20px;
    transition: 0.4s;
    height: 5px;
    width: 33px;
    margin: 6px 17px; }

  .bar3 {
    width: 40px;
    height: 7px;
    background-color: white;
    margin: 7px 20px;
    transition: 0.4s;
    height: 5px;
    width: 33px;
    margin: 6px 17px; }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-8px, 8px);
    transform: rotate(-45deg) translate(-12px, 10px);
    transform: rotate(-45deg) translate(-8px, 8px);
    -moz-transform: rotate(-45deg) translate(-8px, 8px);
    -ms-transform: rotate(-45deg) translate(-8px, 8px);
    -o-transform: rotate(-45deg) translate(-8px, 8px); }
  .change .bar2 {
    opacity: 0; }
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-7px, -8px);
    -moz-transform: rotate(45deg) translate(-7px, -8px);
    -ms-transform: rotate(45deg) translate(-7px, -8px);
    -o-transform: rotate(45deg) translate(-7px, -8px); }

  header {
    background: url("../../images/banner_mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: calc((100 / 320) * 100%);
    height: auto; }
    header img {
      display: none; }

  ol.breadcrumb li a {
    font-size: 13px !important; }

  .wrapper__container {
    width: 100%; }

  .title {
    height: 54px;
    margin-top: 0; }
    .title p {
      font-size: 27px;
      padding-left: 20px; }

  .main img {
    height: 1379px; }

  .box {
    top: 13px; }
    .box img {
      height: 1292px;
      margin-top: 1px; }

  .main {
    border: 10px solid transparent;
    border-image: url(../../images/image_2.png) 15 stretch;
    margin: 15px 18px 0px 18px; }

  .box {
    border: 12px solid transparent;
    border-image: url(../../images/image_3.png) 20 stretch; }

  .section {
    width: calc(100% - (40px / 2));
    margin: auto; }

  .section__title {
    width: 100%;
    margin-top: 15px;
    height: 40px;
    font-size: 17px; }

  .section__content {
    width: 100%; }

  .content__highlight {
    flex-direction: column;
    margin-top: 0;
    width: calc(100% - 20px); }

  .content__highlight--left {
    padding-top: calc(((100 / 2000)* 100%) / 1.5);
    clip-path: polygon(100% 0, 100% 65%, 51% 100%, 0 65%, 0 0);
    width: 100%;
    margin: 0;
    justify-content: flex-start;
    text-align: center;
    margin-top: 13px;
    height: 101px; }
    .content__highlight--left p {
      line-height: normal; }
      .content__highlight--left p:first-child {
        font-size: 19px; }
      .content__highlight--left p:last-child {
        font-size: 15px; }

  .content__highlight--right {
    padding-top: calc(((100 / 2000)* 100%) / 1.5);
    clip-path: polygon(100% 0, 100% 65%, 51% 100%, 0 65%, 0 0);
    width: 100%;
    margin: 0;
    justify-content: flex-start;
    text-align: center;
    margin-top: 13px;
    height: 101px; }
    .content__highlight--right p {
      line-height: normal; }
      .content__highlight--right p:first-child {
        font-size: 19px; }
      .content__highlight--right p:last-child {
        font-size: 15px; }

  .section__text {
    font-size: 16px;
    margin-top: 26px;
    margin-bottom: 42px; }

  .section__2 {
    margin-top: 20px; }

  .section__title--2 {
    width: calc(100% - (40px / 2));
    font-size: 17px;
    height: 40px; }

  .section__2__content {
    width: calc(100% - (40px / 2));
    margin-bottom: 0; }

  .title__border--red {
    display: none; }

  .box__content {
    width: 100%;
    margin-top: 0; }

  .box__content__item {
    flex-direction: column;
    align-items: flex-start; }
    .box__content__item .content__left p {
      color: #ff3326;
      padding-left: 19px; }
    .box__content__item .content__right {
      margin: 0 13px;
      padding-left: 0;
      width: calc(100% - 31px); }
      .box__content__item .content__right p:first-child {
        display: none; }
    .box__content__item:nth-child(1) .content__right p {
      font-size: 15px;
      color: white; }
    .box__content__item:nth-child(2) .content__right .content__input div:nth-child(1) input {
      width: 120px; }
    .box__content__item:nth-child(2) .content__right .content__input div input {
      width: 120px; }
    .box__content__item:nth-child(2) .content__right .content__input div p {
      font-size: 17px;
      color: white; }
    .box__content__item:nth-child(2) .content__right p {
      font-size: 15px;
      color: white; }
    .box__content__item:nth-child(3) .content__left {
      height: auto;
      margin: 0 13px;
      padding-left: 0; }
    .box__content__item:nth-child(3) .content__right {
      margin: 13px;
      width: calc(100% - 55px);
      height: 277px;
      overflow: auto;
      padding: 13px; }
      .box__content__item:nth-child(3) .content__right p {
        width: 100%;
        height: 100%;
        display: block;
        color: #000000;
        overflow: auto; }

  .content__left {
    width: 100%;
    margin: 12px 13px 0px 13px;
    padding-left: 0;
    background: none;
    color: #c49d1a;
    font-size: 16px; }

  .box__content__last {
    margin-top: 0; }
    .box__content__last .content__last--1 {
      display: none; }
    .box__content__last div:nth-child(2) #check + label {
      border: none; }

  .box__content__last div:nth-child(3) {
    margin: 11px 0px 19px 0px; }

  footer {
    width: 100%; }

  .footer__bg {
    margin-top: 700px;
    width: calc(100% - 10px);
    margin-bottom: 10px; }
    .footer__bg img {
      width: calc(100% / 8);
      height: auto; }

  .footer__text {
    top: 20px;
    width: calc(100% - 40px);
    flex-direction: column;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    line-height: 2; }
    .footer__text p {
      font-size: 15px;
      width: 100%;
      border: 1px solid white;
      padding: 2px 0;
      margin-bottom: 20px; }

  .footer__list__img {
    width: calc(100% - 40px);
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 49.6% 49.6%;
    top: 120px;
    border-top: 1px solid #444444;
    padding-top: 27px; }
    .footer__list__img img {
      width: 100%; }
      .footer__list__img img:nth-child(3), .footer__list__img img:nth-child(4) {
        margin-top: 5px; }

  .footer__link {
    top: 335px;
    width: 100%;
    flex-direction: column; }
    .footer__link img {
      display: none; }
    .footer__link ul {
      order: 1;
      flex-direction: column;
      width: 100%;
      background: url("../../images/section_content_bg.png") no-repeat; }
      .footer__link ul li {
        padding: 19px 0;
        padding-left: 0;
        justify-content: space-between;
        border-top: 1px solid #444444; }
        .footer__link ul li:last-child {
          border-bottom: 1px solid #444444; }
        .footer__link ul li a {
          margin-left: 20px; }
          .footer__link ul li a::after {
            position: absolute;
            content: "";
            background: url(../../images/nav_before_white.svg) no-repeat;
            width: 23px;
            height: 22px;
            right: 12px;
            margin-top: 2px; }
        .footer__link ul li svg {
          display: none;
          order: 2;
          margin-right: 10px; }
    .footer__link p {
      order: 2;
      width: calc(100% - 20px);
      margin-top: 20px;
      font-size: 16px; }

  .footer__link {
    font-size: 14px; }
    .footer__link ul {
      font-size: 12px; } }

/*# sourceMappingURL=responsive-3.css.map */
