@charset "utf-8";

body {
    color: #73523f;
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 13px;
    background: #fff;
}

ol,ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

p {
    line-height: 1.6;
}

.container {
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: block;
    max-width: 960px;
    min-width: 960px;
    position: relative;
}

/* Header */
.header {
    width: 100%;
    height: auto;
    display: inline-block;
    margin: 0 auto;
    border-top: 4px solid #f0831e;
    position: relative;
    z-index: 200;
}

.header h4 {
    color: #66402b;
    display: inline-block;
    font-size: 12px;
    text-align: left;
    margin: 10px 0;
    width: 100%;
}

.header .header_logo {
    height: auto;
    max-width: 100%;
    margin-top: 10px;
}

.header_info {
    float: right;
    display: inline-block;
    max-width: 270px;
    width: 100%;
    height: auto;
    margin-top: 0;
    text-align: right;
    font-size: 12px;
}

div.header_info p {
    display: inline-block;
    width: 100%;
}

.header_info span {
    color: #f0831e;
    width: 100%;
}

.header .container a {
    float: left;
}
/* End of header */

/* Navbar */
.nav {
    width: 100%;
    height: 55px;
    display: inline-block;
    position: relative;
    z-index: 999;
    float: left;
    background: url(../images/bg_menu.jpg) repeat-x left top;
    margin: 15px 0 0 0;
}

.menu {
    height: auto;
    margin: 0 auto;
    width: 100%;
    /* height: 55px; */
    display: block;
    min-width: 973px;
    max-width: 973px;
}

.menu ul {
    margin: 1px 0 0 0;
    padding: 0;
    width: 100%;
    display: inline-block;
    height: 53px;
}

div.menu ul li {
    float: left;
    width: 133px;
    height: 53px;
    background: url(../images/bg_line_menu.jpg) no-repeat left center;
    padding: 0 3px;
}

.menu ul li a {
    width: 100%;
    height: 53px;
    text-align: center;
    display: block;
    position: relative;
}

.menu ul li a.menu_1:hover img,
.menu ul li.menu_1 a.active img,
.menu ul li a.menu_2:hover img,
.menu ul li.menu_2 a.active img,
.menu ul li a.menu_3:hover img,
.menu ul li.menu_3 a.active img,
.menu ul li a.menu_4:hover img,
.menu ul li.menu_4 a.active img,
.menu ul li a.menu_5:hover img,
.menu ul li.menu_5 a.active img,
.menu ul li a.menu_6:hover img,
.menu ul li.menu_6 a.active img,
.menu ul li a.menu_7:hover img,
.menu ul li.menu_7 a.active img {
    display: none;
}

.menu ul li a.menu_1:hover,
.menu ul li.menu_1 a.active {
    background: url(../images/menu_1_hover.jpg) no-repeat center center;
}

.menu ul li a.menu_2:hover,
.menu ul li.menu_2 a.active {
    background: url(../images/menu_2_hover.jpg) no-repeat center center;
}

.menu ul li a.menu_3:hover,
.menu ul li.menu_3 a.active {
    background: url(../images/menu_3_hover.jpg) no-repeat center center;
}

.menu ul li a.menu_4:hover,
.menu ul li.menu_4 a.active {
    background: url(../images/menu_4_hover.jpg) no-repeat center center;
}

.menu ul li a.menu_5:hover,
.menu ul li.menu_5 a.active {
    background: url(../images/menu_5_hover.jpg) no-repeat center center;
}

.menu ul li a.menu_6:hover,
.menu ul li.menu_6 a.active {
    background: url(../images/menu_6_hover.jpg) no-repeat center center;
}

.menu ul li a.menu_7:hover,
.menu ul li.menu_7 a.active {
    background: url(../images/menu_7_hover.jpg) no-repeat center center;
}

.menu ul li.menu_3 ul.subNav,
.menu ul li.menu_4 ul.subNav {
    display: none;
}

.menu li.menu_3:hover ul.subNav,
.menu li.menu_4:hover ul.subNav {
    background: none repeat scroll 0 0 #ffc472;
    display: block;
    height: auto;
    margin-left: -3px;
    position: absolute;
    top: 53px;
    width: 141px;
}

.menu ul li ul.subNav li.subNav {
    height: auto !important;
    margin: 0 !important;
    padding: 10px 0 9px 0;
    text-align: center;
    width: 100%;
    border: none;
    border-bottom: 1px solid #d19c5d;
    background: none;
}

.menu ul li ul.subNav li.subNav:hover {
    background: url(../images/bg_menu_sub.jpg) no-repeat center center;
}

.menu ul li ul.subNav li.subNav a.subNav {
    color: #66402b;
    text-align: center;
    font-size: 14px;
    float: none !important;
    height: auto !important;
    z-index: 999999999 !important;
}

.menu ul li ul.subNav li.subNav a.subNav:hover {
    color: #ffffff;
}
/* End of navbar */

/* Banner */
.banner {
    background: url(../images/bg_banner.jpg) repeat-x center top;
    display: inline-block;
    width: 100%;
    height: 394px;
    margin: 0 auto;
    position: relative;
    z-index: 200;
    text-align: center;
}


.slide {
    display: block;
    width: 100%;
    height: 380px;
    max-width: 960px;
    min-width: 960px;
    margin: 0 auto;
    text-align: center;
}
/* End of banner */

/* Content */
.content {
    width: 100%;
    height: auto;
    max-width: 702px;
    margin-top: 25px;
    float: left;
}

.content p {
    font-size: 12px;
}

.section {
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}

.section .title {
    background: url(../images/bg_line_text.gif) no-repeat left bottom;
    margin-bottom: 15px;
}

/* .section img {
    margin-top: 10px;
} */

.section .title h2 {
    font-size: 19px;
    font-family: "HiraKakuStd";
    font-weight: 500;
    line-height: 2.105;
    margin-left: 5px;
    text-align: left;
}

.content_1 {
    float: right;
    width: 100%;
    max-width: 417px;
}

.content_1 p {
    display: inline-block;
    margin-bottom: 25px;
}

.box_1 {
    width: 218px;
    height: auto;
    float: left;
    vertical-align: top;
    text-align: left;
    border: 1px solid #d9d9d9;
}

.box_1.box_2 {
    margin: 0 16px;
}

.box_1 p {
    height: 115px;
    margin: 5px 10px 5px 10px;
    display: inline-block;
}

.box_1 a {
    display: inline-block;
    margin: 6px 11px;
}

h2.edit_1 {
    float: left;
}

a.img_button_2 {
    float: right;
    padding-top: 12px;
}

dl.index {
    display: inline-block;
    height: auto;
    width: 100%;
    text-align: left;
}

dl.index dt {
    float: left;
    background: url(../images/bullet_1.jpg) no-repeat left 7px;
    margin-left: 7px;
    padding-left: 14px;
}

dl.index dd {
    background: url(../images/bg_index_dl.jpg) repeat-x left bottom 6px;
    padding-bottom: 14px;
    padding-left: 130px;
}
/* End of content */

/* Aside */
.aside {
    width: 230px;
    height: auto;
    margin-top: 25px;
    float: right;
}

.bg_border_r_2 h2 {
    border-bottom: 2px solid #ffa935;
    font-size: 17px;
    font-weight: 500;
    color: #66402b;
    margin-bottom: 14px;
}

.bg_border_r_1 {
    display: inline-block;
    width: 218px;
    margin: 20px 0;
    padding: 4px;
    border: 1px solid #e9dfd9;
    background: #fffcf8;
}

.bg_border_r_2 {
    display: inline-block;
    width: 197px;
    border: 1px solid #e9dfd9;
    background: #fff;
    padding: 10px;
}

.aside ul {
    display: inline-block;
    width: 100%;
    text-align: left;
}

.aside ul li {
    background: url(../images/bullet_2.jpg) no-repeat left center;
    display: inline-block;
    font-size: 12px;
    width: 178px;
    padding-left: 14px;
    margin: 2px 0 2px 20px;
}

.aside ul li a {
    color: #66402b;
}

.aside ul li.li_1 {
    background: url(../images/bullet_1.jpg) no-repeat left center;
    font-size: 14px;
    border-bottom: 1px solid #e9dfd9;
    margin-left: 6px;
    margin-bottom: 5px;
}

.bg_border_r_3 h2 {
    font-size: 20px;
    font-weight: 500;
    color: #66402b;
}

.bg_border_r_3 {
    width: 192px;
    height: auto;
    padding: 15px 15px 10px 15px;
    border: 4px solid #e9dfd9;
    text-align: left;
}

p.aside_p_1 {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    margin: 10px 0;
}

.aside_map {
    width: 190px;
    height: 130px;
    display: inline-block;
    margin-bottom: 10px;
    border: none;
}
/* End of aside */

/* Footer */
.footer {
    /* background: url(../images/bg_footer.jpg) repeat-x left top; */
    margin: 50px auto 0 auto;
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 99;
    padding: 30px 0;
}

/* div.f_l {
    display: inline-block;
    width: 100%;
    max-width: 350px;
    height: auto;
    font-size: 12px;
    float: left;
    text-align: left;
}

div.f_l p {
    margin: 8px 0px;
} */

/* div.menu_footer_1 {
    width: 100%;
    max-width: 300px;
    height: auto;
    border: 1px solid #e7d3c1;
    margin-left: 20px;
    padding: 20px 0px 20px 30px;
    float: left;
}

div.menu_footer_1 ul {
    display: inline-block;
    width: 100%;
    max-width: 150px;
    float: left;
    vertical-align: top;
} */
/* 
div.menu_footer_1 ul li {
    text-align: left;
    margin: 3px 0;
    display: inline-block;
    width: 100%;
}

div.menu_footer_1 ul li a {
    background: url(../images/bullet_3.jpg) no-repeat left center;
    color: #525260;
    font-size: 14px;
    padding-left: 15px;
}

div.menu_footer_2 {
    background: rgba(255, 255, 255, 0.72);
    width: 100%;
    max-width: 178px;
    height: auto;
    margin-left: 20px;
    padding: 10px 0px 7px 22px;
    float: left;
}

div.menu_footer_2 ul li {
    margin: 1.5px 0 1.5px 8px;
    text-align: left;
}

div.menu_footer_2 ul li.menu_1 {
    margin: 3px 0;
}

div.menu_footer_2 ul li a {
    color: #525260;
    background: url(../images/bullet_3.jpg) no-repeat left center;
    padding-left: 20px;
    display: inline-block;
}

div.menu_footer_2 ul li.menu_1 a {
    background: url(../images/bullet_1.jpg) no-repeat left 5px;
    font-size: 16px;
} */

/* #page-top {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 500;
}

#page-top a {
    background: #f0831e;
    color: #fff;
    display: block;
    width: 80px;
    padding: 15px 0;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

#page-top a:hover {
    background: #ffb452;
} */

/* div.copyright {
    text-align: center;
    padding: 7px 0;
    display: inline-block;
    width: 100%;
    font-size: 11px;
    font-weight: bold;
    background: #f88e01;
    color: #fff;
} */
/* End of footer */

/* Common */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
tbody,
tfoot,
thead {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
}

/* :focus {
    outline: 0;
}

caption {
    font-weight: normal;
    text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: "" "";
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

.clear_fix {
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

img.aside_button:hover,
p.page_top a img:hover,
img.aside_pic_5:hover,
img.aside_pic_6:hover,
div.box_1 a img:hover,
a.img_button_2 img:hover,
.btSli7 a:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
} */
/* End of common */
