.banner__model {
    background: url(../images/img64.png) no-repeat;
    background-size: 100% 100%;
    padding-bottom: 25.8823529%;
    @media (max-width: 767px) {
        background: url(../images/img65.png) no-repeat;
        background-size: 100% 100%;
        padding-bottom: 67.03125%;
    }
}
.model__title {
    font-size: 50.5px;
    color: #333333;
    font-weight: bold;
    text-align: center;
    margin-top: 5.2%;
    line-height: 1;
    span {
        display: inline-block;
        vertical-align: middle;
    }
    .day__trip {
        position: relative;
        background-color: #f44d5c;
        color: $white;
        font-size: 23px;
        font-weight: bold;
        // flex-shrink: 1;
        padding: 8px 10px;
        &:after {
            position: absolute;
            content: '';
            display: block;
            border-style: solid;
            width: 0;
            border-color: transparent #f44d5c;
            border-width: 7px 0 7px 12px;
            right: -12px;
            top: 14px;
        }
    }
}
.model__edit {
    margin-top: 0;
}
.sup__model {
    margin: 2% 0 3.5% 0;
}
.box__trip {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4%;
    @media (max-width: 767px) {
        flex-direction: column;
    }
}
.trip__txt {
    width: 62%;
    height: 100%;
    @media (max-width: 767px) {
        width: 100%;
    }
    p {
        line-height: 1.9;
        color: #333333;
    }
}
.trip__pic {
    width: 35.73%;
    height: 100%;
    margin-top: -6%;
    @media (max-width: 767px) {
        width: 100%;
    }
    img {
        max-width: 100%;
        height: auto;
        @media (max-width: 767px) {
            width: 100%;
            height: auto;
        }
    }
}
.section__modelmap {
    background: url(../images/img68.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 49.4118%;
    @media (max-width: 767px) {
        background: url(../images/img69.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding-bottom: 100%;
    }
}
.day__title {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #f44d5c;
    font-size: 26.46px;
    line-height: 1;
    color: $white;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
    margin-top: 10.5%;
    margin-bottom: 2.2%;
    &:after {
        content: '';
        position: absolute;
        display: block;
        border-style: solid;
        width: 0;
        border-width: 13px 7.5px 0 7.5px;
        left: 50%;
        top: 100%;
        margin-left: -10.5px;
        border-color: #f44d5c transparent;
    }
}
.schedule__box {
    display: flex;
    width: 100%;
}
.fz-24 {
    font-size: 24px;
    line-height: 1.25;
    font-weight: bold;
    padding: 13px 0;
}
.schedule__time {
    width: 14.4%;
    color: $white;
    background-color: #333333;
    text-align: center;
}
.schedule__go {
    width: 85.6%;
    background-color: #f2f2f2;
    padding-left: 2%;
}
.schedule__herenow {
    position: relative;
    margin-top: 6.8%;
}
.schedule__local {
    margin-top: 7%;
}
.here__now {
    position: absolute;
    width: 64px;
    height: 64px;
    top: -4px;
    left: -33px;
    @media (min-width: 768px) and (max-width: 1100px) {
        left: -40px;
    }
    img {
        width: 100%;
        height: 100%;
    }
}
.schedule__text {
    width: 83.6%;
    margin-left: 16.4%;
    margin-top: 2.2%;
}
.schedule__txt {
    color: #333333;
    line-height: 1.6;
}
.schedule__link {
    padding: 6px 10px;
    background-color: #f44d5c;
    display: inline-block;
    margin-top: 2.6%;
    color: $white;
}
.schedule__edit {
    align-items: center;
    .schedule__go {
        width: 59.558333%;
    }
}
.schedule__img {
    width: 26.041667%;
    img {
        max-width: 100%;
        height: auto;
    }
}
.mt-1 {
    margin-top: 1%;
}
.text__edit {
    width: 55.558333%;
    margin-top: -2%;
}

.section__recommended {
    background-color: #f2f2f2;
}
.schedule__edit--2 {
    align-items: center;
    .schedule__go {
        width: 47.370833%;
    }
    .schedule__supimg {
        width: 11.5625%;
        img {
            max-width: 100%;
            height: auto;
        }
    }
    .schedule__bar {
        width: 0.625%;
        height: 56px;
        background-color: #f2f2f2;
    }
}
.section__day {
    .day__title {
        margin-top: 7.2%;
    }
}
.mt-2 {
    margin-top: 2%;
}
.mt-6 {
    margin-top: 6%;
}
.schedule__last {
    margin-bottom: 15%;
}
.recommended__title {
    font-family: "Myriad Pro";
    font-size: 40px;
    text-align: center;
    padding: 4% 0 2.4% 0
}
.recommended__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8%;
}
.recommended__item {
    position: relative;
    width: 23.488372%;
    img {
        max-width: 100%;
        height: auto;
    }
    p {
        position: absolute;
        bottom: 0px;
        padding: 13px 21px;
        background-color: rgba(51, 51, 51, 0.7);
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
    }
}