.banner {
    position: relative;
    background: url(../images/img04.png) no-repeat;
    background-size: 100% 100%;
    padding-bottom: 25.8823529%;
    @media (max-width: 767px) {
        background: url(../images/img17.png) no-repeat;
        background-size: 100% 100%;
        padding-bottom: 67.03125%;
    }
    p {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        width: 100%;
        font-size: 80px;
        letter-spacing: 2px;
        color: $white;
        font-weight: 400;
        font-family: 'BebasNeue Book';
        @media (min-width: 768px) and (max-width: 1099px) {
            font-size: 60px;
        }
        @media (max-width: 767px) {
            font-size: 48px;
        }
        @media (max-width: 480px) {
            font-size: 40px;
        }
    }
}
.menu__content {
    padding: 8px 0px;
    background-color: #ffffff;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        li.active-bg-dark {
            background: #000000;
            a {
                color: #ffffff;
                &:before {
                    content: unset;
                }
                &:after {
                    content: unset !important;
                }
            }
        }
        li {
            background: url("../images/img16.png") no-repeat right center;
            &:last-child {
                background-image: none !important;
            }
            &:hover {
                background-color: #000000;
                background-image: none !important;
            }
            margin: 8px 0;
            a {
                position: relative;
                font-family: 'BebasNeue', sans-serif;
                display: block;
                padding: 10px 15px;
                font-size: 27px;
                line-height: calc(17 / 27);
                color: #000000;
                width: 100%;
                @media (min-width: 481px) and (max-width: 1099px) {
                    font-size: 24px;
                }
                @media (max-width: 480px) {
                    font-size: 18px;
                }
                // @media (max-width: 480px) {
                //     font-size: 14px;
                // }
                &:hover {
                    color: #ffffff;
                    &:before {
                        content: unset;
                    }
                    &:after {
                        content: unset !important;
                    }
                }
            }
        }
    }
}
.breadcrumb {
    width: 100%;
    max-width: 1320px;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0.78%;
    @media (max-width: 767px) {
        display: none;
    }
    li {
        color: #666666;
        display: inline-block;
        text-transform: uppercase;
        font-size: 16px;
        line-height: calc(34 / 16);
        &:nth-child(1)::after,
        &:nth-child(2)::after {
            content: '>';
            padding-left: 5px;
        }
        a {
            color: #666666;
            &:nth-child(1),
            &:nth-child(2) {
                border-bottom: 1px solid #666666;
            }
        }
    }
}

.main__content {
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}
.section {
    width: 100%;
    // max-width: 1900px;
    margin: auto;
}
.title {
    font-size: 40px;
    line-height: calc(30 / 40);
    font-weight: bold;
    text-align: center;
    padding-top: 16.6%;
    padding-bottom: 3%;
    color: #333333;
    @media (min-width: 481px) and (max-width: 767px) {
        font-size: 30px;
        padding-bottom: 6%;
    }
    @media (max-width: 480px) {
        font-size: 22px;
        padding-bottom: 6%;
        padding-top: 12%;
    }
}
.sup__title {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: #333333;
    @media (min-width: 481px) and (max-width: 767px) {
        font-size: 25px;
    }
    @media (max-width: 480px) {
        font-size: 18px;
    }
}
.section__txt {
    p {
        line-height: 2.125;
        padding-top: 5%;
        @media (min-width: 481px) and (max-width: 767px) {
            font-size: 22px;
        }
        @media (max-width: 480px) {
            font-size: 14px;
        }
        @media (max-width: 480px) {
            padding-top: 2.5%;
        }
    }
}
.section__map {
    background: #dbebf2;
    background-image: url(../images/img25.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left 92%;
    background-size: 100% auto;
    @media (max-width: 768px) {
        background-image: none;
    }
}
.map__wrapper {
    position: relative;
    // display: block;
    width: 100%;
    // max-width: 1700px;
    margin: 0 auto;
    // -webkit-background-size: auto;
    // background-size: auto;
    z-index: 1;
}
.map__bg {
    position: absolute;
    background-image: linear-gradient(transparent, transparent), url(../images/img20.svg);
    background-repeat: no-repeat;
    background-position: 85% 0;
    background-size: auto;
    display: block;
    bottom: 0;
    width: 100%;
    z-index: -1;
    padding-top: 52.589%;
    @media (min-width: 481px) and (max-width: 767px) {
        padding-top: 90.5%;
    }
    @media (max-width: 480px) {
        padding-top: 86.5%;
    }
}
.map__content {
    padding-bottom: 26.47059%;
    display: block;
    @media (min-width: 481px) and (max-width: 767px) {
        padding-bottom: 45%;
    }
    @media (max-width: 480px) {
        padding-bottom: 45%;
    }
}
.inner__txt {
    margin: 0 auto;
    width: 100%;
    max-width: 690px;
    @media (min-width: 481px) and (max-width: 767px) {
        padding: 0 30px;
    }
    @media (max-width: 480px) {
        padding: 0 15px;
    }
}
.inner__content {
    width: 100%;
    max-width: 1290px;
    position: relative;
    margin: 0 auto;
}
.circle__map {
    position: relative;
    width: 45%;
    margin: 0 auto;
    margin-top: -5.8%;
    margin-right: 23%;
    @media (min-width: 768px) and (max-width: 1099px) {
        width: 63%;
    }
    @media (max-width: 767px) {
        display: none;
    }
    &:before {
        position: absolute;
        background: linear-gradient(transparent, transparent), url(../images/img21.svg) center center no-repeat;
        content: "";
        padding-bottom: 65%;
        width: 65%;
        right: -36.2%;
        top: -30%;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
        background-color: $white !important;
        background-size: 77%;
        border-radius: 50%;
    }
    &:after {
        display: block;
        padding-bottom: 100%;
        width: 100%;
        content: "";
        border-radius: 50%;
        background-color: #ffffff;
    }
}
.circle__content {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.circle__txt {
    display: table;
    width: 100%;
    height: 100%;
    p {
        display: table-cell;
        vertical-align: middle;
        padding: 0 15%;
        line-height: 2.125;
        @media (min-width: 768px) and (max-width: 1099px) {
            font-size: 14px;
            padding: 0 12%;
        }
    }
}
.circlesp__map {
    @media (min-width: 768px) {
        display: none;
    }
    @media (max-width: 767px) {
        display: block;
    }
}
.circlesp__bg {
    padding-top: 18%;
    margin-top: -20%;
    background: linear-gradient(transparent, transparent), url(../images/img31.svg) center top no-repeat;
    background-size: 100% 100%;
}
.circlesp__content {
    background-color: #FFF;
    margin-top: -3px;
    @media (min-width: 481px) and (max-width: 767px) {
        padding: 0 30px;
    }
    @media (max-width: 480px) {
        padding: 0 15px;
    }
}
.circlesp__txt {
    padding-top: 10%;
    p {
        line-height: 2.125;
        @media (min-width: 481px) and (max-width: 767px) {
            font-size: 22px;
        }
        @media (max-width: 480px) {
            font-size: 14px;
        }
    }
}
.circlesp__map {
    width: 100%;
    margin-top: 12%;
    img {
        width: 100%;
        height: auto;
    }
}

// Section wave
.section__wave {
    background-color: #61aed3;
}
.wave__bg {
    padding-top: 15.5%;
    background: linear-gradient(transparent, transparent), url(../images/img22.svg) left bottom no-repeat;
    background-size: 100% auto;
    background-color: #dbebf2;
    @media (max-width: 767px) {
        padding-top: 26.25%;
        background: linear-gradient(transparent, transparent), url(../images/img32.svg) left top no-repeat;
        background-color: #fff;
        background-size: auto;
    }
}
.wave__txt {
    margin: 0 auto;
    position: relative;
    width: 54%;
    @media (min-width: 768px) and (max-width: 1499px) {
        width: 51%;
    }
    @media (max-width: 767px) {
        width: 100%;
        padding: 40px 0 20px 0;
    }
    @media (max-width: 480px) {
        padding: 20px 0 10px 0;
    }
    p {
        color: $white;
        line-height: 2.125;
        padding-top: 5%;
        @media (min-width: 768px) and (max-width: 1499px) {
            padding: 0 15px;
        }
        @media (min-width: 481px) and (max-width: 767px) {
            padding: 0 30px;
            font-size: 22px;
        }
        @media (max-width: 480px) {
            padding: 0 15px;
            font-size: 14px;
        }
        &:nth-child(1) {
            padding-top: 7%;
            @media (max-width: 480px) {
                padding-top: 3.5%;
            }
        }
        &:nth-child(3) {
            padding-bottom: 6%;
            @media (max-width: 480px) {
                padding-bottom: 3%;
            }
        }
    }
}
.wave__pic {
    position: absolute;
    height: auto;
    @media (max-width: 767px) {
        display: none;
    }
}
.wave__pic--1 {
    width: 47%;
    left: -47.12%;
    top: 32.84%;
}
.wave__pic--2 {
    width: 36%;
    top: 59.84%;
    right: -37.8%;
}
.wave__pic--3 {
    width: 54%;
    top: -11.15543%;
    right: -56%;
    @media (min-width: 768px) and (max-width: 1499px) {
        right: -48%;
    }
}

// Section infomation
.play-group {
    width: 100%;
    max-width: 1900px;
    margin: auto;
}
.info__bg {
    padding-top: 12.7%;
    background: linear-gradient(transparent, transparent), url(../images/img23.svg) no-repeat;
    background-position: 85% top;
    background-size: 105%;
    background-color: #61AED3;
}
.box__title {
    margin-top: -6.9%;
    margin-bottom: 7.3%;
    @media (min-width: 481px) and (max-width: 767px) {
        padding: 0 30px;
        margin-top: 1%;
    }
    @media (max-width: 480px) {
        padding: 0 15px;
        margin-top: 1%;
    }
}
.box__info {
    display: flex;
    width: 100%;
    margin-bottom: 4.4%;
    @media (max-width: 767px) {
        flex-direction: column-reverse;
    }
}
.box__reverse {
    flex-direction: row-reverse;
    @media (max-width: 767px) {
        flex-direction: column-reverse;
    }
    .info__text {
        margin-right: 11.7647%;
        margin-left: 0;
        @media (min-width: 768px) and (max-width: 1099px) {
            margin-right: 6.38235%;
            margin-left: 0;
        }
        @media (max-width: 767px) {
            width: 100%;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
        @media (min-width: 481px) and (max-width: 767px) {
            padding: 0 30px;
        }
        @media (max-width: 480px) {
            padding: 0 15px;
        }
    }
}
.info__text {
    width: calc(100% - 46% - 12.7647%);
    margin-left: 12.7647%;
    @media (min-width: 768px) and (max-width: 1099px) {
        width: calc(100% - 46% - 6.38235%);
        margin-left: 6.38235%;
    }
    @media (max-width: 767px) {
        width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    @media (min-width: 481px) and (max-width: 767px) {
        padding: 0 30px;
    }
    @media (max-width: 480px) {
        padding: 0 15px;
    }
    p {
        @media (min-width: 481px) and (max-width: 767px) {
            font-size: 22px;
        }
        @media (max-width: 480px) {
            font-size: 14px;
        }
    }
}
.info__pic {
    width: 46%;
    height: 100%;
    margin-top: -2%;
    img {
        width: 100%;
        height: auto;
    }
    @media (max-width: 767px) {
        width: 100%;
        padding: 0 30px;
        margin-top: 20px;
    }
    @media (max-width: 480px) {
        margin-top: 10px;
    }
}
.info__title {
    font-size: 60px;
    font-weight: bold;
    @media (min-width: 481px) and (max-width: 767px) {
        font-size: 45px !important;
    }
    @media (max-width: 480px) {
        font-size: 30px !important;
    }
}
.info__txt {
    margin-top: 3%;
    margin-bottom: 4.2%;
    line-height: 2.125;
    @media (max-width: 767px) {
        margin-bottom: 3% !important;
    }
}
.info__access {
    border-top: 1px dotted;
    padding-top: 2%;
    line-height: 2.125;
    b {
        margin-right: 5px;
    }
}
.info__link {
    display: inline-block;
    padding: 0 5px;
    line-height: 2.125;
    @media (max-width: 767px) {
        margin-top: 10px;
    }
    a {
        color: $white;
    }
}
.box__fukuoka {
    .info__title {
        color: #907AA1;
    }
    .info__link {
        background-color: #907AA1;
    }
    .info__txt {
        margin-bottom: 1%;
    }
}
.box__saga {
    margin-bottom: 6.5%;
    .info__title {
        color: #B74D52;
    }
    .info__link {
        background-color: #B74D52;
    }
}
.box__nagasaki {
    .info__title {
        color: #935430;
    }
    .info__link {
        background-color: #935430;
    }
}
.box__oita {
    margin-bottom: 6%;
    .info__title {
        color: #4A6E33;
    }
    .info__link {
        background-color: #4A6E33;
    }
}
.box__kumamoto {
    .info__title {
        color: #8C9A28;
    }
    .info__link {
        background-color: #8C9A28;
    }
}
.box__miyazaki {
    margin-bottom: 3.6%;
    .info__title {
        color: #5B81C1;
    }
    .info__link {
        background-color: #5B81C1;
    }
}
.box__kagoshima {
    margin-bottom: 9%;
    @media (min-width: 481px) and (max-width: 767px) {
        margin-bottom: 15%;
    }
    .info__title {
        color: #48886B;
    }
    .info__link {
        background-color: #48886B;
    }
}

.section__basicinfo {
    background-color: #DBEBF2
}
.basic__title {
    font-size: 35px;
    line-height: calc(50 / 35);
    font-weight: bold;
    text-align: center;
    color: #333333;
}
.basic__infotitle {
    margin-top: -8.3%;
    margin-bottom: 4%;
    @media (min-width: 481px) and (max-width: 767px) {
        font-size: 28px;
        padding: 0 30px;
        margin-top: 1%;
    }
    @media (max-width: 480px) {
        font-size: 22px;
        padding: 0 15px;
        margin-top: 1%;
    }
}
.basic__bg {
    padding-top: 15.6%;
    background: linear-gradient(transparent, transparent), url(../images/img24.svg) left top no-repeat;
    background-size: 100% auto;
    background-color: #FFF !important;
}
.inner__small {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    @media (min-width: 768px) and (max-width: 1099px) {
        padding: 0 30px;
    }
}
.basic__pic {
    display: block;
    width: 71%;
    height: auto;
    margin: 0 14.5%;
    @media (min-width: 481px) and (max-width: 767px) {
        width: 90%;
        margin: 0 5%;
    }
    @media (max-width: 480px) {
        width: 92%;
        margin: 0 4%;
    }
}
.basic__txt {
    line-height: 2.125;
    margin-top: 9.5%;
    color: #333333;
    @media (min-width: 481px) and (max-width: 767px) {
        padding: 0 30px;
        font-size: 22px;
    }
    @media (max-width: 480px) {
        padding: 0 15px;
        font-size: 14px;
        margin-top: 4.75%;
    }
}
.basic__link {
    @media (min-width: 481px) and (max-width: 767px) {
        padding: 0 30px;
        font-size: 22px;
    }
    @media (max-width: 480px) {
        padding: 0 15px;
        font-size: 14px;
    }
    span {
        font-weight: bold;
        color: #333333;
    }
    a {
        text-decoration: none;
        display: inline-block;
        color: $white;
        padding: 6px 5px;
        background-color: #F44D5C;
        margin-left: 10px;
        word-break: break-all;
        @media (max-width: 890px) {
            margin-left: 0;
            margin-top: 5px;
        }
    }
}
.basic__linkfirst {
    margin-top: 7.4%;
    @media (max-width: 480px) {
        margin-top: 3.7%;
    }
}
.basic__linksecond {
    margin-top: 5px;
    padding-bottom: 10%;
    @media (max-width: 480px) {
        padding-bottom: 5%;
    }
    @media (max-width: 890px) {
        margin-top: 20px;
    }
}

.utility__bg {
    padding-top: 12.70588%;
    background: linear-gradient(transparent, transparent), url(../images/img23.svg) no-repeat;
    background-position: 85% top;
    background-size: 105%;
    background-color: #dbebf2;
}
.utility__title {
    margin-top: -6.5%;
    @media (min-width: 481px) and (max-width: 767px) {
        font-size: 28px;
        padding: 0 30px;
        margin-top: 1%;
    }
    @media (max-width: 480px) {
        font-size: 22px;
        padding: 0 15px;
        margin-top: 1%;
    }
}
.utility__suptitle {
    font-size: 29px;
    line-height: calc(50 / 35);
    font-weight: bold;
    text-align: center;
    margin-top: 0.5%;
    @media (min-width: 481px) and (max-width: 767px) {
        font-size: 24px;
        padding: 0 30px;
    }
    @media (max-width: 480px) {
        font-size: 18px;
        padding: 0 15px;
    }
}
.utility__txt {
    p {
        line-height: 2.125;
        margin-top: 3.5%;
        color: #333333;
        &:nth-child(2) {
            margin-bottom: 4.5%;
            @media (max-width: 480px) {
                margin-bottom: 2.25%;
                margin-top: 1.75%;
            }
        }
        @media (min-width: 481px) and (max-width: 767px) {
            padding: 0 30px;
            font-size: 22px;
        }
        @media (max-width: 480px) {
            padding: 0 15px;
            font-size: 14px;
        }
    }
}
.group__link {
    .basic__link {
        margin-top: 0.68%;
        @media (min-width: 481px) and (max-width: 767px) {
            margin-top: 6%;
        }
        @media (max-width: 480px) {
            margin-top: 3%;
        }
    }
    @media (min-width: 481px) and (max-width: 767px) {
        margin-bottom: 15%;
    }
    @media (max-width: 480px) {
        margin-bottom: 7.5%;
    }
}
.menu__footer {
    margin-top: 3.9%;
    margin-bottom: 6.58%;
    @media (max-width: 767px) {
        display: none;
    }
}

// Create pic animation
.pic__animate {
    position: relative;
    display: block;
    max-width: 690px;
    margin: 0 auto;
    z-index: 2;
    @media (max-width: 1099px) {
        display: none;
    }
}
.img__animate {
    display: block !important;
    position: absolute;
    transform-origin: top left;
}
.img__animate--1 {
    @media (min-width: 1401px) {
        top: 449px;
        left: -74%;
        width: 78%;
    }
    @media (min-width: 1100px) and (max-width: 1400px) {
        top: 378px;
        left: -58%;
        width: 60%;
    }
}
.img__animate--2 {
    @media (min-width: 1401px) {
        top: 674px;
        left: -25%;
        width: 60%;  
    }
    @media (min-width: 1100px) and (max-width: 1400px) {
        top: 609px;
        left: -25%;
        width: 52%; 
    }
}
.img__animate--3 {
    @media (min-width: 1401px) {
        top: 890px;
        left: -36%;
        width: 60%; 
    }
    @media (min-width: 1100px) and (max-width: 1400px) {
        top: 821px;
        left: -36%;
        width: 52%;
    }
}
.img__animate--4 {
    @media (min-width: 1401px) {
        top: 1232px;
        left: -30%;
        width: 55%;  
    }
    @media (min-width: 1100px) and (max-width: 1400px) {
        top: 1096px;
        left: -19%;
        width: 45%; 
    }
}
.img__animate--5 {
    display: block !important;
    position: absolute;
    transform-origin: top right;
    @media (min-width: 1900px) {
        top: 562px;
        right: -78%;
        width: 60%;
    }
    @media (min-width: 1701px) and (max-width: 1899px) {
        top: 483px;
        right: -73%;
        width: 60%;
    }
    @media (min-width: 1401px) and (max-width: 1700px) {
        top: 483px;
        right: -73%;
        width: 71%;
    }
    @media (min-width: 1100px) and (max-width: 1400px) {
        top: 450px;
        right: -53%;
        width: 60%;
    }
}