.banner {
    position: relative;
    background: url(../images/img04.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 25.8823529%;
    p {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        width: 100%;
        font-size: 80px;
        letter-spacing: 2px;
        // line-height: 22px;
        color: #ffffff;
        font-weight: 400;
        font-family: 'BebasNeue Book';
    }
}
.menu__content {
    padding: 8px 0px;
    background-color: #ffffff;
    ul {
        // max-width: 1290px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 auto;
        li.active-bg-dark {
            background: #000000;
            a {
                color: #ffffff;
                // font-size: 24px !important;
                &:before {
                    content: unset;
                }
                &:after {
                    content: unset !important;
                }
            }
        }
        li {
            &:hover {
                background-color: #000000;
            }
            margin: 8px 0;
            a {
                position: relative;
                font-family: 'BebasNeue', sans-serif;
                display: block;
                padding: 10px 15px;
                font-size: 27px;
                line-height: calc(17 / 27);
                color: #000000;
                width: 100%;
                @media (min-width: 576px) and (max-width: 767.98px) {
                    font-size: 18px;
                }
                @media (min-width: 425px) and (max-width: 575.98px) {
                    font-size: 16px;
                    padding: 4px;
                }
                @media (min-width: 320px) and (max-width: 424.98px) {
                    font-size: 14px;
                    padding: 4px;
                }
                &:hover {
                    color: #ffffff;
                    &:before {
                        content: unset;
                    }
                    &:after {
                        content: unset !important;
                    }
                }
                // &:before {
                //     content: "";
                //     position: absolute;
                //     left: -11%;
                //     width: 2px;
                //     height: 60%;
                //     background-color: #BCBCBC;
                //     top: 50%;
                //     transform: translateY(-50%);
                // }
            }
        }
    }
}
.breadcrumb {
    width: 100%;
    max-width: 1290px;
    position: relative;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 0.78%;
    li {
        color: #666666;
        display: inline-block;
        text-transform: uppercase;
        font-size: 16px;
        line-height: calc(34 / 16);
        &:nth-child(1)::after,
        &:nth-child(2)::after {
            content: '>';
            padding-left: 5px;
        }
        &:nth-child(3) {
            @media (min-width: 320px) and (max-width: 424.98px) {
                font-size: 11px;
            }
        }
        a {
            @media (min-width: 320px) and (max-width: 424.98px) {
                font-size: 11px;
            }
            color: #666666;
            &:nth-child(1),
            &:nth-child(2) {
                border-bottom: 1px solid #666666;
            }
        }
    }
}

.place-map__inner {
    background: #dbebf2;
    max-width: 1900px;
    margin: auto;
}
.place-map-top {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1700px;
    margin: 0 auto;
    -webkit-background-size: auto;
    background-size: auto;
    z-index: 1;
}
.place-map {
    background-position: 85% 0;
    background-size: auto;
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    z-index: -1;
    padding-top: 52.58824%;
    // background: transparent url(../images/map_01@2x.png) center center no-repeat;
    background-image: -webkit-linear-gradient(transparent, transparent), url(../images/map_01.svg);
    background-image: linear-gradient(transparent, transparent), url(../images/map_01.svg);
    // background-position: center right;
    background-repeat: no-repeat;
}
.place-inner {
    padding-bottom: 26.47059%;
    z-index: 20;
    display: block;
}
.place-content {
    margin: 0 auto;
    // padding-top: 5.88235%;
    width: 100%;
    max-width: 690px;
}
.inner {
    width: 100%;
    max-width: 1316px;
    position: relative;
    margin: 0 auto;
    padding: 0 13px;
    // box-sizing: border-box;
}
.circle {
    position: relative;
    width: 45%;
    // margin: -7.14286% auto 0;
    // background-color: transparent;
    // color: #333;
    margin: 0 auto;
    margin-top: -5.8%;
    margin-right: 23%;
    &:before {
        // display: block;
        padding-bottom: 65%;
        width: 65%;
        height: 0;
        content: "";
        position: absolute;
        right: -36.2%;
        top: -30%;
        z-index: 3;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
        background-color: #ffffff !important;
        // background: transparent url(../images/map_02@2x.png) center center no-repeat;
        background-image: -webkit-linear-gradient(transparent, transparent), url(../images/map_02.svg);
        background-image: linear-gradient(transparent, transparent), url(../images/map_02.svg);
        background-size: 77%;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 50%;
        // box-sizing: border-box;
    }
    &:after {
        display: block;
        padding-bottom: 100%;
        width: 100%;
        height: 0;
        content: "";
        border-radius: 50%;
        box-sizing: border-box;
        background-color: #ffffff;
    }
}
.circle-inner {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.circle-content {
    display: table;
    width: 100%;
    height: 100%;
    p {
        display: table-cell;
        vertical-align: middle;
        padding: 0 15%;
        line-height: 2.125;
    }
}
.show-pc {
    display: block !important;
}

.place-activity {
    width: 100%;
    max-width: 1900px;
    margin: auto;
    background-color: #61aed3;
}
.place-activity-top {
    padding-top: 13.5%;
    /* height: 264px; */
    background: transparent url(../images/bg_wave_01_pc@2x.png) center center no-repeat;
    background-image: -webkit-linear-gradient(transparent, transparent), url(../images/bg_wave_01_pc.svg);
    background-image: linear-gradient(transparent, transparent), url(../images/bg_wave_01_pc.svg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-bottom: -2px;
    background-color: #dbebf2;
}
.place-activity-mid__inner {
    width: 100%;
    margin: 0 auto;
    position: relative;
    max-width: 1290px;
}
.activity--text {
    // max-width: 700px;
    // padding-top: 5.11628%;
    // padding-bottom: 1.16279%;
    margin: 0 auto;
    position: relative;
    width: 54%;
    p {
        color: $white;
        line-height: 2.125;
        padding-top: 5%;
        &:nth-child(1) {
            padding-top: 7%;
        }
        &:nth-child(3) {
            padding-bottom: 6%;
        }
    }
}
.wave__pic {
    position: absolute;
    height: auto;
}
.wave__pic--1 {
    width: 47%;
    left: -47.12%;
    top: 32.84%;
}
.wave__pic--2 {
    width: 36%;
    top: 59.84%;
    right: -37.8%;
}
.wave__pic--3 {
    width: 54%;
    top: -11.15543%;
    right: -56%;
}

.play-group {
    width: 100%;
    max-width: 1900px;
    margin: auto;
}
.place-group-top {
    padding-top: 12.70588%;
    /* height: 216px; */
    background: transparent url(../images/bg_wave_2_pc@2x.png) center center no-repeat;
    background-image: -webkit-linear-gradient(transparent, transparent), url(../images/bg_wave_2_pc.svg);
    background-image: linear-gradient(transparent, transparent), url(../images/bg_wave_2_pc.svg);
    background-position: 85% top;
    background-repeat: no-repeat;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: 105%;
    background-color: #61aed3;
    margin-bottom: -2px;
}
.box__title {
    margin-top: -6.9%;
    margin-bottom: 7.3%;
}
.inner-1290 {
    max-width: 1290px;
    margin: 0 auto;
}
.box__info {
    display: flex;
    width: 100%;
    margin-bottom: 4.4%;
}
.info__text {
    width: calc(100% - 46% - 12.7647%);
    margin-left: 12.7647%;
}
.info__title {
    font-size: 60px;
    // line-height: calc(34 / 60);
    font-weight: bold;
}
.info__txt {
    margin-top: 3%;
    margin-bottom: 4.2%;
    line-height: 2.125
}
.info__access {
    border-top: 1px dotted;
    padding-top: 2%;
    line-height: 2.125;
    b {
        margin-right: 5px;
    }
}
.info__link {
    display: inline-block;
    padding: 0 5px;
    // margin-top: 2.1%;
    line-height: 2.125;
    a {
        color: $white;
    }
}
.info__pic {
    width: 46%;
    margin-top: -2%;
    img {
        width: 100%;
        height: auto;
    }
}
.box__reverse {
    flex-direction: row-reverse;
    .info__text {
        margin-right: 11.7647%;
        margin-left: 0;
    }
}
.box__fukuoka {
    .info__title {
        color: #907AA1;
    }
    .info__link {
        background-color: #907AA1;
    }
    .info__txt {
        margin-bottom: 1%;
    }
}
.box__saga {
    margin-bottom: 6.5%;
    .info__title {
        color: #B74D52;
    }
    .info__link {
        background-color: #B74D52;
    }
}
.box__nagasaki {
    .info__title {
        color: #935430;
    }
    .info__link {
        background-color: #935430;
    }
}
.box__oita {
    margin-bottom: 6%;
    .info__title {
        color: #4A6E33;
    }
    .info__link {
        background-color: #4A6E33;
    }
}
.box__kumamoto {
    .info__title {
        color: #8C9A28;
    }
    .info__link {
        background-color: #8C9A28;
    }
}
.box__miyazaki {
    margin-bottom: 3.6%;
    .info__title {
        color: #5B81C1;
    }
    .info__link {
        background-color: #5B81C1;
    }
}
.box__kagoshima {
    margin-bottom: 9%;
    .info__title {
        color: #48886B;
    }
    .info__link {
        background-color: #48886B;
    }
}

.basic__info {
    width: 100%;
    max-width: 1900px;
    margin: auto;
    background-color: #dbebf2
}
.basic__title {
    font-size: 35px;
    line-height: calc(50 / 35);
    font-weight: bold;
    text-align: center;
}
.basic__infotitle {
    margin-top: -8.3%;
    margin-bottom: 4%
}
.basic__top {
    padding-top: 15.6%;
    /* height: 264px; */
    background: transparent url(../images/bg_wave_4_pc@2x.png) center center no-repeat;
    background-image: -webkit-linear-gradient(transparent, transparent), url(../images/bg_wave_4_pc.svg);
    background-image: linear-gradient(transparent, transparent), url(../images/bg_wave_4_pc.svg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #FFF !important;
    // margin-bottom: -3px;
}
.inner-960 {
    max-width: 960px;
    margin: 0 auto;
}
.basic__pic {
    display: flex;
    justify-content: center;
    img {
        width: calc(100% - 30%);
        height: auto;
    }
}
.basic__txt {
    line-height: 2.125;
    margin-top: 9.5%;
}
.basic__link {
    display: flex;
    align-items: center;
    margin-top: 1%;
    p {
        &:nth-child(2) {
            display: inline-block;
            padding: 4px 5px;
            background-color: #F44D5C;
            margin-left: 10px;
            // line-height: 2.5625;
            a {
                color: $white;
                padding: 0 5px;
            }
        }
    }
}
.basic__linkfirst {
    margin-top: 7.4%;
}
.basic__linksecond {
    padding-bottom: 10%;
}

.utility__wrap {
    width: 100%;
    max-width: 1900px;
    margin: auto;
}
.utility {
    padding-top: 12.70588%;
    /* height: 216px; */
    background: transparent url(../images/bg_wave_2_pc@2x.png) center center no-repeat;
    background-image: -webkit-linear-gradient(transparent, transparent), url(../images/bg_wave_2_pc.svg);
    background-image: linear-gradient(transparent, transparent), url(../images/bg_wave_2_pc.svg);
    background-position: 85% top;
    background-repeat: no-repeat;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: 105%;
    background-color: #dbebf2;
    margin-bottom: -2px;
}
.utility__title {
    margin-top: -6.5%;
}
.utility__suptitle {
    font-size: 29px;
    line-height: calc(50 / 35);
    font-weight: bold;
    text-align: center;
    margin-top: 0.5%;
}
.utility__txt {
    p {
        line-height: 2.125;
        margin-top: 3.5%;
        &:nth-child(2) {
            margin-bottom: 4.5%;
        }
    }
}
.group__link {
    // margin-bottom: 7.8%;
    .basic__link {
        margin-top: 1.2%;
    }
}
.menu__footer {
    margin-top: 3.9%;
    margin-bottom: 6.58%;
}

.title {
    font-size: 40px;
    line-height: calc(30 / 40);
    font-weight: bold;
    text-align: center;
    padding-top: 16.6%;
    padding-bottom: 3%;
}
.sup__title {
    font-size: 28px;
    // line-height: calc(51 / 28);
    font-weight: bold;
    text-align: center;
    // padding-top: 3%;
}
.section__txt {
    p {
        line-height: 2.125;
        padding-top: 5%;
    }
}